include ../jade-helpers.jade
doctype html
head
	include ../_head/meta.jade

	title Example page | Yelr
	meta(name="description", content="An example jade file that gets turned into HTML, cause after a long enough time no one likes writing HTML")

	include ../_head/favicon.jade
	include ../_head/head-scripts.jade
	link(rel="stylesheet", href="style/style.css")


body#example
	a(href="#main", class="assistive-text") Skip to main content
	div.container
		p This is an example jade file that is converted to HTML

	//-script(src="js/libs/jquery.js")
	//-script(src="js/main.js")
</html>
