//- Report bar
script#report-bar(type="text/x-handlebars-template").
  <div class="report-bar flex">
    <a id="capture-image" href="#report/image" class="btn"><i class="fa fa-camera"></i></a>
    <a id="capture-video" href="#report/video" class="btn"><i class="fa fa-video-camera"></i></a>
    <a id="capture-audio" href="#report/audio" class="btn"><i class="fa fa-microphone"></i></a>
    <a id="capture-text" href="#report/text" class="btn"><i class="fa fa-pencil-square-o"></i></a>
  </div>
  <p class="anonymous-disclaimer">All posts are anonymous.</p>


//- submit footer
script#submit-footer(type="text/x-handlebars-template").
  <div class="flex">
    <div id="location-btn" data-info="location" class="btn"><i class="fa fa-map-marker"></i></div>
    <div id="tags-btn" data-info="tags" class="btn"><i class="fa fa-tags"></i></div>
    <div id="anon-btn" data-info="identity" class="btn"><i class="fa fa-user"></i></div>
  </div>
  <div data-current="none" class="more-info hidden">
    <div data-info="location" class="location-information extra-info">
      <p><i class="fa fa-location-arrow">&nbsp;</i><span>Location</span></p>
      <p id="location">43.1567975, -77.6167498</p>
      <p class="location-disclaimer">We use this information to help verify the accuracy of your submission, as well as if you are from the area.</p>
    </div>
    <p id="uuid" data-info="identity" class="extra-info">121924012392</p>
  </div>
  <p class="anonymous-disclaimer">Posting anonymously</p>


//- Messages
script#messages-footer(type="text/x-handlebars-template").
  <div class="flex">
    <!--<div class="btn"><i class="fa fa-plus"></i></div>-->
    <div class="btn"><i class="fa fa-trash-o"></i> Delete</div>
  </div>
