//- Report bar
script#report-bar(type="text/x-handlebars-template").
  <div class="report-bar flex">
    <a id="capture-image" href="#report/image" class="btn"><i class="fa fa-camera"></i></a>
    <a id="capture-video" href="#report/video" class="btn"><i class="fa fa-video-camera"></i></a>
    <a id="capture-audio" href="#report/audio" class="btn"><i class="fa fa-microphone"></i></a>
    <a id="capture-text" href="#report/text" class="btn"><i class="fa fa-pencil-square-o"></i></a>
  </div>
  <p class="anonymous-disclaimer">{{all_posts_are_anonymous}}</p>


//- Messages
script#messages-footer(type="text/x-handlebars-template").
  <div class="flex">
    <!--<div class="btn"><i class="fa fa-plus"></i></div>-->
    <div class="btn"><i class="fa fa-trash-o"></i> Delete</div>
  </div>
