//- text
script#text-form(type="text/x-handlebars-template").
  <form class="text-form" method="post" accept-charset="utf-8" enctype="multipart/form-data" class="submit-form">
    <input type="hidden" name="client_id" value="{{ client_id }}">
    <input type="hidden" name="media_type" value="text">
    {{#if assignment_id}}
    <textarea name="media_text" rows="2" columns="10" placeholder="{{tell_us_more}}"></textarea>
    {{else}}
    <textarea name="media_text" rows="2" columns="10" placeholder="{{whats_on_your_mind}}"></textarea>
    {{/if}}
  </form>


//- reply to: question
script#reply-text-form(type="text/x-handlebars-template").
  <form class="reply-text-form" method="post" accept-charset="utf-8" enctype="multipart/form-data" class="submit-form">
    <input type="hidden" name="client_id" value="{{ client_id }}">
    <input type="hidden" name="assignment_id" value="{{ assignment_id }}">
    <input type="hidden" name="media_type" value="text">
    <textarea name="media_text" rows="2" columns="10" placeholder="{{tell_us_the_story}}"></textarea>
  </form>


//- image
script#image-form(type="text/x-handlebars-template").
  <form class="image-form" method="post" accept-charset="utf-8" enctype="multipart/form-data" class="submit-form">
    <input type="hidden" name="client_id" value="{{ client_id }}">
    <input type="hidden" name="media_type" value="image">
    {{#if assignment_id}}
    <input type="hidden" name="assignment_id" value="{{ assignment_id }}">
    {{else}}
    <input type="hidden" name="assignment_id" value="">
    {{/if}}
    <textarea name="media_caption" rows="2" columns="10" placeholder="{{add_description}}"></textarea>
    <!--<input type="file" name="media_file" size="30" multiple>-->
    <div class="media-submission-wrapper">
      <div class="media-preview">
        <i class="fa fa-close"></i>
        <img src="" class="img-preview">
      </div>
    </div>
  </form>


//- video
script#video-form(type="text/x-handlebars-template").
  <form class="video-form" method="post" accept-charset="utf-8" enctype="multipart/form-data" class="submit-form">
    <input type="hidden" name="client_id" value="{{ client_id }}">
    <input type="hidden" name="media_type" value="video">
    <textarea name="media_caption" rows="2" columns="10" placeholder="{{add_description}}"></textarea>
    <!--<input type="file" name="media_file" size="30" multiple>-->
    <div class="media-submission-wrapper">
      <div class="media-preview">
        <i class="fa fa-close"></i>
        <i class="fa fa-video-camera"></i>
      </div>
    </div>
  </form>

//- audio
script#audio-form(type="text/x-handlebars-template").
  <form class="audio-form" method="post" accept-charset="utf-8" enctype="multipart/form-data" class="submit-form">
    <input type="hidden" name="client_id" value="{{ client_id }}">
    <input type="hidden" name="media_type" value="audio">
    <textarea name="media_caption" rows="2" columns="10" placeholder="{{add_description}}"></textarea>
    <!--<input type="file" name="media_file" size="30" multiple>-->
    <div class="media-submission-wrapper">
      <div class="media-preview">
        <i class="fa fa-close"></i>
        <i class="fa fa-microphone"></i>
      </div>
    </div>
  </form>


//- reply to: survey
script#reply-survey-form(type="text/x-handlebars-template").
  <form method="post" accept-charset="utf-8" enctype="multipart/form-data" class="submit-form">
    <input type="hidden" name="client_id" value="{{ client_id }}">
    <input type="hidden" name="assignment_id" value="{{ assignment_id }}">
    <ul class="list-style-none radio-list">
      {{#if answer0}} <li> <label> <input type="radio" name="survey_answer" value="answer0"><span>{{answer0}}</span> </label> </li> {{/if}}
      {{#if answer1}} <li> <label> <input type="radio" name="survey_answer" value="answer1"><span>{{answer1}}</span> </label> </li> {{/if}}
      {{#if answer2}} <li> <label> <input type="radio" name="survey_answer" value="answer2"><span>{{answer2}}</span> </label> </li> {{/if}}
      {{#if answer3}} <li> <label> <input type="radio" name="survey_answer" value="answer3"><span>{{answer3}}</span> </label> </li> {{/if}}
      {{#if answer4}} <li> <label> <input type="radio" name="survey_answer" value="answer4"><span>{{answer4}}</span> </label> </li> {{/if}}
      {{#if answer5}} <li> <label> <input type="radio" name="survey_answer" value="answer5"><span>{{answer5}}</span> </label> </li> {{/if}}
      {{#if answer6}} <li> <label> <input type="radio" name="survey_answer" value="answer6"><span>{{answer6}}</span> </label> </li> {{/if}}
      {{#if answer7}} <li> <label> <input type="radio" name="survey_answer" value="answer7"><span>{{answer7}}</span> </label> </li> {{/if}}
      {{#if answer8}} <li> <label> <input type="radio" name="survey_answer" value="answer8"><span>{{answer8}}</span> </label> </li> {{/if}}
      {{#if answer9}} <li> <label> <input type="radio" name="survey_answer" value="answer9"><span>{{answer9}}</span> </label> </li> {{/if}}
    </ul>
  </form>

//- extra media bar
script#extra-media(type="text/x-handlebars-template").
  <div id="add-extra-media" class="add-extra-media">
    <p class="wrapper">{{add_extra_media}}</p>
    <div class="flex">
      <div class="add-image flex-1"><i class="fa fa-plus"></i><i class="fa fa-camera"></i></div>
      <div class="add-video flex-1"><i class="fa fa-plus"></i><i class="fa fa-video-camera"></i></div>
      <div class="add-audio flex-1"><i class="fa fa-plus"></i><i class="fa fa-microphone"></i></div>
    </div>
  </div>
