//- text
script#text-form(type="text/x-handlebars-template").
  <form class="text-form" method="post" action="http://yellrdev.wxxi.org/upload_media.json" accept-charset="utf-8" enctype="multipart/form-data" class="submit-form">
    <input type="hidden" name="client_id" value="{{ client_id }}">
    <input type="hidden" name="assignment_id" value="{{ assignment_id }}">
    <input type="hidden" name="media_type" value="text">
    <input type="text" name="media_caption" placeholder="Title (optional)">
    <textarea name="media_text" rows="2" columns="10" placeholder="Add description"></textarea>
  </form>

//- image
script#image-form(type="text/x-handlebars-template").
  <form class="image-form" method="post" action="http://yellrdev.wxxi.org/upload_media.json" accept-charset="utf-8" enctype="multipart/form-data" class="submit-form">
    <input type="hidden" name="client_id" value="{{ client_id }}">
    <input type="hidden" name="assignment_id" value="{{ assignment_id }}">
    <input type="hidden" name="media_type" value="image">
    <textarea name="media_text" rows="2" columns="10" placeholder="Add description"></textarea>
    <input type="file" name="media_file" size="30" multiple>
    <div class="media-submission-wrapper">
      <div class="media-preview">
        <i class="fa fa-close"></i>
        <img src="" class="img-preview">
      </div>
    </div>
  </form>


//- video
script#video-form(type="text/x-handlebars-template").
  <form class="video-form" method="post" action="http://yellrdev.wxxi.org/upload_media.json" accept-charset="utf-8" enctype="multipart/form-data" class="submit-form">
    <input type="hidden" name="client_id" value="{{ client_id }}">
    <input type="hidden" name="assignment_id" value="{{ assignment_id }}">
    <input type="hidden" name="media_type" value="video">
    <textarea rows="2" columns="10" placeholder="Add description"></textarea>
    <input type="file" name="media_file" size="30" multiple>
    <div class="media-submission-wrapper">
      <div class="media-preview">
        <i class="fa fa-close"></i>
        <i class="fa fa-video-camera"></i>
      </div>
    </div>
  </form>

//- audio
script#audio-form(type="text/x-handlebars-template").
  <form class="audio-form" method="post" action="http://yellrdev.wxxi.org/upload_media.json" accept-charset="utf-8" enctype="multipart/form-data" class="submit-form">
    <input type="hidden" name="client_id" value="{{ client_id }}">
    <input type="hidden" name="assignment_id" value="{{ assignment_id }}">
    <input type="hidden" name="media_type" value="audio">
    <textarea rows="2" columns="10" placeholder="Add description"></textarea>
    <input type="file" name="media_file" size="30" multiple>
    <div class="media-submission-wrapper">
      <div class="media-preview">
        <i class="fa fa-close"></i>
        <i class="fa fa-microphone"></i>
      </div>
    </div>
  </form>


//- reply to: survey
script#reply-survey-form(type="text/x-handlebars-template").
  <form method="post" accept-charset="utf-8" enctype="multipart/form-data" class="submit-form">
    <input type="hidden" name="client_id" value="{{ client_id }}">
    <input type="hidden" name="assignment_id" value="{{ assignment_id }}">
    <ul class="list-style-none radio-list">
      {{#each answers}}
      <li>
        <label>
          <input type="radio" name="survey_answer" value="{{@index}}"><span>{{this}}</span>
        </label>
      </li>
      {{/each}}
    </ul>
  </form>


//- reply to: question
script#reply-text-form(type="text/x-handlebars-template").
  <form id="reply-text-form" method="post" accept-charset="utf-8" enctype="multipart/form-data" class="submit-form">
    <input type="hidden" name="client_id" value="{{ client_id }}">
    <input type="hidden" name="assignment_id" value="{{ assignment_id }}">
    <textarea name="media_text" rows="2" columns="10" placeholder="Tell us the story..."></textarea>
  </form>

