//- main
script#main-header(type="text/x-handlebars-template").
  <h1 id="app-h1"><a href="#assignments">Yellr</h1>
  <nav id="app-nav">
    <a href="#notifications" id="notifications-btn" class="btn"><i class="fa fa-bell-o"></i></a>
    <a href="#messages" id="messages-btn" class="btn"><i class="fa fa-envelope-o"></i></a>
    <a href="#profile" id="profile-btn" class="btn"><i class="fa fa-user"></i></a>
  </nav>


//- generic page template
script#page-header(type="text/x-handlebars-template").
  <nav class="back-btn">
    {{#if hash }} <a href="{{hash}}">
    {{else}} <a href="#">
    {{/if}}
    <i class="fa fa-arrow-left"></i></a>
  </nav>
  <h1 id="page-h1">{{page}}</h1>
  {{#if refresh}}
  <span id="refresh-btn"><i class="fa fa-refresh"></i></span>
  {{else}}
  <span >&nbsp;</span>
  {{/if}}


//- submitting  report
script#submit-header(type="text/x-handlebars-template").
  <nav class="back-btn">
    {{#if hash }} <a href="{{hash}}">
    {{else}} <a href="#">
    {{/if}}
    <i class="fa fa-arrow-left"></i></a>
  </nav>
  <h1 id="page-h1">Submit Report</h1>
  <a id="submit-btn" href="#"><i class="fa fa-check"></i></a>
