//- message template
script#messages-li(type="text/x-handlebars-template").
  {{#each messages}}
  <li class="message-li">
    <h2 class="message-overview">WXXI<span class="message-subject">Hello from WXXI!</span></h2>
    <p class="message-preview">We like the work you're doing and were</p>
    <p class="message-meta">5:23 pm</p>
  </li>
  {{/each}}
