//- message template
script#messages-li(type="text/x-handlebars-template").
  {{#each messages}}
  <li class="message-li" data-id="{{@index}}">
    <a href="#view-message/{{@index}}">
      <h2 class="message-subject">{{subject}}</h2>
      <p class="message-sender">{{from_first_name}} {{from_last_name}}</p>
      <!--<p class="message-sender-organization">{{from_organization}}</p>-->
      <!--<p class="message-preview">{{message_preview}}</p>-->
      <p class="message-meta">{{message_datetime}}</p>
    </a>
  </li>
  {{/each}}

script#view-message-template(type="text/x-handlebars-template").
  <section class="message-wrapper">
    <h2>{{subject}}</h2>
    <p class="message-sender">{{from_first_name}} {{from_last_name}}</p>
    <p class="message-meta">{{message_datetime}}</p>
    <div class="message-content">
      {{text}}
    </div>
  </section>
