script#news-feed-li(type="text/x-handlebars-template").
  {{#if stories}}
    {{#each stories}}
    <li>
      <h2 class="t1 news-title"><a href="#view-news/{{id}}">{{title}}</a></h2>
      <div class="news-preview">{{{top_text}}}</div>
      {{#if image}}
      <figure>
        <img src="{{image}}">
        {{#if image_caption}}
        <figcaption>{{image_caption}}</figcaption>
        {{/if}}
      </figure>
      {{/if}}
    </li>
    {{/each}}
  {{else}}
    <li class="faded">
      <h2 class="t1 news-title">{{no_news_in_your_area}}</h2>
      <div class="news-preview">{{get_your_voice_heard}}</div>
    </li>
  {{/if}}

script#news-story-template(type="text/x-handlebars-template").
  <h2 class="news-title">{{title}}</h2>
  {{#if image}}
  <figure>
    <img src="{{image}}">
    {{#if image_caption}}
    <figcaption>{{image_caption}}</figcaption>
    {{/if}}
  </figure>
  {{/if}}
  <div class="story-content">{{{contents}}}</div>

