script#post-submitted-li(type="text/x-handlebars-template").
  <li>Your post has been submitted! <br/><small>Post ID: {{ post_id }}</small></li>

script#post-viewed-li(type="text/x-handlebars-template").
  <li><strong>{{ organization }}</strong> viewed your post</li>
