script#homepage-subnav(type="text/x-handlebars-template").
  <div id="assignments-tab"><a href="#assignments">{{assignments}}</a></div>
  <div id="news-feed-tab"><a href="#news-feed">{{news_feed}}</a></div>
