// base styles
@import "pieces/mixins";
@import "pieces/classes";
@import "pieces/normalize";
@import "pieces/base";
@import "pieces/modules";

// yellr specific
@import "theme/vars";
@import "theme/classes";
@import "theme/typography";
@import "theme/forms";
@import "theme/header";
@import "theme/user-bar";
@import "theme/question-prompt";
@import "theme/assignments";


#yellr-index-wrapper {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	margin-bottom: 4rem;
}

#yellr-index {
	background: $yellow;
	h1 {
		text-align: center;
		font-size: 5rem;
		max-width: 32rem;
		margin: 0 auto 2rem;
	}
}
#yellr-project-list {
	max-width: 28rem;
	margin: 0 auto;
	border-left: 1px solid $dark-yellow;
	border-right: 1px solid $dark-yellow;

	h2 {
		font-weight: bold;
		font-size: 1.5rem;
		margin: 0 0.75rem 0.25rem 0;
		display: inline-block;
	}
	.flex-3 {
		padding: 0.875rem 1rem 0.5rem;
	}
	.flex-1 {
		align-self: stretch;
	}
	li {
		@include flexbox();
		border-top: 1px solid $dark-yellow;
		&:last-child {border-bottom: 1px solid $dark-yellow; }
	}
	a {
		color: inherit;
		text-decoration: none;
	}
}
.project-link {
	border-left: 1px solid $dark-yellow;
	text-align: center;
	padding: 2rem 1rem;
	max-width: 6rem;
	@include transition(background, 0.3s);
	&:hover {background: $dark-yellow; }
	span {vertical-align: sub; }

}

// ===================================
// quick and dirty testing
// ===================================
.module-wrapper {
	&:nth-child(2),
	&:nth-child(3) {
		display: none;
	}
}
// ===================================



.submit-report-header {
	background: $yellow;
	z-index: 75 !important;
	max-height: 3.25rem;
	border-bottom: 1px solid $dark-yellow;
	@include flexbox();
	a, span {
		padding: 1rem;
	}
	a {
		max-width: 3.25rem;
		text-align: center;
	}
}
.header-back {
	@include flex(1);
	color: darken($yellow, 15%);
	border-right: 1px solid $dark-yellow;
}

.header-current {
	@include flex(3);
	font-weight: bold;
}

.header-next {
	@include flex(1);
	color: $black;
	border-left: 1px solid darken($yellow, 5%);
}

.no-border {
	border: none;
}

.submit-preview {
	padding: 1rem 0;
	textarea {
		margin-bottom: 0.75rem;
	}
}

.media-submission-wrapper {
	@include flexbox();
	margin-bottom: 0.875rem;
}

.media-preview {
	@include flex(3);
}
.media-options {
	@include flex(1);
	max-width: 3rem;
	text-align: center;
	.fa-plus {
		color: #aaa;
	}
}

.submit-report-footer {
	z-index: 75 !important;
	// background: tomato;
	background: #ebebeb;
	border-top: 1px solid #ccc;
	div {
		text-align: center;
		border-right: 1px solid #ccc;
		@include transition(background, 0.3s);
		&:last-child {border: none; }
		&:hover {
			background: #fff;
		}
	}
	i {
		padding: 0.875rem;
		color: #999;
	}
}


.extra-info {
	position: relative;
}
.info {
	position: absolute;
	top: 0;
	left: 0;
	max-height: 0;
	@include transition(max-height, 0.3s);
	&.show {
		max-height: 30rem;
	}
}

.tags-list {
	list-style: none;
	font-size: 0.875rem;
	margin-bottom:0.75rem;
	li {
		@include transition(color, 0.3s);
		color: #aaa;
		display: inline-block;
		vertical-align: top;
		margin-right: 0.25rem;
		&:hover {color: #555; }
		&:before {content: "#"; }
	}
}


.pos-rel {
	position: relative;
}




// DELETE THIS LATER
// THIS IS A QUICK AND DIRTY HACK THAT COULD HIDE DEEPER ISSUES
.container {
	overflow: hidden;
}
// ===================================




// HEADER BAR
// ----------------------------
.header-bar-wrapper {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 50;
}

#header-bar {
	@include flexbox();
	background: $yellow;
	color: $black;
	$border: #aaa;
	border-bottom: 1px solid $border;
	h1 {
		margin: 0;
		line-height: 1.65;
	}
}
#home-btn {
	padding-left: 1rem;
}
.more-controls {
	@include flexbox();
	// max-width: 6.375rem;
	div {
		@include transition(background, 0.3s);
		width: 49.5%; // in case the phone doesn't support flex
		max-width: 3.125rem;
		@include flex(1);
		display: inline-block;
		padding: 1rem;
		text-align: center;
		border-left: 1px solid $dark-yellow;
		&:hover {background: $dark-yellow; }
	}	
	i {font-size: 1.25rem; }
}








// REPORT BAR
// ----------------------------
.report-bar-wrapper {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 50;
}
#report-bar {
	@include flexbox();
	background: $yellow;
	color: $black;
	border-bottom: 1px solid #aaa;
	div {
		@include transition(background, 0.3s);
		width: 25%; // in case the phone doesn't support flex
		@include flex(1);
		padding: 0.75rem;
		text-align: center;
		border-right: 1px solid $dark-yellow;
		&:last-child {border: none; }
		&:hover {background: $dark-yellow; }
	}
	i {font-size: 1.25rem; }
}
#anonymous-disclaimer {
	text-align: center;
	font-style: italic;
	font-size: 0.75rem;
	padding: 0.25rem 0;
	margin-bottom: 0;
	background: $black;
	color: $white;
	max-width: none;
}








%wrapper {
	width: 90%;
	max-width: 1024px;
	margin: 0 auto;
}

#main {padding: 6rem 0; }

// report submisssion
#submit-report {max-width: 20rem; }



// latest assignments
#latest-assignments {
	p {
		display: none;
		@include mq(tablet) {display: block; }
	}
}
#latest-assignments, #latest-stories {
	li {margin-bottom: 1.5rem; }
}


// footer
#footer {
	background: $black;
	color: $white;
}