@import "vars";
@import "../pieces/mixins";


// general form styles
.form {
	li {
		margin-bottom: 1.5rem;
		&:last-child {margin-bottom: 0; }
		input {margin-bottom: 0;}
	}
	input[type="text"], textarea {
		font-size: 1.25rem;
		padding: 0.25rem;
		width: 100%;
		max-width: 20rem;
	}
	input[type="file"] {
		margin-bottom: 0.5rem;
	}
	em {
		display: inline-block;
		font-size: 0.75rem;
		margin-bottom: 0.25rem;
		color: $dark-blue;
	}
}

.optional {
	&:after {
		content: "* Optional";
		color: tomato;
		color: $blue;
		font-style: italic;
		font-size: 0.75rem;
		padding-left: 0.5rem;
	}
}


.add-more-media {
	@include transition(background, 0.3s);
	font-style: italic;
	background: #ebebeb;
	display: inline-block;
	padding: 0.375rem 0.5rem;
	font-size: 0.75rem;
	text-align: center;
	&:hover {
		background: darken(#ebebeb, 10%); 
		cursor: pointer;
	}
}


#location {
	color: $blue;
	margin-bottom: 0.5rem;
}




.location-li {
	background: #ddd;
	margin: 0 -1rem 0 !important;
	padding: 1.5rem 1rem;
	.fa-location-arrow {margin-right: 0.5rem; }
	p:first-child {margin-bottom: 0.5rem; }
	@include mq(tablet) {margin: 0 !important; }
}

.privacy-li {
	margin-bottom: 0 !important;
	color: $white;
	background: #444;
	margin: 0 -1rem;
	padding: 1rem;
	text-align: center;
	@include mq(tablet) {margin: 0 !important; }
}

.report-li {
	margin: 0 -1rem;	
	@include mq(tablet) {margin: 0; }
}

// .phone-action-li {
// 	div {
// 		width: 33.2%; // in case the phone doesn't support flex
// 		@include flex(1);
// 		@include transition(background, 0.3s);
// 		text-decoration: none;
// 		padding: 1.25rem 0.75rem;
// 		font-size: 0.875rem;
// 		text-align: center;
// 		border-right: 1px solid #aaa;
// 		&:last-child {border: none; }
// 		&:hover {background: $dark-yellow; }		
// 	}
// 	i {
// 		font-size: 2rem;
// 		margin-bottom: 0.5rem;
// 	}
// 	span {
// 		display: block; 
// 		font-size: 0.75rem;
// 	}
// }

