@import "vars";
@import "../pieces/mixins";

#grey-bkgd {
	background: $grey;
	color: darken($white, 10%);
	a:hover {color: lighten($white, 5%); }
}
#dark-blue-bkgd {
	background: darken($blue, 4%);
	color: darken($white, 25%);
	li.current a, 
	a:hover {color: lighten($white, 5%); }
}

#user-bar-wrapper {
	ul {
		@include cf();
		padding: 0.75rem 0;
	}
	li {
		display: inline-block;
		float: left;
		font-weight: bold;
		text-transform: uppercase;
		padding-right: 0.75rem;
		border-right: 1px solid #555;
		margin-right: 0.75rem;
		&:last-child {
			padding: 0; 
			margin: 0;
			border: none;
		}
		&:nth-child(3) {
			padding: 0;
			border: none;
		}
		@include mq(netbook) {
			padding-right: 1rem;
			margin-right: 1rem;
		}
	}
	a {
		text-decoration: none;
		vertical-align: sub;
		color: inherit;
		@include transition(color, 0.3s);
		@include hover();
	}
}

#notification-li {
	border-radius: 1rem;
	width: 1.5rem;
	text-align: center;
	@include transition(background, 0.6s);
	a {
		padding: 0.25rem 0.5rem;
		display: inline-block;
	}
}
.new-question {
	background: $green;
	&:hover {background: darken($green, 15%); }
}




#user-bar {
	font-size: 0.875rem;	
}

#secondary-bar {
	font-size: 0.75rem;
	span {
		margin-right: 1rem;
		@include hover();
		&:last-child {margin: 0; }
	}
	// only show if being hover over Browse, or index page
	display: none;
	#index & {display: block; }
}
#browse-li:hover #secondary-bar {display: block; }


