$blue: #2980b9;
$dark-blue: #2c3e50;
$yellow:  lighten(rgb(255, 204, 4), 3%);
$dark-yellow: darken(rgb(255, 204, 4), 3%);
$white: #ebebeb;
$black: #2f2f2f;
$red: #ff6347;
$green: #1abc9c;
$grey: #444;