//- template for viewing a single collection
//- ===================================
//- used on: view-collection.html
script#view-collection-gi-template(type="text/x-handlebars-template").
  {{#if collection}}
    {{#each collection}}
    <div class="collection-gi">
      <div class="story-item">
        {{#each media_objects }}
        <div data-type="{{media_type}}" class="media-preview">
          {{#if file_name}}
          <figure class="media-file-image">
            <img src="/media/{{file_name}}" alt="{{ media_type_description }}">
            <figcaption>{{ media_type_description }}</figcaption>
          </figure>
          {{else}}
          <p class="media-text">{{ media_text }}</p>
          {{/if}}
        </div>
        {{/each }}
        <p class="item-source"><a href="#">{{client_id}}</a></p>
      </div>
      <div class="story-meta flex">
        <div class="flex-2">&nbsp;</div>
        <ul class="options-list flex-1">
          <li><i title="Leave feedback" class="fa fa-comment"></i></li>
          <li><i title="Remove from collection" class="fa fa-close"></i></li>
        </ul>
      </div>
    </div>
    {{/each}}
  {{else}}
    <div class="faded">
      <h3 class="t2">Collection is empty</h3>
      <p>Check the main feed for latest user submissions.</p>
    </div>
  {{/if}}


//- template used while writing article
//- where we have the collection on the side
//- ===================================
//- used on: editor.html
script#collections-li-template(type="text/x-handlebars-template").
  {{#if collection}}
    {{#each collection}}
    <li>
      {{#each media_objects }}
      <div class="media-preview" data-type="{{ media_type }}">
        {{#if file_name}}
        <figure class="media-file-image">
          <img src="/media/{{file_name}}" alt="{{ media_description }}">
          <figcaption>{{ media_description }}</figcaption>
        </figure>
        {{else}}
        <p class="media-text">{{ media_text }}</p>
        {{/if}}

        {{#if caption}}
        <p>{{ caption }}</p>
        {{/if}}
      </div>
      {{/each }}
      <div class="assignment-collection-actions"><span class="remove-btn"><i class="fa fa-close">&nbsp;Remove</i></span></div>
      <div data-post-id="{{post_id}}" data-source="anonymous" data-uid="{{ client_id }}" class="meta-div"></div>
    </li>
    {{/each}}
  {{else}}
    <li class="faded">
      <h3 class="t2">Collection is empty</h3>
      <p>Drag a Response from the left over here, or click the&nbsp;<span class="fa fa-plus"></span>&nbsp;icon</p>
    </li>
  {{/if}}
