//- form for moderator to ask community a new question
script#new-assignment-template(type="text/x-handlebars-template").
  <section id="new-assignment-section">
    <h3 class="t2">New Assignment</h3>
    <p id="question-text-preview">This is where the question text will be rendered</p>
    <form id="assignment-form" class="form">
      <p><small>Supported Languages</small></p>
      <ul id="supported-languages" class="inline">
        <li>English</li>
        <li>Espanol</li>
        <li id="add-language-btn">+ Add Language</li>
      </ul>
      <div class="flex">
        <div class="flex-2">Due: 7 days</div>
        <div class="flex-2">Post Assignment</div>
      </div>
    </form>
    <form id="post-question-form" class="form">
      <div class="flex language-select-wrapper">
        <div class="flex-4">
          <label>
            <span>Select language:</span>
            <select id="language-select" name="language_code">
              <option name="none" value="--">--</option>
              <option name="english" value="en">English</option>
              <option name="espanol" value="es">Espanol</option>
            </select>
          </label>
        </div>
        <div class="flex-1 cancel-question-btn-wrapper">
          <span id="cancel-question-btn">X</span>
        </div>
      </div>
      <ul class="form-fields-list">
        <li>
          <textarea rows="5" name="question_text" placeholder="Ask the community..."></textarea>
        </li>
        <li class="flex extra-fields">
          <div class="flex-3">
            <p><small>Question Type</small></p>
            <label>
              <input type="radio" name="question_type" value="free_text" checked>
              <span>Free Response</span>
            </label>
            <label>
              <input type="radio" name="question_type" value="multiple_choice">
              <span>Survey</span>
            </label>
          </div>
          <div class="flex-2 add-photo-wrapper">
            <p><small>Add a photo <em> * Optional</em></small></p>
            <input type="file" name="question_image">
          </div>
        </li>
        <li class="answers-input-wrapper">
          <p><small>Answers</small></p>
          <input class="question-answer-input" type="text" placeholder="Press [Enter] to add an answer">
        </li>
        <li class="user-actions">
          <span id="preview-question" class="action">Preview</span>
          <span id="save-draft" class="action">Save draft</span>
          <label>
            <span class="submit-btn">Add Question</span>
            <input type="submit" hidden value="Post">
          </label>
        </li>
      </ul>
    </form>
  </section>
