//- formto send a message to yellr users
script#send-message-template(type="text/x-handlebars-template").
  <form id="send-message-form" action="#" class="form">
    <h3 class="t2">New Message</h3>
    <div><span class="block">To</span>
      {{#if uid}}
      <input type="text" name="to_client_id" value="{{ uid }}">
      {{/else}}
      <input type="text" name="to_client_id" value="{{ uid }}">
      {{/if}}
    </div>
    <div><span class="block">Subject</span>
      <input type="text" name="subject">
    </div>
    <div><span class="block">Message</span>
      <textarea rows="2" name="text" placeholder="New message..."></textarea>
    </div>
    <div class="submit-div">
      <label><span class="submit-btn">Submit</span>
        <input type="submit" value="Send" hidden>
      </label>
    </div>
  </form>

//-
  to_client_id
      This is the client if of the user that you are sending the message to.

  subject
      This is free-form text that is the subject of the message.

  text
      This is the free-form text contents of the message.
