//- this is really just a middle man for adding the _scripts.jade
//- but we migh have some other stuff to add
//- we'll leave it here for now

div#overlay-div-container
  //- this div gets populated with various content
  //- it has CSS rules to overlay it over the whole DOM

  //- div#new-collections-form-wrapper.overlay-container
    h3.t2 New Collection
    form#new-collections-form.form
      input(type="text", name="name", placeholder="Collections name")
      textarea(name="description", rows="2", placeholder="Collection description (optional)")
      input(type="text", name="tags", placeholder="Collection tags (use commas to add multiple tags)")
      label.submit-label
        input(type="submit", hidden)
        span.submit-btn Create

  //- div#view-message
    div.content
      h3.subject title of message
      span.date-sent Aug 8
      div
        p message content
    div#message-reply-container
      form#reply-form.form(action="#")
        input(type="hidden", name="email_id", value="email-id")
        h3.t2 Reply
        div
          textarea(rows="2", name="message_text", placeholder="New message...")
        div.submit-div
          label
            span.submit-btn Submit
            input(type="submit", value="Send", hidden)


include _handlebar-templates.jade
include _scripts.jade
