div#handlebar-templates

  include templates/inbox-li.jade
  include templates/send-message.jade
  include templates/message-reply.jade
  include templates/new-assignment.jade
  include templates/view-message.jade
