section#sidebar
  //- profile section
  header
    //-h1.mod-h1 Yellr
    section.profile-overview
      figure.profile-picture-wrapper
        img(src="img/freedom.jpg")
      hgroup.profile-deets
        h2.moderator-name Luis Rosario
        h3.moderator-organization WXXI
  //- choices
  nav#dash-nav
    ul.nav-list.primary-list
      li
        span#post-question-btn.primary-btn New Assignment
      li
        span#write-article-btn.primary-btn Write Article
    ul.nav-list
      li
        a(href="index.html").menu-link All Posts
      li
        a(href="contributors.html").menu-link All Contributors
    ul.nav-list
      li
        a(href="assignments.html").menu-link Assignments
      li
        a(href="collections.html").menu-link Collections
      li
        a(href="messages.html").menu-link Messages
    ul.nav-list
      li
        a(href="settings.html").menu-link Settings
      li
        a#logout-btn(href="#logout").menu-link Logout
