doctype html
head
  include ../../common/html/_head/meta.jade

  title Yellr - Moderator backend
  meta(name="description", content="Yellr backend moderation - Citizen engagement and journalism app")
  include _head.jade

body#moderator(data-page="assignments")
  a(href="#main", class="assistive-text") Skip to main content
  div.container

    //-div#main
    div#main.flex
      div.flex-1#left
        include _sidebar.jade

      div.flex-4#right
        section#assignments.right-wrapper
          h2.t1 Assignments


          ul.my-assignments-list
          //- ul.my-assignments-list
            li.faded
              h3.t3 No assignments created!
              p Create one by clicking the button to the left!
            li
              h3.title
                a(href="#") What are your thoughts on East High shutting down?
              div.flex
                p.deadline.flex-1 September 21, 2014
                p.flex-1.tac
                  a.view.btn(href="http://127.0.0.1:8000/moderator/view-assignment.html#1") View
            li
              h3.title
                a(href="#") What are your thoughts on East High shutting down?
              div.flex
                p.deadline.flex-1 September 21, 2014
                p.flex-1.tac
                  a.view.btn(href="http://127.0.0.1:8000/moderator/view-assignment.html#1") View
            li
              h3.title
                a(href="#") What are your thoughts on East High shutting down?
              div.flex
                p.deadline.flex-1 September 21, 2014
                p.flex-1.tac
                  a.view.btn(href="http://127.0.0.1:8000/moderator/view-assignment.html#1") View
            li
              h3.title
                a(href="#") What are your thoughts on East High shutting down?
              div.flex
                p.deadline.flex-1 September 21, 2014
                p.flex-1.tac
                  a.view.btn(href="http://127.0.0.1:8000/moderator/view-assignment.html#1") View

  div#templates
    script#my-assignment-li(type="text/x-handlebars-template").
      {{#if assignments}}
        {{#each assignments}}
        <li>
          <h3 class="title"><a href="{{url}}">{{title}}</a></h3>
          <div class="flex">
            <p class="deadline flex-1">{{expire_datetime}}</p>
            <p class="flex-1 tac"><a href="{{url}}" class="view btn">View</a></p>
          </div>
        </li>
        {{/each}}
      {{else}}
      <li class="faded">
        <h3 class="t3">No assignments created!</h3>
        <p>Create one by clicking the button to the left!</p>
      </li>
      {{/if}}


    //- template for creating a new collection
    script#collections-form-template(type="text/x-handlebars-template").
      <div class="overlay-container">
        <h3 class="t2">New Collection</h3>
        <form id="new-collections-form" class="form">
          <input type="text" name="name" placeholder="Collections name">
          <textarea name="description" rows="2" placeholder="Collection description (optional)"></textarea>
          <input type="text" name="tags" placeholder="Collection tags (use commas to add multiple tags)">
          <label class="submit-label">
            <input type="submit" hidden>
            <span class="submit-btn">Create</span>
          </label>
        </form>
      </div>



  include _footer.jade
</html>
