doctype html
head
  include ../../common/html/_head/meta.jade

  title Yellr - Moderator backend
  meta(name="description", content="Yellr backend moderation - Citizen engagement and journalism app")

  include ../../common/html/_head/favicon.jade
  include ../../common/html/_head/head-scripts.jade
  link(rel="stylesheet", href="style/style.css")


body#moderator
  a(href="#main", class="assistive-text") Skip to main content
  div.container

    //-div#main
    div#main.flex
      div.flex-1#left
        include _sidebar.jade

      div.flex-4#right
        section#assignments.right-wrapper
          h2.t1 Assignments

  include _footer.jade
</html>
