doctype html
head
  include ../../common/html/_head/meta.jade

  title Yellr - Moderator backend
  meta(name="description", content="Yellr backend moderation - Citizen engagement and journalism app")
  include _head.jade


body#moderator(data-page="collections")
  a(href="#main", class="assistive-text") Skip to main content
  div.container

    div#main.flex
      div.flex-1#left
        include _sidebar.jade

      div.flex-4#right
        section#collections.right-wrapper
          h2.t1 Collections

          div.page-controls
            span.btn#new-collection-btn Create New
            span.btn#delete-collection-btn Delete

          div.collections-grid
          //- div.collections-grid
            div.collections-gi
              h3.title
                a(href="#") What are your thoughts on East High shutting down?
              div.flex
                a.view.flex-1(href="http://127.0.0.1:8000/moderator/view-assignment.html#1") View
                p.deadline.flex-1 September 21, 2014
            div.collections-gi
              h3.title
                a(href="#") Have you ever been to the Electric Boogaloo?
              div.flex
                a.view.flex-1(href="http://127.0.0.1:8000/moderator/view-assignment.html#2") View
                p.deadline.flex-1 September 21, 2014
            div.collections-gi
              h3.title
                a(href="#") Are you the Whitest Boy Alive?
              div.flex
                a.view.flex-1(href="http://127.0.0.1:8000/moderator/view-assignment.html#3") View
                p.deadline.flex-1 September 21, 2014
            div.collections-gi
              h3.title
                a(href="#") What? Did I just have an issue there?
              div.flex
                a.view.flex-1(href="http://127.0.0.1:8000/moderator/view-assignment.html#3") View
                p.deadline.flex-1 September 25, 2014



  include _footer.jade
</html>
