doctype html
head
  include ../../common/html/_head/meta.jade

  title Yellr - Moderator backend
  meta(name="description", content="Yellr backend moderation - Citizen engagement and journalism app")

  include ../../common/html/_head/favicon.jade
  include ../../common/html/_head/head-scripts.jade
  link(rel="stylesheet", href="style/style.css")


body#moderator(data-page="collections")
  a(href="#main", class="assistive-text") Skip to main content
  div.container

    div#main.flex
      div.flex-1#left
        include _sidebar.jade

      div.flex-4#right
        section#collections.right-wrapper
          h2.t1 Collections

          div.page-controls
            span.btn#new-collection-btn Create New
            span.btn#delete-collection-btn Delete

          ul.collections-list
            li.no-collections-li
              h3 No collections created!
              p Create one by clicking the button above or create a new assignment!
            //- li
              div.collection-wrapper
                h3.t2 City School District
                p 12 total
                input(type="button", value="Export content")
                div.grid
                  div.gi
                    div.story-item
                      div.media-preview
                        img(src="http://lorempixel.com/400/200/people")
                      p.description Rhinos win, Rhinos win!
                      ul.tags-list
                        li muse
                        li race
                        li win
                      p.source
                        a(href="#") 131231412
                      div.meta(data-source="anonymous", data-type="photo", data-uid="24012312")

  include _footer.jade
</html>
