doctype html
head
  include ../../common/html/_head/meta.jade

  title Yellr - Home
  meta(name="description", content="Yellr backend moderation - Citizen engagement and journalism app")

  include _head.jade


body#moderator(data-page="create-assignment")
  a(href="#main", class="assistive-text") Skip to main content
  div.container

    div#main.flex
      div.flex-1#left
        include _sidebar.jade

      div.flex-4#right.right-wrapper
        h2.h1 Create Assignment


  include _footer.jade
</html>
