doctype html
head
  include ../../common/html/_head/meta.jade

  title Yellr - Home
  meta(name="description", content="Yellr backend moderation - Citizen engagement and journalism app")

  include _head.jade


body#moderator(data-page="create-assignment")
  a(href="#main", class="assistive-text") Skip to main content
  div.container

    div#main.flex
      div.flex-1#left
        include _sidebar.jade

      div.flex-4#right.right-wrapper
        header.editor-header.header-with-controls
          h2.h1 Create Assignment
          nav.article-controls
            span#preview-btn Preview
            span#save-draft-btn Save Draft
            span#post-btn Post


        div.assignment-wrapper
          div#assignment-question-type
            span.h3 Question Type:
            label
              input(type="radio", name="question_type", value="free-response", checked)
              span Free Response
            label
              input(type="radio", name="question_type", value="survey")
              span Survey
          div.flex#tabs-container
            div#tabs-content.flex-3
              div#questions-container
                div#head.question-container(data-language="english")
                  textarea.question_text(rows="3", name="question_text", placeholder="Ask the community...")
                  textarea.question_description(rows="2", name="question_description", placeholder="Add an assignment description...")

                span.block.h4#add-language + Add language

            nav#assignment-tabs.flex-1
              span.h4.current Text
              span.h4.faded Choices
              span.h4 Deadline
              span.h4 Geo-fence
              span.h4 + Add image

  include _footer.jade
</html>
