div#editor-container
  header.editor-header.header-with-controls
    h2.h1 Write Article
    nav.article-controls
      span#preview-btn Preview
      span#save-draft-btn Save Draft
      span#post-btn Post

  div.editor-workspace.flex
    div.flex-2
      div.editor-input
        span.h3 Title
        input#article-title(type="text", name="title", placeholder="Article title...")
      div.editor-input
        span.h3 Body
        textarea#article-body(rows="15", name="body", placeholder="Write article")
      div.editor-input
        span.h3 Article Preview
        textarea#article-preview(rows="5", name="top-text", placeholder="Preview Required")

    div.flex-1
      p.h4#geo-fence-btn Geo-Fence
      div.collection-area
        p.h4 Collection
        p.current-collection Seinfeld
          span.block Change
        ul.collection-list
          li
            img(src="/media/13b1d2d9-6ce4-4c45-aab0-fa3d1086367f.jpg")
          li
            img(src="/media/13b1d2d9-6ce4-4c45-aab0-fa3d1086367f.jpg")
          li
            img(src="/media/13b1d2d9-6ce4-4c45-aab0-fa3d1086367f.jpg")
          li
            img(src="/media/13b1d2d9-6ce4-4c45-aab0-fa3d1086367f.jpg")
