doctype html
head
  include ../../common/html/_head/meta.jade

  title Yellr - Home
  meta(name="description", content="Yellr backend moderation - Citizen engagement and journalism app")

  include _head.jade


body#moderator(data-page="index")
  a(href="#main", class="assistive-text") Skip to main content
  div.container

    div#main.flex
      div.flex-1#left
        include _sidebar.jade

      div.flex-4#right

        section#all-submissions.right-wrapper
          h2.t4.uppercase Active Assignments
          div.active-assignments-wrapper
            ul#active-assignments-list
              //- li No active assignments
            //- ul#active-assignments-list
              li
                h3 Do you think that schools should move their start time to later?
                div.flex.assignment-meta
                  div.flex-1
                    a(href="#") View
                  p.flex-2.assignment-deadline 2 weeks
              li
                h3 Life's love is my breath, yet I'm short of breat
                div.flex.assignment-meta
                  div.flex-1
                    a(href="#") View
                  p.flex-2.assignment-deadline 2 weeks
              li
                h3 How could you let this happen? Where were you?
                div.flex.assignment-meta
                  div.flex-1
                    a(href="#") View
                  p.flex-2.assignment-deadline 2 weeks



          h2.t4.uppercase All Posts
          div#latest-posts-wrapper.flex

            div.grid.submissions-grid#latest-posts.flex-3
              div.grid-sizer
              div.gutter-sizer


            div#feed-controls.flex-1
              div.feed-controls-wrapper
                p#refresh-posts.feed-filter Refresh Posts
                div#change-view.feed-filter
                  p View
                  ul.list-style-none
                    li
                      label
                        input(type="radio", name="feed-view", value="list", checked)
                        span List
                    li
                      label
                        input(type="radio", name="feed-view", value="grid")
                        span Grid

                div#filter-content-type.feed-filter
                  p Content Type
                  ul.list-style-none
                    li
                      label
                        input(type="checkbox", value="video", checked)
                        span Video
                    li
                      label
                        input(type="checkbox", value="photo", checked)
                        span Photo
                    li
                      label
                        input(type="checkbox", value="audio", checked)
                        span Audio
                    li
                      label
                        input(type="checkbox", value="text", checked)
                        span Text

                div#filter-submission-type.feed-filter
                  p Submission Type
                  ul.list-style-none
                    li
                      label
                        input(type="radio", name="sub-type", value="all", checked)
                        span All
                    li
                      label
                        input(type="radio", name="sub-type", value="anonymous")
                        span Anonymous
                    li
                      label
                        input(type="radio", name="sub-type", value="validated")
                        span Validated

                div#filter-search.feed-filter
                  p Search
                  input(type="text", placeholder="Search by tag, keyword, or UID")


  include _footer.jade
</html>
