doctype html
head
  include ../../common/html/_head/meta.jade

  title Yellr - Moderator backend
  meta(name="description", content="Yellr backend moderation - Citizen engagement and journalism app")

  include ../../common/html/_head/favicon.jade
  include ../../common/html/_head/head-scripts.jade
  link(rel="stylesheet", href="style/style.min.css")


body#moderator(data-page="posts")
  a(href="#main", class="assistive-text") Skip to main content
  div.container

    //-div#main
    div#main.flex
      div.flex-1#left
        include _sidebar.jade

      div.flex-4#right

        section#all-submissions.right-wrapper
          h2.t1 All Posts
          p#refresh-posts Refresh/Reload

          div.filter-wrapper
            div.form.filter-form
              span.filter-toggle Filter
              ul.list-style-none.filter-list
                li#filter-submission-type
                  p Submission Type
                  label
                    input(type="radio", name="sub-type", value="anonymous")
                    span Anonymous
                  label
                    input(type="radio", name="sub-type", value="validated")
                    span Validated
                  label
                    input(type="radio", name="sub-type", value="all", checked)
                    span All
                li#filter-content-type
                  p Content Type
                  label
                    input(type="checkbox", value="video", checked)
                    span Video
                  label
                    input(type="checkbox", value="photo", checked)
                    span Photo
                  label
                    input(type="checkbox", value="audio", checked)
                    span Audio
                  label
                    input(type="checkbox", value="text", checked)
                    span Text
                li#filter-search
                  p Search
                  input(type="text", placeholder="Search by tag, keyword, or UID")


          div.grid-view-wrapper
            p View:
            ul.inline
              li List
              li Grid


          div.grid.submissions-grid#latest-posts
            div.grid-sizer
            div.gutter-sizer



  include _footer.jade
</html>
