doctype html
head
  include ../../common/html/_head/meta.jade

  title Yellr - Moderator backend
  meta(name="description", content="Yellr backend moderation - Citizen engagement and journalism app")
  include _head.jade


body#moderator(data-page="messages")
  a(href="#main", class="assistive-text") Skip to main content
  div.container

    //-div#main
    div#main.flex
      div.flex-1#left
        include _sidebar.jade

      div.flex-4#right
        div.right-wrapper
          h2.t1 Messages
          div.message-actions
            span#new-message-btn New Message

        section#inbox
          ul#unread-mail-list.mail-list
            //- li(data-id="1231231")
              h3.sender Cedric Bixler
              span.subject Transient jet-lag, ecto-mimed bison. This is the haunt of roulette dares
              span.date Aug 8

          ul#read-mail-list.mail-list
            //- li
              h3.sender Cedric Bixler
              span.subject Trans-oceanic death in this earth, with this world coming to an end
              span.date Aug 8





        //- div#message-reply-container.right-wrapper
          form#reply-form.form(action="#")
            input(type="hidden", name="email_id", value="email-id")
            h3.t2 Reply
            div
              textarea(rows="2", name="message_text", placeholder="New message...")
            div.submit-div
              label
                span.submit-btn Submit
                input(type="submit", value="Send", hidden)





        //- div#send-message-container.right-wrapper
          form#send-message-form.form(action="#")
            h3.t2 New Message
            div
              span.block To
              input(type="text", name="send_to")
            div
              span.block Subject
              input(type="text", name="subject")
            div
              span.block Message
              textarea(rows="2", name="message_text", placeholder="New message...")
            div.submit-div
              label
                span.submit-btn Submit
                input(type="submit", value="Send", hidden)



  div#templates
    //- view a message + reply form
    script#view-message-template(type="text/x-handlebars-template").
      <div id="view-message">
        <div class="content">
          <h3 class="subject">{{subject}}</h3>
          <span class="date-sent">{{message_datetime}}</span>
          <div>
            <p>{{text}}</p>
          </div>
          <p class="from">{{from_first_name}} {{from_last_name}}</p>
        </div>
        <div id="message-reply-container">
          <form id="reply-form" action="#" class="form">
            <input type="hidden" name="email_id" value="{{message_id}}">
            <h3 class="t2">Reply</h3>
            <div>
              <textarea rows="2" name="message_text" placeholder="Reply..."></textarea>
            </div>
            <div class="submit-div">
              <label>
                <span class="submit-btn">Submit</span>
                <input type="submit" value="Send" hidden>
              </label>
            </div>
          </form>
        </div>
      </div>



    //- formto send a message to yellr users
    script#send-message-template(type="text/x-handlebars-template").
      <form id="send-message-form" action="#" class="form">
        <h3 class="t2">New Message</h3>
        <div>
          <span>To</span>
          {{#if uid}}
          <input type="hidden" name="to_client_id" value="{{ uid }}">
          <span>{{uid}}</span>
          {{else}}
          <input type="text" name="to_client_id" placeholder="User ID">
          {{/if}}
        </div>
        <div>
          <span class="block">Subject</span>
          {{#if subject}}
          <input type="hidden" name="subject" value="{{subject}}">
          <span>{{subject}}</span>
          {{else}}
          <input type="text" name="subject">
          {{/if}}
        </div>
        <div><span class="block">Message</span>
          <textarea rows="2" name="text" placeholder="New message..."></textarea>
        </div>
        <div class="submit-div">
          <label><span class="submit-btn">Submit</span>
            <input type="submit" value="Send" hidden>
          </label>
        </div>
      </form>



    //- reply to a message
    script#reply-template(type="text/x-handlebars-template").
      <form id="reply-form" action="#" class="form">
        <input type="hidden" name="email_id" value="email-id">
        <h3 class="t2">Reply</h3>
        <div>
          <textarea rows="2" name="message_text" placeholder="New message..."></textarea>
        </div>
        <div class="submit-div">
          <label><span class="submit-btn">Submit</span>
            <input type="submit" value="Send" hidden>
          </label>
        </div>
      </form>



    //- used to render our inbox items
    script#inbox-li(type="text/x-handlebars-template").
      {{#each messages}}
      <li data-id="{{message_id}}">
        <h3 class="sender">{{from_first_name}} {{from_last_name}}</h3>
        <span class="subject">{{subject}}</span>
        <span class="date">{{message_datetime}}</span>
      </li>
      {{/each}}


  include _footer.jade
</html>
