doctype html
head
  title Yellr - Moderator backend
  meta(name="description", content="Yellr backend moderation - Citizen engagement and journalism app")
  include _head.jade

body#moderator(data-page="single-assignment")
  a(href="#main", class="assistive-text") Skip to main content
  div.container

    div#main.flex
      div.flex-1#left
        include _sidebar.jade

      div.flex-4#right
        section#view-assignment-section.right-wrapper
          h2.t1 Why can't I walk down a street free of suggestions?

          ul#responses-list
            li
              div.gi
                div.story-item
                  div.media-preview
                    img(src="http://lorempixel.com/400/200")
                    p The Toons win! They're not going to Moron Mountain
                    p.source
                      a(href="#") 4FB362D3-7A58-4E0C-B38F-7AB63BF79F55
                    div.meta-div(data-source="anonymous", data-type="photo", data-uid="4FB362D3-7A58-4E0C-B38F-7AB63BF79F55")
                  div.options-wrapper
                    ul.options-list
                      li
                        i.fa.fa-folder
                      li
                        i.fa.fa-comment
                      li
                        i.fa.fa-flag

  include _footer.jade
</html>
