doctype html
head
  title Yellr - Moderator backend
  meta(name="description", content="Yellr backend moderation - Citizen engagement and journalism app")
  include _head.jade

body#moderator(data-page="single-assignment")
  a(href="#main", class="assistive-text") Skip to main content
  div.container

    div#main.flex
      div#left.flex-1
        include _sidebar.jade

      div#right.flex-4.right-wrapper
        section#view-assignment-section
        //- section#view-assignment-section
          h2.t3 Assignment 1
          h3.h1 Why can't I walk down a street free of suggestions?
          div.flex
            div.flex-2
              p When nobody will look at you, you can stare a hole in them. Picking out all the little details you'd never stare long enough to get if she'd even just return your gaze, this, this is your revenge.
              ul.inline.assignment-dates-list
                li.assignment-published 2014-9-15 16:20:21.420420
                li.assignment-deadline 2014-10-15 16:20:21.420420
            div.flex-1
              p
                span.btn#edit-assignment-btn Edit
                span.btn#close-assignment-btn Close
              p.write-article-btn-container
                a.btn#write-article-btn(href="write-article.html#1") Write Article

        div#assignment-reply-container.flex
          div.assignment-replies-wrapper.flex-2
            h3.t2 Responses
            label#auto-reload
              input(type="checkbox", checked)
              span Auto-Reload latest posts
            //- ul#assignment-replies-list.list-style-none
              //- li.faded
                h3.t2 No replies yet
                p It might take a while for people to respond. Also be sure to check the regular feed just in case.
            ul#assignment-replies-list.list-style-none
              li
                div.assignment-reply-gi
                  div.story-item
                    div.media-preview
                      p.description Response to Assignment 6
                      p.media-text Everybody's gong to the party have a real good time. Dancing in the desert, blowing up the sunshine
                    p.item-source
                      a(href="#") SAF-ASDFASDF-SADF-SDFA-saSFSAF
                  div.story-meta.flex
                    div.flex-1 &nbsp;
                    ul.options-list.flex-1
                      li(data-action="add").add-to-collection
                        i.fa.fa-plus(title="Add to collection")
                      li(data-action="feedback").leave-feedback
                        i.fa.fa-comment(title="Leave feedback")
                      li(data-action="flag").flag-as-inappropriate
                        i.fa.fa-flag(title="Mark as inappropriate")
                      li(data-action="remove").remove-from-responses
                        i.fa.fa-trash(title="Remove from responses")
                    div.meta-div(data-post-id="{{post_id}}", data-source="anonymous", data-uid="{{ client_id }}")
              //- li
                div.reply-gi
                  div.story-item
                    div.media-preview(data-type="{{media_type}}")
                      p.media-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe earum assumenda id, aperiam deserunt animi.
                    p.item-source
                      a(href="#") 02a6be81-954b-45fa-a2df-8794f3db6d5b
                  div.story-meta.flex
                    div.flex-2 &nbsp;
                    ul.options-list.flex-1
                      li
                        i.fa.fa-comment(title="Leave feedback")
                      li
                        i.fa.fa-close(title="Remove from collection")



          div.assignment-collection-wrapper.flex-1
            h3.t2 Collection
            ul#assignment-collection-list.list-style-none
              //- li
              //-   p.media-text this was just a song by the Von Bondies
              //-   div.assignment-collection-actions
              //-     span.remove-btn
              //-       i.fa.fa-close &nbsp;Remove
              //- li
              //-   p.media-text Western New York is the better New York
              //-   div.assignment-collection-actions
              //-     span.remove-btn
              //-       i.fa.fa-close &nbsp;Remove
              //- li
              //-   figure.media-file-image
              //-     img(src="http://127.0.0.1:8080/media/b7490408-aac5-45cd-8df7-accc5f9ae3b2.jpg", alt="{{media_description}}")
              //-   div.assignment-collection-actions
              //-     span.remove-btn
              //-       i.fa.fa-close &nbsp;Remove

              //- li.faded
                h3.t2 Collection is empty
                p Drag a Response from the left over here, or click the&nbsp;
                  span.fa.fa-plus
                  | &nbsp;icon

  div#templates

    script#assignment-overview-template(type="text/x-handlebars-template").
      <h2 class="t3">Assignment {{assignment.assignment_id}}</h2>
      <h3 class="h1">{{assignment.questions.[1].question_text}}</h3>
      <div class="flex">
        <div class="flex-2">
          <p>{{assignment.questions.[1].description}}</p>
          <ul class="inline assignment-dates-list">
            <li class="assignment-published">{{assignment.publish_datetime}}</li>
            <li class="assignment-deadline">{{assignment.expire_datetime}}</li>
          </ul>
        </div>
        <div class="flex-1">
          <p><span id="edit-assignment-btn" class="btn">Edit</span><span id="close-assignment-btn" class="btn">Close</span></p>
          <p class="write-article-btn-container"><a href="write-article.html# {{assignment.assignment_id}}" id="write-article-btn" class="btn">Write Article</a></p>
        </div>
      </div>
      <div class="meta-div" data-assignment-id="{{assignment.assignment_id}}"></div>



    //- assignment replies
    script#assignment-response-li-template(type="text/x-handlebars-template").
      {{#if replies}}
        {{#each replies}}
        <li>
          <div class="assignment-reply-gi">
            <div class="story-item">
              <div class="media-preview">
                <p class="description">{{title}}</p>
                {{#each media_objects }}
                <div class="media-preview" data-type="{{ media_type }}">
                  {{#if file_name}}
                  <figure class="media-file-image">
                    <img src="/media/{{file_name}}" alt="{{ media_description }}">
                    <figcaption>{{ media_description }}</figcaption>
                  </figure>
                  {{else}}
                  <p class="media-text">{{ media_text }}</p>
                  {{/if}}

                  {{#if caption}}
                  <p>{{ caption }}</p>
                  {{/if}}
                </div>
                {{/each }}
              </div>
              <p class="item-source"><a href="#">{{client_id}}</a></p>
            </div>
            <div class="story-meta flex">
              <div class="flex-1">&nbsp;</div>
              <ul class="options-list flex-1">
                <li data-action="add" class="add-to-collection"><i title="Add to collection" class="fa fa-plus"></i></li>
                <li data-action="feedback" class="leave-feedback"><i title="Leave feedback" class="fa fa-comment"></i></li>
                <li data-action="flag" class="flag-as-inappropriate"><i title="Mark as inappropriate" class="fa fa-flag"></i></li>
                <li data-action="remove" class="remove-from-responses"><i title="Remove from responses" class="fa fa-trash"></i></li>
              </ul>
              <div data-post-id="{{post_id}}" data-source="anonymous" data-uid="{{ client_id }}" class="meta-div"></div>
            </div>
          </div>
        </li>
        {{/each}}
      {{else}}
        <li class="faded">
          <h3 class="t2">No replies yet</h3>
          <p>It might take a while for people to respond. Also be sure to check the regular feed just in case.</p>
        </li>
      {{/if}}

    //- template used while writing article
    //- where we have the collection on the side
    //- ===================================
    //- used on: editor.html
    script#collections-li-template(type="text/x-handlebars-template").
      {{#if collection}}
        {{#each collection}}
        <li>
          {{#each media_objects }}
          <div class="media-preview" data-type="{{ media_type }}">
            {{#if file_name}}
            <figure class="media-file-image">
              <img src="/media/{{file_name}}" alt="{{ media_description }}">
              <figcaption>{{ media_description }}</figcaption>
            </figure>
            {{else}}
            <p class="media-text">{{ media_text }}</p>
            {{/if}}

            {{#if caption}}
            <p>{{ caption }}</p>
            {{/if}}
          </div>
          {{/each }}
          <div class="assignment-collection-actions"><span class="remove-btn"><i class="fa fa-close">&nbsp;Remove</i></span></div>
          <div data-post-id="{{post_id}}" data-source="anonymous" data-uid="{{ client_id }}" class="meta-div"></div>
        </li>
        {{/each}}
      {{else}}
        <li class="faded">
          <h3 class="t2">Collection is empty</h3>
          <p>Drag a Response from the left over here, or click the&nbsp;<span class="fa fa-plus"></span>&nbsp;icon</p>
        </li>
      {{/if}}


  include _footer.jade
</html>
