doctype html
head
  include ../../common/html/_head/meta.jade

  title Write Article - Yellr
  meta(name="description", content="Yellr backend moderation - Citizen engagement and journalism app")

  include _head.jade


body#moderator(data-page="write-article")
  a(href="#main", class="assistive-text") Skip to main content
  div.container

    div#main.flex
      div.flex-1#left
        include _sidebar.jade

      div.flex-4#right.right-wrapper
        div#editor-container
          header.editor-header.header-with-controls
            h2.h1 Write Article
            nav.article-controls
              span#preview-btn
                label.tab-label.tab(for="tab-2") Preview
              span#save-draft-btn Save Draft
              span#post-btn Post

          div.editor-workspace.flex
            input#tab-1.tab-input.tab-1(type="radio", name="editor_view", value="workspace", checked)
            input#tab-2.tab-input.tab-2(type="radio", name="editor_view", value="preview")
            input#tab-3.tab-input.tab-2(type="radio", name="editor_view", value="geo-fence")

            ul#tabs-content.flex-2
              li#editor-workspace.tab-content.tab-1
                div.editor-input
                  span.h3 Title
                  input#article-title(type="text", name="title", placeholder="Article title...")
                div.editor-input
                  span.h3 Body
                  textarea#article-body(rows="15", name="body", placeholder="Write article", data-provide="markdown")
                div.editor-input
                  span.h3 Article Leadin
                  textarea#article-leadin(rows="5", name="top-text", placeholder="Preview for front-page")


              li#editor-preview.tab-content.tab-2
                div#preview


              li#editor-geofence.tab-content.tab-3
                p Set geo-fence area
                div#geo-fence


            div.flex-1
              p.h4#geo-fence-btn
                label.tab-label.tab(for="tab-3") Geo-Fence

              div.collection-area
                p.h4 Collection
                p.current-collection Seinfeld
                  span.block Change
                ul#write-article-collection-list
                  li(draggable="true", data-media="13b1d2d9-6ce4-4c45-aab0-fa3d1086367f.jpg")
                    img.media-file-image(src="/media/13b1d2d9-6ce4-4c45-aab0-fa3d1086367f.jpg")
                  li(draggable="true", data-media="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis aperiam facere sit, fuga nulla earum quam deleniti deserunt perspiciatis, necessitatibus laboriosam voluptas voluptatibus veniam sunt, expedita ipsam qui eos nobis.")
                    p.media-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis aperiam facere sit, fuga nulla earum quam deleniti deserunt perspiciatis, necessitatibus laboriosam voluptas voluptatibus veniam sunt, expedita ipsam qui eos nobis.
                  li(draggable="true", data-media="13b1d2d9-6ce4-4c45-aab0-fa3d1086367f.jpg")
                    img.media-file-image(src="/media/13b1d2d9-6ce4-4c45-aab0-fa3d1086367f.jpg")
                  li(draggable="true", data-media="13b1d2d9-6ce4-4c45-aab0-fa3d1086367f.jpg")
                    img.media-file-image(src="/media/13b1d2d9-6ce4-4c45-aab0-fa3d1086367f.jpg")
                  li(draggable="true", data-media="13b1d2d9-6ce4-4c45-aab0-fa3d1086367f.jpg")
                    img.media-file-image(src="/media/13b1d2d9-6ce4-4c45-aab0-fa3d1086367f.jpg")


          div#templates
            //- template used while writing article
            //- where we have the collection on the side
            //- ===================================
            //- used on: editor.html
            script#collections-li-template(type="text/x-handlebars-template").
              {{#if collection}}
                {{#each collection}}
                <li>
                  {{#each media_objects }}
                  <div class="media-preview" data-type="{{ media_type }}">
                    {{#if file_name}}
                    <figure class="media-file-image">
                      <img src="/media/{{file_name}}" alt="{{ media_description }}">
                      <figcaption>{{ media_description }}</figcaption>
                    </figure>
                    {{else}}
                    <p class="media-text">{{ media_text }}</p>
                    {{/if}}

                    {{#if caption}}
                    <p>{{ caption }}</p>
                    {{/if}}
                  </div>
                  {{/each }}
                  <div class="assignment-collection-actions"><span class="remove-btn"><i class="fa fa-close">&nbsp;Remove</i></span></div>
                  <div data-post-id="{{post_id}}" data-source="anonymous" data-uid="{{ client_id }}" class="meta-div"></div>
                </li>
                {{/each}}
              {{else}}
                <li class="faded">
                  <h3 class="t2">Collection is empty</h3>
                  <p>Drag a Response from the left over here, or click the&nbsp;<span class="fa fa-plus"></span>&nbsp;icon</p>
                </li>
              {{/if}}


  include _footer.jade
  script(src="js/libs/markdown.js")
</html>
