mixin css(fileName)
  url = "style/modules/"+fileName+".css"
  link(rel="stylesheet", href=url)

mixin js(fileName)
  url = "js/modules/"+fileName+".js"
  script(src=url)

mixin partial(m, d)
  if ( m && d && m != true && d != true )
    data = locals.data(d)
    e = {"locals":locals, "data":data}
    !{locals.partial('modules/' + m, e)}
