#header {
  background: $yellow;
  color: $black;
}

.header-wrapper {
  @extend %wrapper;
  @include flexbox();
  padding: 0.875rem 0;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.front-page-h1 {
  margin: 0;
  font-size: 1rem;
  @include flex(1);
}

.submit-news-tip-wrapper {
  @include flex(1);
  text-align: right;
  color: $white;
}

.submit-news-tip-btn {
  background: $blue;
  text-align: center;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  font-size: 0.875rem;
}

