// base styles
@import "../../common/style/pieces/mixins";
@import "../../common/style/pieces/classes";
@import "../../common/style/pieces/normalize";
@import "../../common/style/pieces/base";

// libraries
@import "../../common/style/libs/font-awesome/variables";
@import "../../common/style/libs/font-awesome/mixins";
@import "../../common/style/libs/font-awesome/path";
@import "../../common/style/libs/font-awesome/core";
@import "../../common/style/libs/font-awesome/fixed-width";
@import "../../common/style/libs/font-awesome/list";
@import "../../common/style/libs/font-awesome/spinning";
@import "../../common/style/libs/font-awesome/rotated-flipped";
@import "../../common/style/libs/font-awesome/stacked";
@import "icons";


// yellr specific
@import "../../common/style/theme/vars";
@import "../../common/style/theme/typography";


// front-page styles
@import "classes";
@import "header";
@import "forms";
@import "footer";
@import "article-styles";
@import "index-styles";

#main {
  padding: 2rem 0 4rem;
  margin-top: 3rem;
}


.submit-preview {
  padding: 1rem 0;
  textarea {
    margin-bottom: 0.75rem;
  }
}

.media-submission-wrapper {
  @include flexbox();
  margin-bottom: 0.875rem;
}

.media-preview {
  @include flex(3);
}
.media-options {
  @include flex(1);
  max-width: 3rem;
  text-align: center;
  .fa-plus {
    color: #aaa;
  }
}

.add-extra-media {
  p {
    color: #666;
    font-style: italic;
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
  }
  .flex {
    border: 1px solid #dfdfdf;
  }
  .flex-1 {
    background: #ebebeb;
    color: #aaa;
    width: 33%;
    text-align: center;
    padding: 0.75rem 0;
    border-right: 1px solid #dfdfdf;
    &:last-child{border-right: none; }
  }
  .fa {
    vertical-align: middle;
  }
  .fa-plus {
    font-size: 0.75rem;
    padding-right: 0.25rem;
  }
  .fa-camera,.fa-video-camera, .fa-microphone {
    font-size: 1.25rem;
  }
}

