// base styles
@import "../../common/style/pieces/mixins";
@import "../../common/style/pieces/classes";
@import "../../common/style/pieces/normalize";
@import "../../common/style/pieces/base";

// libraries
// @import "../../common/style/libs/font-awesome/font-awesome";

// yellr specific
@import "../../common/style/theme/vars";
@import "../../common/style/theme/classes";
@import "../../common/style/theme/typography";

.faded {
  color: #999;
}

.t3 {
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 1.5rem;
}

#header {
  background: $yellow;
  color: $black;
  h1 {
    margin: 0;
    font-size: 1rem;
    padding: 0.75rem;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

%wrapper {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}

#main {
  padding: 2rem 0 4rem;
}


// footer
#footer {
  background: $black;
  color: $white;
}

#stories-list {
  li {
    padding-bottom: 1rem;
    border-bottom: 1px solid #333;
    margin-bottom: 4rem;
    &:last-child {
      border: none;
    }
  }
}

.by-line {
  &:before {
    content: "By ";
  }
}
.published-datetime {
  &:before {
    content: "Published: ";
  }
}


.article-content {
  padding-bottom: 2rem;
}

.article-tags-list {
  margin-bottom: 1.5rem;
  li {
    background: #ccc;
    padding: 0.5rem 0.875rem;
    // font-weight: bold;
  }
}
