// base styles
@import "../../common/style/pieces/mixins";
@import "../../common/style/pieces/classes";
@import "../../common/style/pieces/normalize";
@import "../../common/style/pieces/base";

// libraries
// @import "../../common/style/libs/font-awesome/font-awesome";

// yellr specific
@import "../../common/style/theme/vars";
@import "../../common/style/theme/typography";


// front-page styles
@import "classes";
@import "header";
@import "forms";
@import "footer";
@import "article-styles";

#main {
  padding: 2rem 0 4rem;
  margin-top: 3rem;
}
.download-btn {
  background: $green;
  color: $white;
  padding: 0.5rem 1.5rem;
  text-align: center;
  border-radius: 4px;
  transition: background 0.3s ease-out;
  margin-top: 2rem;
  max-width: 14rem;
  &:hover {
    cursor: pointer;
    background: darken($green, 10%);
  }
}
.index-wrapper {
  @extend %wrapper;
  @include mq(netbook) {
    @include flexbox();
  }
}

.latest-stories-wrapper {
  // @extend %wrapper;
  @include mq(netbook) {
    @include flex(2);
    margin-right: 2rem;
  }
}
.contribute-wrapper {
  @include mq(netbook) {
    @include flex(1);
  }
}
.contribute-div {
  background: #ddd;
  padding: 2rem 1rem;
}

.load-more-btn {
  margin-bottom: 1.5rem;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
