// base styles
@import "../../common/style/pieces/mixins";
@import "../../common/style/pieces/normalize";
@import "../../common/style/pieces/base";
@import "../../common/style/pieces/classes";


// yellr specific
@import "../../common/style/theme/vars";
@import "../../common/style/theme/typography";



#footer {
	background: $black;
	color: $white;
	text-align: center;
	p {
		font-size: 1rem;
		margin: 0 auto;
	}
}

#partners {
	text-align: center;
	padding-bottom: 6rem;
	p {margin: 0 auto 2.5rem; }
	a {
		display: block;
		vertical-align: middle;
		&:last-child {margin-right: 0; }
		margin-bottom: 1rem;
		@include mq(netbook) {
			display: inline-block;
			margin-bottom: 0;
			margin-right: 2.25rem;
		}
	}
}
.first, .second {margin-bottom: 1.5rem; }
.second, .third{
	img {max-width: 8rem; }
}
#wxxi-logo {
	max-width: 10rem;
}


#get-involved {
	text-align: center;
	background: $yellow;
	padding: 3rem 0 4rem;
	margin: 6rem 0;
	p {
		margin: 0 auto 1rem;
	}
	a {
		@include transition(background, 0.3s);
		background: $white;
		text-decoration: none;
		color: $black;
		display: inline-block;
		padding: 0.5rem 1rem;
		border-radius: 8px;
		img {
			vertical-align: middle;
			margin-right: 0.5rem;
		}
		&:hover {
			background: darken($white, 10%);
		}
	}
}



#aggregation {
	div {
		@include mq(netbook){padding-left: 4rem; }
	}
}

#engagement {
	figure {
		@include mq(netbook) {padding-left: 4rem; }
	}
}

#details {
	section {
		margin-bottom: 5rem;
		&:last-child {margin-bottom: 0; }
	}
}


#divider1 {
	min-height: 20rem;
	background: url(../img/IMG_2468.JPG);
	background-size: cover;
	background-position-y: 50%;
	margin: 6rem 0;
	position: relative;
	&:after {
		content: "\00a0";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		background: rgba($yellow, 0.8);
		z-index: 5;
	}
}


#main {
	padding-top: 2rem;
	@include mq(netbook) {
		padding-top: 4rem;
	}
}

#about-p {
	text-align: center;
	margin: 0 auto 2.5rem;
}

#about {
	iframe {
		max-width: 100%;
		margin: 0 auto;
		display: block;
		height: 50%;
		@include mq(netbook) {
			height: 33.75rem; // 540px
		}
	}
}



.flex-netbook {
	@include mq(netbook){
		@include flexbox();
	}
}
.alt-layout {
	div {
		@include order(2);
	}
	figure {
		@include order(1);
	}
}












.op1 {
	text-transform: uppercase;
	text-align: center;
	color: lighten($black, 20%);
	margin-bottom: 1.5rem;
}

.op2 {
	font-size: 1.5rem;
	margin-top: 0;
	@include mq(netbook) {
		font-size: 2.25rem;
	}
}

p {
	font-size: 1.25rem;
	max-width: 30em;
}


figcaption {
	text-align: center;
}











#header {
	color: $black;
	text-align: center;
	padding: 6rem 0;
	position: relative;
	&:before, &:after {
		content: "\00a0";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: -5;
	}
	&:before {
		background: url(../img/IMG_2554.JPG);
		background-size: cover;
		background-position-x: 50%;
		// background-position-y: -5rem;
	}
	&:after {
		@include transition(background, 0.3s);
		background: rgba($yellow, 0.7);
	}

	&:hover {
		&:after {background: rgba($yellow, 0.6); }
	}

	@include mq(netbook) {
		padding: 10rem 0;
		&:before {background-position-y: -10rem; }
	}
}
#h1 {
	color: #000;
	font-size: 5rem;
	margin: 0 auto 1rem;
	@include mq(netbook) {
		font-size: 7rem;
	}
}
#header p {
	margin: 0 auto;
	font-size: 1.125rem;
	@include mq(netbook) {
		font-size: 1.5rem;
	}
}
