div.templates
  script#story-li-template(type="text/x-handlebars-template").
    {{#if stories}}
      {{#each stories}}
      <li>
        <h3 class="t1"><a href="article.html">{{title}}</a></h3>
        <p>{{top_text}}</p>
        {{#if banner_media_file_name}}
        <figure>
          <!--<img src="http://127.0.0.1:8080/media/{{banner_media_file_name}}">-->
        </figure>
        {{/if}}
      </li>
      {{/each}}
    {{else}}
      <li class="faded">No stories yet!</li>
    {{/if}}


  script#text-form-template(type="text/x-handlebars-template").
    <form id="text-form" method="post" accept-charset="utf-8" enctype="multipart/form-data" class="submit-form">
      <input type="hidden" name="media_type" value="text">
      <input type="text" name="media_caption" placeholder="Title (optional)">
      <textarea name="media_text" rows="2" columns="10" placeholder="What's going on?"></textarea>
    </form>


  script#image-form-template(type="text/x-handlebars-template").
    <form id="image-form" method="post" accept-charset="utf-8" enctype="multipart/form-data" class="submit-form">
      <input type="hidden" name="media_type" value="image">
      <textarea name="media_text" rows="2" columns="10" placeholder="Add description (optional)"></textarea>
      <input type="file" name="media_file" multiple>
    </form>


  script#video-form-template(type="text/x-handlebars-template").
    <form id="video-form" method="post" accept-charset="utf-8" enctype="multipart/form-data" class="submit-form">
      <input type="hidden" name="media_type" value="video">
      <textarea name="media_text" rows="2" columns="10" placeholder="Add description (optional)"></textarea>
      <input type="file" name="media_file" multiple>
    </form>


  script#audio-form-template(type="text/x-handlebars-template").
    <form id="audio-form" method="post" accept-charset="utf-8" enctype="multipart/form-data" class="submit-form">
      <input type="hidden" name="media_type" value="audio">
      <textarea name="media_text" rows="2" columns="10" placeholder="Add description (optional)"></textarea>
      <input type="file" name="media_file" multiple>
    </form>

