doctype html
head
  include ../../common/html/_head/meta.jade

  title Yellr - Storefront
  meta(name="description", content="Yellr News")
  include _header.jade


body#storefront(data-page="index")
  a(href="#main", class="assistive-text") Skip to main content
  div.container
    header#header
      .wrapper
        h1 Yellr - Rochester News

    div#main
      .wrapper
        h2.t3 Latest Stories
        ul#stories-list.list-style-none


    footer#footer.header-footer
      .wrapper
        p Privacy policy
        ul#footer-links.list-style-none
          li
            a(href="#") link
          li
            a(href="#") link
          li
            a(href="#") link

  include _templates.jade
  include _scripts.jade

</html>
