doctype html
head
  include ../../common/html/_head/meta.jade

  title Submit Tip
  meta(name="description", content="Yellr News")
  include _head.jade


body#storefront(data-page="submit-tip")
  a(href="#main", class="assistive-text") Skip to main content
  div.container
    include _header.jade

    div#main
      h2.t2 Submit Report

  include _templates.jade
  include _scripts.jade

</html>
