include ../jade-helpers.jade
!!! 5
head
	include ../meta.jade
	
	title Yellr - Moderator backend
	meta(name="description", content="Yellr backend moderation - Citizen engagement and journalism app")
	
	include ../favicon.jade
	include ../head-scripts.jade
	link(rel="stylesheet", href="style/moderator.css")


body#moderator
	a(href="#main", class="assistive-text") Skip to main content
	div.container


		header#header.header-footer
			.wrapper
				h1#h1 WXXI - yellr moderator-backend


		div#main
			div.flex
				nav#tabs.flex-1
					ul.tabs-list
						li#current-tab
							a(href="#", data-tab="1") Latest Submissions
						li
							a(href="#", data-tab="2") Approved Submissions
						li
							a(href="#", data-tab="3") Pending more info
						li
							a(href="#", data-tab="4") Denied
						li
							a(href="#", data-tab="5") Contributors

				div#tab-content.flex-5
					section#current-content.content.latest(data-tab="1")
						div.filter-div
							input#latest-filter(type="text", placeholder="Filter by keyword, tag, or user")
						ul.grid

					section.content.approved(data-tab="2")
						div.filter-div
							input#approved-filter(type="text", placeholder="Filter by keyword, tag, or user")
						ul.grid

					section.content.pending(data-tab="3")
						div.filter-div
							input#pending-filter(type="text", placeholder="Filter by keyword, tag, or user")
						ul.grid

					section.content.denied(data-tab="4")
						div.filter-div
							input#denied-filter(type="text", placeholder="Filter by keyword, tag, or user")
						ul.grid

					section.content.denied(data-tab="5")
						//-div.filter-div
							input#denied-filter(type="text", placeholder="Filter by keyword, tag, or user")
						ul.grid
							li herro


		//-footer#footer.header-footer
			.wrapper
				p footer
	script(src="js/libs/jquery.js")
	script(src="js/moderator.js")
</html>
