include ../jade-helpers.jade
!!! 5
head
	include ../_head/meta.jade
	
	title Yellr - Moderator backend
	meta(name="description", content="Yellr backend moderation - Citizen engagement and journalism app")
	
	include ../_head/favicon.jade
	include ../_head/head-scripts.jade
	link(rel="stylesheet", href="style/moderator.css")


body#moderator
	a(href="#main", class="assistive-text") Skip to main content
	div.container

		//-div#main
		div#main.flex
			div.flex-1#left
				//- profile section
				header
					//-h1.mod-h1 Yellr
					section.profile-overview
						figure.profile-picture-wrapper
							img(src="img/freedom.jpg")
						hgroup.profile-deets
							h2.moderator-name Luis Rosario
							h3.moderator-organization WXXI
				//- choices
				nav#dash-nav
					ul.nav-list
						li
							a(href="#") All Submissions
						li
							a(href="#") All Contributors
						li
							a(href="#") Assignments
						li
							a(href="#") Responses

					ul.nav-list
						li
							a(href="#") 
								i.fa.fa-user
								| Following
							ul.inner-nav-list
								li
									a(href="#") UID12301423
								li
									a(href="#") UID24032422
								li
									a(href="#") UID04340240
								li
									a(href="#", title="Show more") ...
						li
							a(href="#")
								i.fa.fa-folder 
								| Collections
							ul.inner-nav-list
								li
									a(href="#") City School District
								li
									a(href="#") Traffic Congestion
								li
									a(href="#") Rochester Rhinos
								li
									a(href="#", title="Show more") ...
						li
							a(href="#") 
								i.fa.fa-tag
								| Tags
							ul.inner-nav-list
								li
									a(href="#") #school
								li
									a(href="#") #traffic
								li
									a(href="#") #soccer
								li
									a(href="#", title="Show more") ...
					ul.nav-list
						li
							a(href="#") Settings
						li
							a(href="#") Logout


			div.flex-4#right
				div.right-wrapper

					h2.t1 All Submissions

					div.filter-wrapper
						div.form.filter-form
							span.filter-toggle Filter
							ul.list-style-none.filter-list
								li#filter-submission-type
									p Submission Type
									label
										input(type="radio", name="sub-type", value="anonymous")
										span Anonymous
									label
										input(type="radio", name="sub-type", value="validated")
										span Validated
									label
										input(type="radio", name="sub-type", value="all", checked)
										span All
								li#filter-content-type
									p Content Type
									label
										input(type="checkbox", value="video", checked)
										span Video
									label
										input(type="checkbox", value="photo", checked)
										span Photo
									label
										input(type="checkbox", value="audio", checked)
										span Audio
									label
										input(type="checkbox", value="text", checked)
										span Text
									//-label
										input(type="checkbox", value="all", checked)
										span All
								li#filter-search
									p Search
									input(type="text", placeholder="Search by tag, keyword, or UID")
								//-li
									p User Search
									input(type="text", placeholder="Enter a UUID or username")


					div.grid
						div.grid-sizer
						div.gutter-sizer
						div.gi
							div.story-item
								p.source 24032422
								div.media-preview
									img(src="http://lorempixel.com/400/200")
								p.description Rhinos win, Rhinos win!
								ul.tags-list
									li muse
									li race
									li win
							div.options-wrapper
								ul.options-list
									li
										i.fa.fa-tag(title="Add a tag")
									li
										i.fa.fa-folder(title="Add to collection")
									li
										i.fa.fa-comment(title="Leave feedback")
									li
										i.fa.fa-flag(title="Mark as inappropriate")
							div.meta-div(data-source="anonymous", data-type="photo", data-uid="24032422")
						div.gi
							div.story-item
								p.source 24032422
								div.media-preview
									img(src="http://lorempixel.com/400/200")
								p.description Corner is given
								ul.tags-list
									li it's a race
									li and i'm gonna
									li win
							div.options-wrapper
								ul.options-list
									li
										i.fa.fa-tag(title="Add a tag")
									li
										i.fa.fa-folder(title="Add to collection")
									li
										i.fa.fa-comment(title="Leave feedback")
									li
										i.fa.fa-flag(title="Mark as inappropriate")
							div.meta-div(data-source="anonymous", data-type="video", data-uid="24032422")
						div.gi
							div.story-item
								p.source 24032422
								div.media-preview
									img(src="http://lorempixel.com/400/200/people")
								p.description Space Ho's go coast to coast
								ul.tags-list
									li mf
									li doom
							div.options-wrapper
								ul.options-list
									li
										i.fa.fa-tag(title="Add a tag")
									li
										i.fa.fa-folder(title="Add to collection")
									li
										i.fa.fa-comment(title="Leave feedback")
									li
										i.fa.fa-flag(title="Mark as inappropriate")
							div.meta-div(data-source="validated", data-type="video", data-uid="24032422")
						div.gi
							div.story-item
								p.source 24032422
								div.media-preview
									img(src="http://lorempixel.com/400/200")
								p.description Please read from sheets
								ul.tags-list
									li 2nd law
									li survival
							div.options-wrapper
								ul.options-list
									li
										i.fa.fa-tag(title="Add a tag")
									li
										i.fa.fa-folder(title="Add to collection")
									li
										i.fa.fa-comment(title="Leave feedback")
									li
										i.fa.fa-flag(title="Mark as inappropriate")
							div.meta-div(data-source="anonymous", data-type="text", data-uid="24032422")
						div.gi
							div.story-item
								p.source 24032422
								div.media-preview
									img(src="http://lorempixel.com/400/200")
								p.description I am sofa king
								ul.tags-list
							div.options-wrapper
								ul.options-list
									li
										i.fa.fa-tag(title="Add a tag")
									li
										i.fa.fa-folder(title="Add to collection")
									li
										i.fa.fa-comment(title="Leave feedback")
									li
										i.fa.fa-flag(title="Mark as inappropriate")
							div.meta-div(data-source="anonymous", data-type="photo", data-uid="24032422")
						div.gi
							div.story-item
								p.source 24032422
								div.media-preview
									img(src="http://lorempixel.com/400/200")
								p.description We Todd Ed
								ul.tags-list
									li panic
									li station
									li follow
									li me
							div.options-wrapper
								ul.options-list
									li
										i.fa.fa-tag(title="Add a tag")
									li
										i.fa.fa-folder(title="Add to collection")
									li
										i.fa.fa-comment(title="Leave feedback")
									li
										i.fa.fa-flag(title="Mark as inappropriate")
							div.meta-div(data-source="anonymous", data-type="photo", data-uid="24032422")
						div.gi
							div.story-item
								p.source 24032422
								div.media-preview
									img(src="http://lorempixel.com/400/200/cats")
								p.description Rhinos win, Rhinos win!
								ul.tags-list
									li darkness
									li falls
									li surrounds
									li you
									li fall down
									li when you're scared
							div.options-wrapper
								ul.options-list
									li
										i.fa.fa-tag(title="Add a tag")
									li
										i.fa.fa-folder(title="Add to collection")
									li
										i.fa.fa-comment(title="Leave feedback")
									li
										i.fa.fa-flag(title="Mark as inappropriate")
							div.meta-div(data-source="validated", data-type="audio", data-uid="24032422")
						div.gi
							div.story-item
								p.source 24032422
								div.media-preview
									img(src="http://lorempixel.com/400/200/people")
								p.description Rhinos win, Rhinos win!
								ul.tags-list
									li be brave
									li i'm coming 
									li to hold you now
							div.options-wrapper
								ul.options-list
									li
										i.fa.fa-tag(title="Add a tag")
									li
										i.fa.fa-folder(title="Add to collection")
									li
										i.fa.fa-comment(title="Leave feedback")
									li
										i.fa.fa-flag(title="Mark as inappropriate")
							div.meta-div(data-source="validated", data-type="text", data-uid="24032422")
						div.gi
							div.story-item
								p.source 24032422
								div.media-preview
									img(src="http://lorempixel.com/400/200")
								p.description Rhinos win, Rhinos win!
								ul.tags-list
									li strength
							div.options-wrapper
								ul.options-list
									li
										i.fa.fa-tag(title="Add a tag")
									li
										i.fa.fa-folder(title="Add to collection")
									li
										i.fa.fa-comment(title="Leave feedback")
									li
										i.fa.fa-flag(title="Mark as inappropriate")
							div.meta-div(data-source="validated", data-type="text", data-uid="24032422")
						div.gi
							div.story-item
								p.source 24032422
								div.media-preview
									img(src="http://lorempixel.com/400/200")
								p.description Rhinos win, Rhinos win!
								ul.tags-list
									li like your life
									li has slipped away
									li follow me
							div.options-wrapper
								ul.options-list
									li
										i.fa.fa-tag(title="Add a tag")
									li
										i.fa.fa-folder(title="Add to collection")
									li
										i.fa.fa-comment(title="Leave feedback")
									li
										i.fa.fa-flag(title="Mark as inappropriate")
							div.meta-div(data-source="validated", data-type="video", data-uid="24032422")
						div.gi
							div.story-item
								p.source 24032422
								div.media-preview
									img(src="http://lorempixel.com/400/200")
								p.description Rhinos win, Rhinos win!
								ul.tags-list
									li i will not desert you now
									li when your fire's died out
									li no one is there
							div.options-wrapper
								ul.options-list
									li
										i.fa.fa-tag(title="Add a tag")
									li
										i.fa.fa-folder(title="Add to collection")
									li
										i.fa.fa-comment(title="Leave feedback")
									li
										i.fa.fa-flag(title="Mark as inappropriate")
							div.meta-div(data-source="anonymous", data-type="photo", data-uid="24032422")
						div.gi
							div.story-item
								p.source 24032422
								div.media-preview
									img(src="http://lorempixel.com/400/200")
								p.description Rhinos win, Rhinos win!
								ul.tags-list
									li they left you
									li for dead
							div.options-wrapper
								ul.options-list
									li
										i.fa.fa-tag(title="Add a tag")
									li
										i.fa.fa-folder(title="Add to collection")
									li
										i.fa.fa-comment(title="Leave feedback")
									li
										i.fa.fa-flag(title="Mark as inappropriate")
							div.meta-div(data-source="anonymous", data-type="video", data-uid="24032422")
						div.gi
							div.story-item
								p.source 24032422
								div.media-preview
									img(src="http://lorempixel.com/400/200")
								p.description Rhinos win, Rhinos win!
								ul.tags-list
							div.options-wrapper
								ul.options-list
									li
										i.fa.fa-tag(title="Add a tag")
									li
										i.fa.fa-folder(title="Add to collection")
									li
										i.fa.fa-comment(title="Leave feedback")
									li
										i.fa.fa-flag(title="Mark as inappropriate")
							div.meta-div(data-source="anonymous", data-type="audio", data-uid="24032422")
						div.gi
							div.story-item
								p.source 24032422
								div.media-preview
									img(src="http://lorempixel.com/400/200")
								p.description Follow Me
								ul.tags-list
									li follow
									li me
									li (whoa)
							div.options-wrapper
								ul.options-list
									li
										i.fa.fa-tag(title="Add a tag")
									li
										i.fa.fa-folder(title="Add to collection")
									li
										i.fa.fa-comment(title="Leave feedback")
									li
										i.fa.fa-flag(title="Mark as inappropriate")
							div.meta-div(data-source="anonymous", data-type="text", data-uid="24032422")
						div.gi
							div.story-item
								p.source 24032422
								div.media-preview
									img(src="http://lorempixel.com/400/200")
								p.description Rhinos win, Rhinos win!
								ul.tags-list
									li muse
							div.options-wrapper
								ul.options-list
									li
										i.fa.fa-tag(title="Add a tag")
									li
										i.fa.fa-folder(title="Add to collection")
									li
										i.fa.fa-comment(title="Leave feedback")
									li
										i.fa.fa-flag(title="Mark as inappropriate")
							div.meta-div(data-source="validated", data-type="photo", data-uid="24032422")





				//-div#tab-content.flex-5
					section#current-content.content.latest(data-tab="1")
						div.filter-div
							input#latest-filter(type="text", placeholder="Filter by keyword, tag, or user")
						ul.grid

					section.content.approved(data-tab="2")
						div.filter-div
							input#approved-filter(type="text", placeholder="Filter by keyword, tag, or user")
						ul.grid

					section.content.pending(data-tab="3")
						div.filter-div
							input#pending-filter(type="text", placeholder="Filter by keyword, tag, or user")
						ul.grid

					section.content.denied(data-tab="4")
						div.filter-div
							input#denied-filter(type="text", placeholder="Filter by keyword, tag, or user")
						ul.grid

					section.content.denied(data-tab="5")
						//-div.filter-div
							input#denied-filter(type="text", placeholder="Filter by keyword, tag, or user")
						ul.grid
							li herro

	script(src="js/libs/jquery.js")
	script(src="js/libs/packery.js")
	script(src="js/moderator.js")
</html>
