// base styles
@import "pieces/mixins";
@import "pieces/normalize";
@import "pieces/base";
@import "pieces/classes";

// libraries
@import "libs/font-awesome/font-awesome";

// yellr specific
@import "theme/vars";
@import "theme/classes";
@import "theme/typography";
@import "theme/forms";




.meta-div {
	display: none; // just to be safe
}

#left {
	max-width: 12.25rem; // 196px
	min-width: 11.5rem; // 184px
	position: relative;
	background: $black;
}
#right {
	padding: 2rem;
}


.mod-h1 {
	margin: 0;
	line-height: 1;
	font-size: 1rem;
	background: darken($yellow, 6%);
	padding: 0.25rem 1rem;
	text-align: center;
}


.profile-overview {
	background: $yellow;
	padding: 1rem;
}
.profile-picture-wrapper {
	max-width: 6rem;
	max-height: 6rem;
	border-radius: 6rem;
	overflow: hidden;
	margin: 0 auto 1rem;
}
.profile-deets {
	text-align: center;
	letter-spacing: 0.5px;
}
.moderator-name {
	margin: 0 0 0.25rem;
	font-size: 1rem;
}
.moderator-organization {
	margin: 0;
	font-size: 0.875rem;
	font-weight: normal;
}


#dash-nav {
	background: $black;
	padding: 1rem 0 0.5rem;
	a {
		text-decoration: none;
		color: inherit;
		display: block;
		font-size: 0.875rem;
		padding: 0.35rem 0.25rem 0.35rem 1rem;
		line-height: 1;
		@include transition(background, 0.2s);
		&:hover {background: lighten($black, 10%); }
	}
	.fa {
		margin-right: 0.35rem;
	}
	li {list-style: none; }
}
.nav-list {
	padding-bottom: 0.875rem;
	border-bottom: 1px solid lighten($black, 15%);
	margin-bottom: 0.875rem;
	font-weight: bold;
	color: #fff;
	&:last-child {
		border: none;
		margin-bottom: 0;
	}
}
.inner-nav-list {
	font-weight: normal;
	padding-left: 1rem;
	color: $white;
}





.filter-wrapper {
	margin-bottom: 2rem;	
}
.filter-form {
	label {margin-right: 1rem; }
	input[type="text"] {font-size: 1rem; }
	input[type="checkbox"], input[type="radio"] {
		margin-right: 0.5rem;
	}
}

.filter-toggle {
	display: inline-block;
	text-transform: uppercase;
	padding: 0.75rem 1rem 0.5rem;
	&:hover {cursor: pointer; }
}
.filter-list {
	padding: 1.25rem 0.75rem 1.25rem;
	@include flexbox();
	li {@include flex(1); }
}
.filter-toggle, .filter-list {
	background: #ddd;
}
.filtered-out {
	opacity: 0.3;
	// display: none;
}



.grid-sizer, .gi {
	width: 32%;
}
.gutter-sizer {
	width: 1.5%;
}
.gi {
	@include transition(background, 0.3s);
	&:hover {
		background: lighten($yellow, 15%);
	}
}
// Story item
.story-item {
	position: relative;
	padding: 0.75rem;
	border: 1px solid #eee;	
}

.source {
	&:before {
		content: "Source: ";
	}
	font-size: 0.75rem;
	text-align: right;
	color: #bbb;
	margin-bottom: 0.35rem;
	@include transition(color, 0.3s);
	&:hover {
		color: #777;
	}
}

.media-preview {
	margin-bottom:0.5rem;
	img {display: block; }
	&:hover {cursor: pointer; }
}

.description {
	font-size: 0.875rem;
}

.tags-list {
	list-style: none;
	font-size: 0.875rem;
	margin-bottom:0.75rem;
	li {
		@include transition(color, 0.3s);
		color: #aaa;
		display: inline-block;
		vertical-align: top;
		margin-right: 0.25rem;
		&:hover {color: #555; }
		&:before {content: "#"; }
	}
}

.options-wrapper {
	background: #eee;
	border: 1px solid #ddd;
	@include cf();
}
.options-list {
	font-size: 0.875rem;
	list-style: none;
	float: right;
	@include flexbox();
	li {
		@include flex(1);
		@include transition(background, 0.3s);
		text-align: center;
		color: #aaa;
		padding: 0.5rem 0.75rem;
		border-left: 1px solid #ddd;
		&:hover {
			background: #bbb;
			color: #fff;
			cursor: pointer;
		}
	}
}







// Login page
// ===================================
#moderator-login {
	background: $yellow;
	h1, p {text-align: center; }
	h1 {
		font-size: 5em;
		line-height: 1;
		margin: 0;
	}
	p {margin-bottom: 2rem; }
}
.mod-login-wrapper {
	max-width: 25em;
	margin: 0 auto;
}
#mod-login {
	background: darken($yellow, 5%);
	padding: 1rem 2rem;
	border: 1px solid $dark-yellow;
	border-radius: 6px;
	max-width: 24rem;
	margin: 0 auto 5rem;
	@include transition(background, 0.3s);
	&:hover {background: lighten($yellow, 5%); }
	span {color: #444; }
	input[type="text"], input[type="password"] {
		width: 100%;
		border: none;
		background: lighten($yellow, 25%);
		border-radius: 6px;
		margin-bottom: 0.75rem;
	}
	input[type="button"] {margin-top: 1.25rem; }
}
