// base styles
@import "pieces/mixins";
@import "pieces/normalize";
@import "pieces/base";
@import "pieces/classes";

// libraries
@import "libs/font-awesome/font-awesome";

// yellr specific
@import "theme/vars";
@import "theme/classes";
@import "theme/typography";
@import "theme/forms";




.meta-div {
	display: none; // just to be safe
}

#left {
	max-width: 12.25rem; // 196px
	min-width: 11.5rem; // 184px
	position: relative;
	background: $black;
}
#nav-wrapper {
	position: fixed;
	top: 0;
	bottom: 0;
// 	width: 15%;
	max-width: 12.25rem; // 196px
	min-width: 11.5rem; // 184px
}
#right {
	padding: 2rem;
	// width: 85%
}


.mod-h1 {
	margin: 0;
	line-height: 1;
	font-size: 1rem;
	background: darken($yellow, 6%);
	padding: 0.25rem 1rem;
	text-align: center;
}


.profile-overview {
	background: $yellow;
	padding: 1rem;
}
.profile-picture-wrapper {
	max-width: 6rem;
	max-height: 6rem;
	border-radius: 6rem;
	overflow: hidden;
	margin: 0 auto 1rem;
}
.profile-deets {
	text-align: center;
	letter-spacing: 0.5px;
}
.moderator-name {
	margin: 0 0 0.25rem;
	font-size: 1rem;
}
.moderator-organization {
	margin: 0;
	font-size: 0.875rem;
	font-weight: normal;
}


#dash-nav {
	background: $black;
	padding: 1rem 0 0.5rem;
	a {
		text-decoration: none;
		color: inherit;
		display: block;
		font-size: 0.875rem;
		padding: 0.35rem 0.25rem 0.35rem 1rem;
		line-height: 1;
		@include transition(background, 0.2s);
		&:hover {background: lighten($black, 10%); }
	}
	li {list-style: none; }
}
.nav-list {
	padding-bottom: 0.875rem;
	border-bottom: 1px solid lighten($black, 15%);
	margin-bottom: 0.875rem;
	font-weight: bold;
	color: #fff;
	&:last-child {
		border: none;
		margin-bottom: 0;
	}
}
.inner-nav-list {
	font-weight: normal;
	padding-left: 1rem;
	color: $white;
}




.grid-sizer, .gi {
	width: 32%;
}
.gutter-sizer {
	width: 1.5%;
}
.filter-wrapper {
	margin-bottom: 2rem;	
}
.filter-form {
	label {margin-right: 1rem; }
	input[type="text"] {font-size: 1rem; }
	input[type="checkbox"], input[type="radio"] {
		margin-right: 0.5rem;
	}
}

.filter-toggle {
	display: inline-block;
	text-transform: uppercase;
	padding: 0.75rem 1rem 0.5rem;
	&:hover {cursor: pointer; }
}
.filter-list {
	padding: 1.25rem 0.75rem 1.25rem;
	@include flexbox();
	li {@include flex(1); }
}
.filter-toggle, .filter-list {
	background: #ddd;
}
.filtered-out {
	opacity: 0.3;
	// display: none;
}














// Login page
// ===================================
#moderator-login {
	background: $yellow;
	h1, p {text-align: center; }
	h1 {
		font-size: 5em;
		line-height: 1;
		margin: 0;
	}
	p {margin-bottom: 2rem; }
}
.mod-login-wrapper {
	max-width: 25em;
	margin: 0 auto;
}
#mod-login {
	background: darken($yellow, 5%);
	padding: 1rem 2rem;
	border: 1px solid $dark-yellow;
	border-radius: 6px;
	max-width: 24rem;
	margin: 0 auto 5rem;
	@include transition(background, 0.3s);
	&:hover {background: lighten($yellow, 5%); }
	span {color: #444; }
	input[type="text"], input[type="password"] {
		width: 100%;
		border: none;
		background: lighten($yellow, 25%);
		border-radius: 6px;
		margin-bottom: 0.75rem;
	}
	input[type="button"] {margin-top: 1.25rem; }
}












// .media-preview:hover {
// 	cursor: pointer;
// }





// .m1 {
// 	margin: 0 0 0.5rem;
// 	text-transform: uppercase;
// 	font-size: 0.875rem;
// }




// // THE GRID
// // ----------------------------
// #tab-content {
// 	padding: 1rem;
// 	position: relative;
// }
// .content {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	z-index: -50;
// 	display: none;
// 	// opacity: 0;
// 	// @include transition(opacity, 0.3s);
// }
// #current-content {
// 	// opacity: 1;
// 	z-index: 25;
// 	display: block;
// }
.from, .story {
	font-size: 0.875rem;
}
.from {
	&:before {
		content: "From: ";
		color: $blue;
		font-weight: bold;
	}
	margin-bottom: 0.25rem;
}
.story {
	&:before {
		content: "Story: ";
		color: $green;
		font-weight: bold;
	}
	margin-bottom: 0;
}

// .row {
// 	list-style-type: none;
// 	margin: 0.5rem 0;
// 	&:last-child {
// 		margin-bottom: 0;
// 	}
// }
// .row-list {
// 	@include flexbox();
// 	li {
// 		display: inline-block;
// 		max-width: 33.4%;
// 		@include flex(1);
// 	}
// }

// // Story item
// .story-item {
// 	@include transition(background, 0.3s);
// 	position: relative;
// 	padding: 0.5rem 0.5rem 2.75rem;
// 	border: 2px solid transparent;
// 	&:hover {
// 		background: darken($white, 3%);
// 		border-color: $yellow;
// 	}
// }
// .options {
// 	position: absolute;
// 	// top: 0;
// 	bottom: 0;
// 	left: 0;
// 	width: 100%;
// 	font-size: 0.75rem;
// 	padding: 0.25rem 0.5rem;
// 	background: $yellow;
// 	opacity: 0;
// 	@include transition(opacity, 0.3s);
// 	.story-item:hover & {opacity: 1; }
// 	@include flexbox();
// 	span {
// 		@include flex(1);
// 		margin-right: 1rem;
// 		text-align: center;
// 		padding: 0.5rem;
// 		@include transition(background, 0.3s);
// 		&:last-child {margin-right: 0; }
// 		&:hover {
// 			cursor: pointer;
// 			background: $dark-yellow;
// 		}
// 	}
// 	i.fa:before {
// 		padding-right: 0.5rem;
// 	}
// }