// base styles
@import "pieces/mixins";
@import "pieces/normalize";
@import "pieces/base";
@import "pieces/classes";


// yellr specific
@import "theme/vars";
@import "theme/classes";
@import "theme/typography";
@import "theme/forms";



#main {
	padding-top: 2rem;
	@include mq(netbook) {
		padding-top: 4rem;
	}
}

#about-p {
	text-align: center;
	margin: 0 auto 2.5rem;
}

#about {
	padding-bottom: 4rem;
}



.flex-netbook {
	@include mq(netbook){
		@include flexbox(); 
	}
}













.op1 {
	text-transform: uppercase;
	text-align: center;
	color: lighten($black, 20%);
	margin-bottom: 1.5rem;
}

.op2 {
	font-size: 1.5rem;
	margin-top: 0;
	@include mq(netbook) {
		font-size: 2.25rem;		
	}
}

p {
	font-size: 1.25rem;
	max-width: 30em;
}

iframe {
	max-width: 100%;
	// height: 50%;
	// @include mq(netbook) {
	// 	height: 45rem // 720px
	// }
}
figcaption {
	text-align: center;
}











#header {
	color: $black;
	text-align: center;
	padding: 6rem 0;
	position: relative;
	&:before, &:after {
		content: "\00a0";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: -5;
	}
	&:before {
		background: url(../img/_MG_2554.JPG); 
		background-size: cover;
		background-position-x: 50%;
		// background-position-y: -5rem;
	}
	&:after {
		@include transition(background, 0.3s);
		background: rgba($yellow, 0.7);
	}

	&:hover {
		&:after {background: rgba($yellow, 0.6); }
	}

	@include mq(netbook) {
		padding: 10rem 0;
		&:before {background-position-y: -10rem; }
	}
}
#h1 {
	color: #000;
	font-size: 5rem;
	margin: 0 auto 1rem;
	@include mq(netbook) {
		font-size: 7rem;
	}
}
#header p {
	margin: 0 auto;
	font-size: 1.125rem;
	@include mq(netbook) {
		font-size: 1.5rem;
	}
}
