.center { text-align: center; }
.caps { text-transform: uppercase; }
.strike { text-decoration: line-through; }


// clearfix
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {clear: both;}

// inline lists
.inline li {
	display: inline-block;
	vertical-align: top;
}

// for screen-readers
// based off of styles in wordpress theme twentyeleven
.assistive-text {
	position:absolute !important;
	clip:rect(1px 1px 1px 1px);
	clip:rect(1px, 1px, 1px, 1px);
}
.assistive-text:active,
.assistive-text:focus {
	background:#eee;
	border-bottom:1px solid #ddd;
	color:#1982d1;
	clip:auto !important;
	font-size:12px;
	position:absolute;
	text-decoration:underline;
	top:0;
	left:7.6%;
}
