/* t1 - t6 */
.t1 {
  font-size: 4.5em;
  display: block;
}
.t2 {
  font-size: 3.75em;
  display: block;
}
.t3 {
  font-size: 3em;
  display: block;
}
.t4 {
  font-size: 2.25em;
  display: block;
}
.t5 {
  font-size: 1.5em;
  display: block;
}
.t6 {
  font-size: 1.3125em;
  display: block;
}
.t7 {
  font-size: 1.125em;
  display: block;
}