@import "../../common/style/theme/vars";
@import "vars";

.messages-list {
  list-style: none;
}

.message-li {
  padding: 1rem 0.75rem;
  border-bottom: 1px solid #ccc;
  margin: 1rem 0;
  a {
    color: inherit;
    text-decoration: none;
  }
  &:last-child {margin-bottom:0;}
  &.unread {
    background: #eee;
    color: #888;
  }
}

.message-sender {
  font-weight: bold;
  font-style: italic;
  margin: 0 0 0.875rem;
  color: #777;
}

.message-subject {
  font-size: 1.125rem;
  margin: 0 0 0.5rem;
}

.message-preview {
  margin-bottom: 0.5rem;
}

.message-meta {
  font-size: 0.875rem;
  margin-bottom: 0;
  color: #888;
}

.message-wrapper {
  margin: 1rem 0.5rem 2rem;
}

.message-content {
  line-height: 1.4;
}
