@import "../../common/style/theme/vars";
@import "vars";

.messages-list {
	list-style: none;
}

.message-li {
	padding: 0.75rem;
	// @include flexbox();
	border-bottom: 1px solid #ccc;
	&.unread {
		background: #eee;
		color: #888;
	}
}

.message-overview {
	font-size: 1.125rem;
	margin: 0 0 0.75rem;
}
.message-subject {
	font-size: 1rem;
	margin-left: 1rem;
}

.message-preview {
	margin-bottom: 0.5rem;
}

.message-meta {
	font-size: 0.875rem;
	margin-bottom: 0;
	color: #888;
}