@import "../../common/style/theme/vars";
@import "vars";


.profile-overview {
  @include flexbox();
  @extend .wrapper;
  margin: 1rem auto 0.5rem;
  // background: $light-yellow;

  .profile-picture {
    @include flex(2);
  }
  .profile-meta {
    @include flex(3);
  }
}

.profile-picture {
  overflow: hidden;
  $size: 6rem;
  height: $size;
  width: $size;
  border-radius: $size/2;
  text-align: center;
  background: #ddd;
}
#anon-icon {
  padding-top: 1rem;
  font-size: 6rem;
}

.profile-meta {
  padding: 0 1rem;
}

#username {
  margin: 0 0 0.5rem;
  font-size: 1rem;
}

dl {
  margin: 0;
}
.profile-stats-list {
  dd, dt {
    margin-bottom: 0.4rem;
  }
  dt {
    float: left;
    clear: left;
    font-size: 0.875rem;
    font-weight: bold;
    min-width: 100px;
  }
}

#generate-new-uuid {
  font-size: 0.75rem;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 0.35rem 0.5rem;
  margin: 0 auto 1.5rem;
}

.profile-nav-bar {
  background: #ddd;
  border-bottom: 1px solid #bbb;
  color: #555;
  @include flexbox();
  span {
    text-transform: uppercase;
    font-size: 0.675rem;
    font-weight: bold;
    padding: 0.5rem 0.25rem;
    color: inherit;
    text-align: center;
    display: block;
    width: 25%;
    @include flex(1);
    border-right: 1px solid #ccc;
    &:last-child {
      border: none;
    }
  }
}

.profile-content {
  background: #ebebeb;
}

.badges-grid {
  padding: 1rem;
  .gi {
    display: inline-block;
    max-width: 33%;
    height: 50%;
    margin-bottom: 1.25rem;
  }
}

.badge-icon {
  $size: 5rem;
  max-width: $size;
  height: $size;
  border-radius: $size/2;
}
.badge-name {
  font-weight: normal;
  font-size: 0.875rem;
  text-align: center;
  margin: 0.25rem 0 0;
}
