// app styles
// ===================================
// ===================================

// base styles
@import "../../common/style/pieces/mixins";
@import "../../common/style/pieces/classes";
@import "../../common/style/pieces/normalize";
@import "../../common/style/pieces/base";
@import "../../common/style/pieces/modules";

// libraries
@import "../../common/style/libs/font-awesome/font-awesome";

// yellr specific
@import "../../common/style/theme/vars";
@import "../../common/style/theme/classes";
@import "../../common/style/theme/typography";
// @import "../../common/style/theme/forms";


html, body { height: 100%; }
// body {
// 	background: $black;
// }

#debug {
	display: none;
}

@import "vars";
@import "header";
@import "footer";
@import "assignments";
@import "notifications";
@import "messages";


// @import "../../common/style/theme/assignments";




.container {
	// padding: 3rem 0 5rem;
}

.app-bar {
	// position: fixed
	a {
		color: inherit;
		text-decoration: none;
	}
	ul {list-style: none; }
}


#main {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	padding: 3rem 0 0;
	height: 0;
	@include transition(padding-top, 0.3s);
	&.with-secondary-nav {
		padding-top: 6rem;
	}
}



.no-border {
	border: none;
}

.submit-preview {
	padding: 1rem 0;
	textarea {
		margin-bottom: 0.75rem;
	}
}

.media-submission-wrapper {
	@include flexbox();
	margin-bottom: 0.875rem;
}

.media-preview {
	@include flex(3);
}
.media-options {
	@include flex(1);
	max-width: 3rem;
	text-align: center;
	.fa-plus {
		color: #aaa;
	}
}


// FOR PAGE TRANSITIONS
// ===================================
@import "animations";


// .pt-perspective {
// 	position: relative;
// 	overflow: hidden;
// 	width: 100%;
// 	// height: 100%;
// 	-webkit-perspective: 1200px;
// 	-moz-perspective: 1200px;
// 	perspective: 1200px;
// 	-webkit-transform-style: preserve-3d;
// 	-moz-transform-style: preserve-3d;
// 	transform-style: preserve-3d;
// 	// @include transition(height, 0.3s);
// }

// .pt-page {
// 	width: 100%;
// 	// height: 100%;
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	visibility: hidden;
// 	// overflow: hidden;
// 	-webkit-backface-visibility: hidden;
// 	-moz-backface-visibility: hidden;
// 	backface-visibility: hidden;
// 	-webkit-transform: translate3d(0, 0, 0);
// 	-moz-transform: translate3d(0, 0, 0);
// 	transform: translate3d(0, 0, 0);
// }

// .pt-page-current,
// .no-js .pt-page {
// 	visibility: visible;
// }


// .pt-page-ontop {
// 	z-index: 999;
// }

/* Text Styles, Colors, Backgrounds */

.pt-perspective {
	position: relative;
}
.pt-page {
	display: none;
	padding-bottom: 4rem;
	&.with-secondary-nav {
		margin-top: 3.5rem;
	}
	&.current {
		display: block;
	}
}
