div#debug
	p#cordova-language
	p#cordova-device
	p#cordova-connection
	p
		input(type="button", value="Test alert")#cordova-alert 
		input(type="button", value="Test confirm")#cordova-confirm 
		input(type="button", value="Test prompt")#cordova-prompt
	p
		input(type="button", value="Test beep")#cordova-beep 
		input(type="button", value="Test vibrate")#cordova-vibrate
	p#cordova-position
	p#cordova-audio
	p#cordova-image
	p#cordova-video