footer#footer.footer-wrapper

  footer#app-footer.app-bar.footer

  //-#report-bar
    div.report-bar.flex
      a#capture-image.btn(href="#report/image")
        i.fa.fa-camera
      a#capture-video.btn(href="#report/video")
        i.fa.fa-video-camera
      a#capture-audio.btn(href="#report/audio")
        i.fa.fa-microphone
      a#capture-text.btn(href="#report/text")
        i.fa.fa-pencil-square-o
    p.anonymous-disclaimer All posts are anonymous.

  //-#submit-footer
    div.flex
      div#location-btn.btn(data-info="location")
        i.fa.fa-map-marker
      div#tags-btn.btn(data-info="tags")
        i.fa.fa-tags
      div#anon-btn.btn(data-info="identity")
        i.fa.fa-user
    div.more-info(data-current="none").hidden
      div.location-information.extra-info(data-info="location")
        p
          i.fa.fa-location-arrow &nbsp;
          span Location
        p#location 43.1567975, -77.6167498
        p.location-disclaimer We use this information to help verify the accuracy of your submission, as well as if you are from the area.
      ul.tags-list.extra-info(data-info="tags")
        li FIFA
        li world cup
        li rochester
        li#add-tag-btn
          i.fa.fa-plus
      p#uuid.extra-info(data-info="identity") 121924012392
    p.anonymous-disclaimer Posting anonymously


  //-#messages-footer
    div.flex
      div.btn
        i.fa.fa-plus
      div.btn
        i.fa.fa-trash-o


  div.templates
    script#report-bar(type="text/x-handlebars-template")
      <div class="report-bar flex"><a id="capture-image" href="#report/image" class="btn"><i class="fa fa-camera"></i></a><a id="capture-video" href="#report/video" class="btn"><i class="fa fa-video-camera"></i></a><a id="capture-audio" href="#report/audio" class="btn"><i class="fa fa-microphone"></i></a><a id="capture-text" href="#report/text" class="btn"><i class="fa fa-pencil-square-o"></i></a></div> <p class="anonymous-disclaimer">All posts are anonymous.</p>
    script#submit-footer(type="text/x-handlebars-template")
      <div class="flex"> <div id="location-btn" data-info="location" class="btn"><i class="fa fa-map-marker"></i></div> <div id="tags-btn" data-info="tags" class="btn"><i class="fa fa-tags"></i></div> <div id="anon-btn" data-info="identity" class="btn"><i class="fa fa-user"></i></div> </div> <div data-current="none" class="more-info hidden"> <div data-info="location" class="location-information extra-info"> <p><i class="fa fa-location-arrow">&nbsp;</i><span>Location</span></p> <p id="location">43.1567975, -77.6167498</p> <p class="location-disclaimer">We use this information to help verify the accuracy of your submission, as well as if you are from the area.</p> </div> <ul data-info="tags" class="tags-list extra-info"> <li>FIFA</li> <li>world cup</li> <li>rochester</li> <li id="add-tag-btn"><i class="fa fa-plus"></i></li> </ul> <p id="uuid" data-info="identity" class="extra-info">121924012392</p> </div> <p class="anonymous-disclaimer">Posting anonymously</p>
    script#messages-footer(type="text/x-handlebars-template")
      <div class="flex"> <div class="btn"><i class="fa fa-plus"></i></div> <div class="btn"><i class="fa fa-trash-o"></i></div> </div>
