header#header.header-wrapper

  //- to build new things/ debug old things
      write.copy jade markup so that it is nested in the #app-header
      in views.js remove the line (230): render_template(header);


  header#app-header.app-bar.header

  //- main-header
    h1#app-h1(data-page="index")
      a(href="#assignments") Yellr
    nav#app-nav
      a(href="#notifications")#notifications-btn.btn
        i.fa.fa-bell-o
      a(href="#messages")#messages-btn.btn
        i.fa.fa-envelope-o
      a(href="#profile")#profile-btn.btn
        i.fa.fa-user

  //- page-header
    nav.back-btn
      a(href="#")
        i.fa.fa-arrow-left
    h1#page-h1 Page
    span#refresh-btn
      i.fa.fa-refresh

  //- submit-header
    nav.back-btn
      a(href="#")
        i.fa.fa-arrow-left
    h1#page-h1 Submit Report
    a#submit-btn(href="#")
      i.fa.fa-check



  div.templates
    script#main-header(type="text/x-handlebars-template")
      <h1 id="app-h1" data-page="index"><a href="#assignments">Yellr</a></h1> <nav id="app-nav"><a href="#notifications" id="notifications-btn" class="btn"><i class="fa fa-bell-o"></i></a><a href="#messages" id="messages-btn" class="btn"><i class="fa fa-envelope-o"></i></a><a href="#profile" id="profile-btn" class="btn"><i class="fa fa-user"></i></a></nav>
    script#page-header(type="text/x-handlebars-template")
      <nav class="back-btn"><a href="#"><i class="fa fa-arrow-left"></i></a></nav> <h1 id="page-h1">{{ page }}</h1> <span id="refresh-btn"><i class="fa fa-refresh"></i></span>
    script#submit-header(type="text/x-handlebars-template")
      <nav class="back-btn"><a href="#"><i class="fa fa-arrow-left"></i></a></nav> <h1 id="page-h1">Submit Report</h1><a id="submit-btn" href="#"><i class="fa fa-check"></i></a>


  nav.app-bar.secondary-nav#homepage-subnav
    div(data-page="#assignments")#assignments-tab
      a(href="#assignments") Assignments
    div(data-page="#news-feed")#news-feed-tab
      a(href="#news-feed") News Feed
