header#header.header-wrapper

  header#app-header.app-bar.header

  //- main-header
    h1#app-h1(data-page="index")
      a(href="#") Yellr
    nav#app-nav
      ul.header-nav-list
        li#notifications-btn
          a(href="#notifications")
            i.fa.fa-bell-o
        li#messages-btn
          a(href="#messages")
            i.fa.fa-envelope-o
        li#more-btn
          span.toggle
            i.fa.fa-ellipsis-v
          ul.more-options-list.hidden(data-hidden="true")
            li#profile-btn
              a(href="#profile")
                p.nav-title.username#username Username
                span View Profile
            li#language-btn
              a(href="#language-setting")
                p.nav-title Language
                span English
            li#feedback-btn
              a(href="#feedback")
                p.nav-title  Send App Feedback
            li#privacy-policy-btn
              a(href="#privacy-policy")
                p.nav-title  Privacy Policy


  //- page-header
    nav.back-btn
      a(href="#")
        i.fa.fa-arrow-left
    h1#page-h1 Page
    span#refresh-btn
      i.fa.fa-refresh

  //- submit-header
    nav.back-btn
      a(href="#")
        i.fa.fa-arrow-left
    h1#page-h1 Submit Report
    span#submit-btn
      i.fa.fa-check



  div.templates
    script#main-header(type="text/x-handlebars-template")
      <h1 id="app-h1" data-page="index"><a href="#">Yellr</a></h1> <nav id="app-nav"> <ul class="header-nav-list"> <li id="notifications-btn"><a href="#notifications"><i class="fa fa-bell-o"></i></a></li> <li id="messages-btn"><a href="#messages"><i class="fa fa-envelope-o"></i></a></li> <li id="more-btn"><span class="toggle"><i class="fa fa-ellipsis-v"></i></span> <ul data-hidden="true" class="more-options-list hidden"> <li id="profile-btn"> <a href="#profile"> <p id="username" class="nav-title username">Username</p><span>View Profile</span> </a> </li> <li id="language-btn"> <a href="#language-setting"> <p class="nav-title">Language</p><span>English</span> </a> </li> <li id="feedback-btn"> <a href="#feedback"> <p class="nav-title"> Send App Feedback</p> </a> </li> <li id="privacy-policy-btn"> <a href="#privacy-policy"> <p class="nav-title"> Privacy Policy</p> </a> </li> </ul> </li> </ul> </nav>
    script#page-header(type="text/x-handlebars-template")
      <nav class="back-btn"><a href="#"><i class="fa fa-arrow-left"></i></a></nav> <h1 id="page-h1">{{ page }}</h1> <span id="refresh-btn"><i class="fa fa-refresh"></i></span>
    script#submit-header(type="text/x-handlebars-template")
      <nav class="back-btn"><a href="#"><i class="fa fa-arrow-left"></i></a></nav> <h1 id="page-h1">Submit Report</h1> <span id="submit-btn"><i class="fa fa-check"></i></span>



  nav.app-bar.secondary-nav#homepage-subnav
    div(data-page="#assignments")#assignments-tab
      a(href="#assignments") Assignments
    div(data-page="#news-feed")#news-feed-tab
      a(href="#news-feed") News Feed
