header#header.header-wrapper


  header#app-header.app-bar.header
  //- header#app-header.app-bar.header

    //- main-header
    h1#app-h1
      a(href="#assignments") Yellr
    nav#app-nav
      a(href="#notifications")#notifications-btn.btn
        i.fa.fa-bell-o
      a(href="#messages")#messages-btn.btn
        i.fa.fa-envelope-o
      a(href="#profile")#profile-btn.btn
        i.fa.fa-user

    //- page-header
    nav.back-btn
      a(href="#")
        i.fa.fa-arrow-left
    h1#page-h1 Page
    span#refresh-btn
      i.fa.fa-refresh

    //- submit-header
    nav.back-btn
      a(href="#")
        i.fa.fa-arrow-left
    h1#page-h1 Submit Report
    a#submit-btn(href="#")
      i.fa.fa-check



  nav.app-bar.secondary-nav#app-subnav
