script(src="cordova.js")
script(src="js/libs/fastclick.js")
script(src="js/libs/handlebars.js")
script(src="js/libs/moment.js")
//-jquery tings
script(src="js/libs/jquery.js")
script(src="js/libs/jquery.tap.min.js")
script(src="js/libs/jquery.ui.widget.js")
script(src="js/libs/jquery.fileupload.js")
script(src="js/libs/jquery.iframe-transport.js")
//- yellr tings
script(src="js/yellr/data.js")
script(src="js/yellr/routes.js")
script(src="js/yellr/user.js")
script(src="js/yellr/utils.js")
script(src="js/yellr/view/profile.js")
script(src="js/yellr/view/assignments.js")
script(src="js/yellr/view/messages.js")
script(src="js/yellr/view/news-feed.js")
script(src="js/yellr/view/notifications.js")
script(src="js/yellr/view/report.js")
//- start it up
script(src="js/init.js")
