script(src="cordova.js")
script(src="js/libs/fastclick.js")
//-
script(src="js/libs/jquery.js")
script(src="js/libs/jquery.tap.min.js")
script(src="js/libs/jquery.ui.widget.js")
script(src="js/libs/jquery.fileupload.js")
script(src="js/libs/jquery.iframe-transport.js")
//- script(src="js/libs/zepto.js")
script(src="js/libs/handlebars.js")
script(src="js/libs/moment.js")
//- load our JS files
//- ----------------------------
script(src="js/yellr/config.js")
script(src="js/yellr/parse.js")
script(src="js/yellr/utils.js")
script(src="js/yellr/events.js")
script(src="js/yellr/setup.js")
script(src="js/yellr/views.js")
//- start it up
script(src="js/demo.js")
script(src="js/init.js")
