script(src="cordova.js")
script(src="js/libs/fastclick.js")
script(src="js/libs/handlebars.js")
script(src="js/libs/moment.js")
//-jquery tings
script(src="js/libs/jquery.js")
script(src="js/libs/jquery.tap.min.js")
script(src="js/libs/jquery.form.min.js")
//- script(src="js/libs/jquery.ui.widget.js")
//- script(src="js/libs/jquery.fileupload.js")
//- script(src="js/libs/jquery.iframe-transport.js")
//- yellr
script(src="js/app.min.js")
