script(src="cordova.js")
script(src="js/libs/fastclick.js")
script(src="js/libs/handlebars.js")
//- moment.js
script(src="js/libs/moment.js")
script(src="data/languages/es.js")
script(src="data/languages/ne.js")
//-jquery tings
script(src="js/libs/jquery.js")
script(src="js/libs/jquery.tap.min.js")
script(src="js/libs/jquery.form.min.js")
//- yellr
script(src="js/app.min.js")
//- script(src="js/app.js")
