script(src="cordova.js")
script(src="js/libs/fastclick.js")
script(src="js/libs/handlebars.js")
script(src="js/libs/moment.js")
//-jquery tings
script(src="js/libs/jquery.js")
script(src="js/libs/jquery.tap.min.js")
script(src="js/libs/jquery.form.min.js")
//- yellr
//- script(src="js/app.min.js")
script(src="js/app.js")
