div#templates

  include templates/headers.jade
  include templates/subnavs.jade
  include templates/footers.jade
  include templates/forms.jade
  include templates/assignments.jade
  include templates/news-feed.jade
  include templates/messages.jade
  include templates/notifications.jade


  //- extra media bar
  script#extra-media(type="text/x-handlebars-template").
    <div id="add-extra-media" class="add-extra-media">
      <p class="wrapper">Add extra media:</p>
      <div class="flex">
        <div class="add-image flex-1"><i class="fa fa-plus"></i><i class="fa fa-camera"></i></div>
        <div class="add-video flex-1"><i class="fa fa-plus"></i><i class="fa fa-video-camera"></i></div>
        <div class="add-audio flex-1"><i class="fa fa-plus"></i><i class="fa fa-microphone"></i></div>
      </div>
    </div>
