div#templates


  //- Headers
  //- ===================================

  //- main
  script#main-header(type="text/x-handlebars-template").
    <h1 id="app-h1"><a href="#assignments">Yellr</h1>
    <nav id="app-nav">
      <a href="#notifications" id="notifications-btn" class="btn"><i class="fa fa-bell-o"></i></a>
      <a href="#messages" id="messages-btn" class="btn"><i class="fa fa-envelope-o"></i></a>
      <a href="#profile" id="profile-btn" class="btn"><i class="fa fa-user"></i></a>
    </nav>


  //- generic page template
  script#page-header(type="text/x-handlebars-template").
    <nav class="back-btn">
      {{#if hash }} <a href="{{hash}}">
      {{else}} <a href="#">
      {{/if}}
      <i class="fa fa-arrow-left"></i></a>
    </nav>
    <h1 id="page-h1">{{page}}</h1>
    <span id="refresh-btn"><i class="fa fa-refresh"></i></span>


  //- submitting  report
  script#submit-header(type="text/x-handlebars-template").
    <nav class="back-btn">
      {{#if hash }} <a href="{{hash}}">
      {{else}} <a href="#">
      {{/if}}
      <i class="fa fa-arrow-left"></i></a>
    </nav>
    <h1 id="page-h1">Submit Report</h1>
    <a id="submit-btn" href="#"><i class="fa fa-check"></i></a>









  //- Subnav
  //- ===================================

  //- homepage | Assignments - News Feed
  script#homepage-subnav(type="text/x-handlebars-template")
    <div id="assignments-tab"><a href="#assignments">Assignments</a></div>
    <div id="news-feed-tab"><a href="#news-feed">News Feed</a></div>









  //- Footers
  //- ===================================

  //- Report bar
  script#report-bar(type="text/x-handlebars-template").
    <div class="report-bar flex">
      <a id="capture-image" href="#report/image" class="btn"><i class="fa fa-camera"></i></a>
      <a id="capture-video" href="#report/video" class="btn"><i class="fa fa-video-camera"></i></a>
      <a id="capture-audio" href="#report/audio" class="btn"><i class="fa fa-microphone"></i></a>
      <a id="capture-text" href="#report/text" class="btn"><i class="fa fa-pencil-square-o"></i></a>
    </div>
    <p class="anonymous-disclaimer">All posts are anonymous.</p>


  //- submit footer
  script#submit-footer(type="text/x-handlebars-template").
    <div class="flex">
      <div id="location-btn" data-info="location" class="btn"><i class="fa fa-map-marker"></i></div>
      <div id="tags-btn" data-info="tags" class="btn"><i class="fa fa-tags"></i></div>
      <div id="anon-btn" data-info="identity" class="btn"><i class="fa fa-user"></i></div>
    </div>
    <div data-current="none" class="more-info hidden">
      <div data-info="location" class="location-information extra-info">
        <p><i class="fa fa-location-arrow">&nbsp;</i><span>Location</span></p>
        <p id="location">43.1567975, -77.6167498</p>
        <p class="location-disclaimer">We use this information to help verify the accuracy of your submission, as well as if you are from the area.</p>
      </div>
      <p id="uuid" data-info="identity" class="extra-info">121924012392</p>
    </div>
    <p class="anonymous-disclaimer">Posting anonymously</p>


  //- Messages
  script#messages-footer(type="text/x-handlebars-template").
    <div class="flex">
      <div class="btn"><i class="fa fa-plus"></i></div>
      <div class="btn"><i class="fa fa-trash-o"></i></div>
    </div>









  //- Assignments
  //- ===================================

  //- assignment list <li>
  script#assignments-li(type="text/x-handlebars-template").
    {{#each assignments}}
    <li>
      <h2 class="assignment-title">
        <a href="#view-assignment/{{ id }}">{{ question_text }}</a>
      </h2>
      <div class="assignment-action">
        <p class="view-assignment-details"><a href="#view-assignment/{{ id }}">View assignment</a></p>
        <p class="assignment-contributions">{{ contributions }}</p>
      </div>
      <p class="assignment-deadline">{{ expire_datetime }}</p>
    </li>
    {{/each}}


  //- single view
  script#assignment-view(type="text/x-handlebars-template").
    {{#if image }}
    <figure class="assignment-details-image"><img src="{{image}}"/></figure>
    {{/if}}
    <p class="assignment-details">{{ description }}</p>
    <a href="#" class="contribute-to-assignment">Contribute</a>
    <div class="accepted-media-wrapper">
      <em>Accepted Media:</em>
      <ul class="accepted-media">
        <li><i class="fa fa-video-camera"></i></li>
        <li><i class="fa fa-camera"></i></li>
        <li><i class="fa fa-volume-up"></i></li>
        <li><i class="fa fa-file-text-o"></i></li>
      </ul>
    </div>
    <p class="assignment-deadline">{{ deadline }}</p>




  script#contributions-li-text(type="text/x-handlebars-template").
    <li>
      <a href="#"><span class="contributor">{{username}}</span></a>
      <p>{{ text }}</p>
    </li>

  script#contributions-li-text-long(type="text/x-handlebars-template").
    <li>
      <a href="#"><span class="contributor">{{username}}</span></a>
      <p>{{ text }}</p>
    </li>

  script#contributions-li-text-picture(type="text/x-handlebars-template").
    <li>
      <a href="#"><span class="contributor">{{username}}</span></a>
      <p>{{ text }}</p>
      <figure><img src="{{ image }}"/></figure>
    </li>

  script#contributions-li-picture-text(type="text/x-handlebars-template").
    <li>
      <a href="#"><span class="contributor">{{username}}</span></a>
      <figure><img src="{{ image }}"/></figure>
      <p>{{ text }}</p>
    </li>









  //- Messages
  //- ===================================

  //- message template
  script#messages-li(type="text/x-handlebars-template").
    {{#each messages}}
    <li class="message-li">
      <h2 class="message-overview">WXXI<span class="message-subject">Hello from WXXI!</span></h2>
      <p class="message-preview">We like the work you're doing and were</p>
      <p class="message-meta">5:23 pm</p>
    </li>
    {{/each}}









  //- News Feed
  //- ===================================
  script#news-feed-li(type="text/x-handlebars-template").
    {{#each news_feed}}
    <li>
      <h2 class="t1 news-title"><a href="#view-news/{{id}}">{{title}}</a></h2>
      <div class="news-preview">{{{preview_text}}}</div>
      {{#if image}}
      <figure>
        <img src="{{image}}">
        {{#if image_caption}}
        <figcaption>{{image_caption}}</figcaption>
        {{/if}}
      </figure>
      {{/if}}
    </li>
    {{/each}}



  script#news-story-template(type="text/x-handlebars-template").
    <h2 class="news-title">{{title}}</h2>
    {{#if image}}
    <figure>
      <img src="{{image}}">
      {{#if image_caption}}
      <figcaption>{{image_caption}}</figcaption>
      {{/if}}
    </figure>
    {{/if}}
    <div class="story-content">{{{full_text}}}</div>







  //- Notifications
  //- ===================================

  script#post-submitted-li(type="text/x-handlebars-template").
    <li>Your post has been submitted! <br/><small>Post ID: {{ post_id }}</small></li>

  script#post-viewed-li(type="text/x-handlebars-template").
    <li><strong>{{ organization }}</strong> viewed your post</li>











  //- Report Forms
  //- ===================================

  //- text
  script#text-form(type="text/x-handlebars-template").
    <form class="text-form" method="post" action="http://yellrdev.wxxi.org/upload_media.json" accept-charset="utf-8" enctype="multipart/form-data" class="submit-form">
    <input type="hidden" name="client_id" value="{{ client_id }}">
    <input type="hidden" name="media_type" value="text">
    <input type="text" name="media_caption" placeholder="Title (optional)">
    <textarea name="media_text" rows="2" columns="10" placeholder="Add description"></textarea>
    </form>

  //- image
  script#image-form(type="text/x-handlebars-template").
    <form class="image-form" method="post" action="http://yellrdev.wxxi.org/upload_media.json" accept-charset="utf-8" enctype="multipart/form-data" class="submit-form">
      <input type="hidden" name="client_id" value="{{ client_id }}">
      <input type="hidden" name="media_type" value="image">
      <textarea name="media_text" rows="2" columns="10" placeholder="Add description"></textarea>
      <input type="file" name="media_file" size="30" multiple>
      <div class="media-submission-wrapper">
        <div class="media-preview">
          <i class="fa fa-close"></i>
          <img src="" class="img-preview">
        </div>
      </div>
    </form>


  //- video
  script#video-form(type="text/x-handlebars-template").
    <form class="video-form" method="post" action="http://yellrdev.wxxi.org/upload_media.json" accept-charset="utf-8" enctype="multipart/form-data" class="submit-form">
      <input type="hidden" name="client_id" value="{{ client_id }}">
      <input type="hidden" name="media_type" value="video">
      <textarea rows="2" columns="10" placeholder="Add description"></textarea>
      <input type="file" name="media_file" size="30" multiple>
      <div class="media-submission-wrapper">
        <div class="media-preview">
          <i class="fa fa-close"></i>
          <i class="fa fa-video-camera"></i>
        </div>
      </div>
    </form>

  //- audio
  script#audio-form(type="text/x-handlebars-template").
    <form class="audio-form" method="post" action="http://yellrdev.wxxi.org/upload_media.json" accept-charset="utf-8" enctype="multipart/form-data" class="submit-form">
      <input type="hidden" name="client_id" value="{{ client_id }}">
      <input type="hidden" name="media_type" value="audio">
      <textarea rows="2" columns="10" placeholder="Add description"></textarea>
      <input type="file" name="media_file" size="30" multiple>
      <div class="media-submission-wrapper">
        <div class="media-preview">
          <i class="fa fa-close"></i>
          <i class="fa fa-microphone"></i>
        </div>
      </div>
    </form>



  //- extra media bar
  script#extra-media(type="text/x-handlebars-template").
    <div id="add-extra-media" class="add-extra-media">
      <p class="wrapper">Add extra media:</p>
      <div class="flex">
        <div class="add-photo flex-1"><i class="fa fa-plus"></i><i class="fa fa-camera"></i></div>
        <div class="add-video flex-1"><i class="fa fa-plus"></i><i class="fa fa-video-camera"></i></div>
        <div class="add-autio flex-1"><i class="fa fa-plus"></i><i class="fa fa-microphone"></i></div>
      </div>
    </div>
