div#templates

  include templates/headers.jade
  include templates/subnavs.jade
  include templates/footers.jade
  include templates/forms.jade
  include templates/assignments.jade
  include templates/news-feed.jade
  include templates/messages.jade
  include templates/notifications.jade
  include templates/prompt.jade
