//- div.container.pt-page.pt-page-1#assignments

div.loader-gif-wrapper
  i.fa.fa-refresh.fa-spin

ul#latest-assignments.assignments-list.list-style-none
//- ul#latest-assignments.assignments-list.list-style-none
  li
    h2.assignment-title
      a(href="#view-assignment/00001") Who makes the best cup-of-soup?
    div.assignment-action
      p.view-assignment-details
        a(href="#view-assignment/00001") View assignment
      p.assignment-contributions 24
    p.assignment-deadline 6 days
