//- div.container.pt-page.pt-page-1#assignments
ul#latest-assignments.assignments-list.list-style-none
	li
		a(href="#assignments/00001")
			h2.assignment-title Who makes the best cup-of-soup?
			div.assignment-action
				p.view-assignment-details View assignment
				p.assignment-contributions 24 contributions 
			p.assignment-deadline 6 days

	li
		a(href="#assignments/00002") 
			h2.assignment-title What is it you wish, madame?
			div.assignment-action
				p.view-assignment-details View assignment
				p.assignment-contributions 32 contributions 
			p.assignment-deadline 10 days
	li
		a(href="#assignments/00003") 
			h2.assignment-title If you please, where is the lecture on Egyptology?
			div.assignment-action
				p.view-assignment-details View assignment
				p.assignment-contributions 12 contributions 
			p.assignment-deadline 2 weeks
