//- div.container.pt-page.pt-page-1#assignments
ul#latest-assignments.list-style-none
	li
		h2.t1 
			a(href="#") Who makes the best cup-of-soup?
		figure
			a(href="#")
				img(src="http://lorempixel.com/400/200")
		p It seems like it’s becoming obvious that to continue the activities I have planned for the rest of my year as a musician.
			span.deadline 6 days
		div.assignment-action
			a.contribute-btn(href="#") View assignment
			span.current-contributions 24 contributions 
		div.accepted-media-wrapper
			ul.accepted-media
				li
					i.fa.fa-video-camera(title="Video")
				li
					i.fa.fa-camera(title="Picture")
				li
					i.fa.fa-volume-up(title="Audio")
				li
					i.fa.fa-file-text-o(title="Text")
	li
		h2.t1 
			a(href="#") What is it you wish, madame?
		figure
			a(href="#")
				img(src="http://lorempixel.com/400/200")
		p She was rushing forward when M. Pageot held her back with a calm gesture. “It is useless, madame! The hall is full, overcrowded.... Moreover, you will not miss much, for it will be over in five minutes....”
			span.deadline 10 days
		div.assignment-action
			a.contribute-btn(href="#") View assignment
			span.current-contributions 32 contributions 
		div.accepted-media-wrapper
			ul.accepted-media
				li.no
					i.fa.fa-video-camera(title="Video")
				li.no
					i.fa.fa-camera(title="Picture")
				li.no
					i.fa.fa-volume-up(title="Audio")
				li
					i.fa.fa-file-text-o(title="Text")
	li
		h2.t1 
			a(href="#") If you please, where is the lecture on Egyptology?
		figure
			a(href="#")
				img(src="http://lorempixel.com/400/200")
		p “Thank you,” acknowledged Mme. Chambannes, regretfully, adding, after a pause, “Did you happen to see a tall, fair lady in a blue costume ... with a strapped jacket?”
			span.deadline 2 weeks
		div.assignment-action
			a.contribute-btn(href="#") View assignment
			span.current-contributions 12 contributions 
		div.accepted-media-wrapper
			ul.accepted-media
				li.no
					i.fa.fa-video-camera(title="Video")
				li
					i.fa.fa-camera(title="Picture")
				li.no
					i.fa.fa-volume-up(title="Audio")
				li
					i.fa.fa-file-text-o(title="Text")