include ../../common/html/jade-helpers.jade
!!! 5
head
	meta(charset="utf-8")
	meta(name="format-detection", content="telephone=no")
	meta(name="viewport", content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height")
	meta(name="msapplication-tap-highlight", content="no")	
	title Yellr
	meta(name="description", content="Yellr - Citizen engagement and journalism app")
	link(rel="stylesheet", href="style/style.css")
	script(src="js/libs/modernizr.js")

body#index
	div.container

		header.header-wrapper

			header#app-header.app-bar.header
				h1#app-h1
					a(href="#") Yellr
				nav#app-nav
					ul.header-nav-list
						li#notifications-btn
							a(href="#notifications")
								i.fa.fa-bell-o
						li#messages-btn
							a(href="#messages")
								i.fa.fa-envelope-o
						li#more-btn
							span.toggle
								i.fa.fa-ellipsis-v
							ul.more-options-list.hidden(data-hidden="true")
								li#profile-btn
									a(href="#profile")
										p.nav-title.username Username
										span View Profile
								li#language-btn
									a(href="#language-setting") 
										p.nav-title Language
										span English
								li#feedback-btn
									a(href="#feedback") 
										p.nav-title  Send App Feedback
								li#privacy-policy-btn
									a(href="#privacy-policy") 
										p.nav-title  Privacy Policy


			header#page-header.app-bar.header
				nav.back-btn
					a(href="#")
						i.fa.fa-arrow-left
				h1#page-h1 Page
				span#refresh-btn
					i.fa.fa-refresh


			header#submit-header.app-bar.header
				nav.back-btn
					a(href="#")
						i.fa.fa-arrow-left
				h1#page-h1 Submit Report
				span#submit-btn
					i.fa.fa-check
		//- end header


		div#main

			form.form.wrapper.submit-preview
				//-input(type="text", placeholder="Add description").add-description
				textarea(rows="2", columns="10", placeholder="Add description", autofocus).no-border
				
				div.media-submission-wrapper
					div.media-preview
						i.fa.fa-close
						img(src="http://lorempixel.com/400/200")
					div.media-options
						span.add-more-media.flex-1#add-more-media-btn
							i.fa.fa-plus
						//-div#media-input-wrapper
								input(type="file")




		footer.footer-wrapper

			footer#submit-footer.footer.app-bar
				div.flex
					div#location-btn.btn(data-info="location")
						i.fa.fa-map-marker
					div#tags-btn.btn(data-info="tags")
						i.fa.fa-tags
					div#anon-btn.btn(data-info="identity")
						i.fa.fa-user
				div.more-info(data-current="none").hidden
					div.location-information.extra-info(data-info="location")
						p#location 43.1567975, -77.6167498
						p.location-disclaimer We use this information to help verify the accuracy of your submission, as well as if you are from the area.
					ul.tags-list.extra-info(data-info="tags")
						li FIFA
						li world cup
						li rochester
						li#add-tag-btn
							i.fa.fa-plus
					p#uuid.extra-info(data-info="identity") 121924012392

				p.anonymous-disclaimer Posting anonymously

			footer#report-bar.app-bar.footer
				div.flex
					div#capture-audio.btn
						i.fa.fa-microphone
					div#capture-picture.btn
						i.fa.fa-camera
					div#capture-video.btn
						i.fa.fa-video-camera
					div#capture-text.btn
						i.fa.fa-pencil-square-o
				p.anonymous-disclaimer All posts are anonymous.

			footer.footer.app-bar
				div.flex
					div.btn
						i.fa.fa-plus
					div.btn
						i.fa.fa-trash-o



		//-div#main

			//-div.module-wrapper
				div.module-info
					h2 Submission form
					p Form the user will see after they have captured some content with the device. 
						| They will be able to add a description, tags, more photos, and opt in to submitting with a username
				div.module
					header.submit-report-header.header-bar-wrapper
						a(href="#").header-back
							i.fa.fa-arrow-left
						span.header-current Submit
						a(href="#submit").header-next
							i.fa.fa-arrow-right

					form.form.wrapper.submit-preview
						//-input(type="text", placeholder="Add description").add-description
						textarea(rows="2", columns="10", placeholder="Add description", autofocus).no-border
						
						div.media-submission-wrapper
							div.media-preview
								i.fa.fa-close
								img(src="http://lorempixel.com/400/200")
							div.media-options
								span.add-more-media.flex-1#add-more-media-btn
									i.fa.fa-plus
								//-div#media-input-wrapper
										input(type="file")
						div.extra-info
							div#location-info.info
								p#location 43.1567975, -77.6167498										
								p.anonymous-announcement Your location is submitted to ensure that you are from the area.
							div#tags-info.info
								ul.tags-list
									li fifa
									li world cup
									li rochester
							div#user-info.info
								p#uuid UID43142342

					footer.submit-report-footer.report-bar-wrapper.flex
						div.flex-1.pos-rel#show-location
							i.fa.fa-map-marker(title="Location")
						div.flex-1#add-tags
							i.fa.fa-tags(title="Tags")
						div.flex-1#toggle-anon
							i.fa.fa-user(title="Anonymous")

						//-div.report-li.report-bar
							a(href="#")#save-draft Save draft
							a(href="#")#preview-report Preview




			//-div.module-wrapper
				div.module-info
					h2 App header
					p The application header
				div.module
					div.header-bar-wrapper
						div#header-bar
							div#home-btn.flex-2
								h1 yellr
							div.more-controls.flex-1
								div#notification-btn
									i.fa.fa-envelope-o
								div#more-btn
									i.fa.fa-bars

			//-div.module-wrapper
				div.module-info
					h2 Quick Report bar
					p This bar will always be present to allow users the ability to quickly create a report
				div.module
					div.report-bar-wrapper
						div#report-bar
							div#capture-audio
								i.fa.fa-microphone
							div#capture-picture
								i.fa.fa-camera
							div#capture-video
								i.fa.fa-video-camera
							div#capture-text
								i.fa.fa-pencil-square-o
						p#anonymous-disclaimer All posts are anonymous.




			//-div.module-wrapper
				div.module-info
					h2 Latest assignments
					p A list of the latest assignments on yellr
				div.module
					.wrapper
						ul#latest-assignments.list-style-none
							li
								h2.t1 
									a(href="#") Who makes the best cup-of-soup?
								figure
									a(href="#")
										img(src="http://lorempixel.com/400/200")
								p It seems like it’s becoming obvious that to continue the activities I have planned for the rest of my year as a musician.
									span.deadline 6 days
								div.assignment-action
									a.contribute-btn(href="#") View assignment
									span.current-contributions 24 contributions 
								div.accepted-media-wrapper
									ul.accepted-media
										li
											i.fa.fa-video-camera(title="Video")
										li
											i.fa.fa-camera(title="Picture")
										li
											i.fa.fa-volume-up(title="Audio")
										li
											i.fa.fa-file-text-o(title="Text")
							li
								h2.t1 
									a(href="#") What is it you wish, madame?
								figure
									a(href="#")
										img(src="http://lorempixel.com/400/200")
								p She was rushing forward when M. Pageot held her back with a calm gesture. “It is useless, madame! The hall is full, overcrowded.... Moreover, you will not miss much, for it will be over in five minutes....”
									span.deadline 10 days
								div.assignment-action
									a.contribute-btn(href="#") View assignment
									span.current-contributions 32 contributions 
								div.accepted-media-wrapper
									ul.accepted-media
										li.no
											i.fa.fa-video-camera(title="Video")
										li.no
											i.fa.fa-camera(title="Picture")
										li.no
											i.fa.fa-volume-up(title="Audio")
										li
											i.fa.fa-file-text-o(title="Text")
							li
								h2.t1 
									a(href="#") If you please, where is the lecture on Egyptology?
								figure
									a(href="#")
										img(src="http://lorempixel.com/400/200")
								p “Thank you,” acknowledged Mme. Chambannes, regretfully, adding, after a pause, “Did you happen to see a tall, fair lady in a blue costume ... with a strapped jacket?”
									span.deadline 2 weeks
								div.assignment-action
									a.contribute-btn(href="#") View assignment
									span.current-contributions 12 contributions 
								div.accepted-media-wrapper
									ul.accepted-media
										li.no
											i.fa.fa-video-camera(title="Video")
										li
											i.fa.fa-camera(title="Picture")
										li.no
											i.fa.fa-volume-up(title="Audio")
										li
											i.fa.fa-file-text-o(title="Text")
							li
								h2.t1 
									a(href="#") If you please, where is the lecture on Egyptology?
								figure
									a(href="#")
										img(src="http://lorempixel.com/400/200")
								p “Thank you,” acknowledged Mme. Chambannes, regretfully, adding, after a pause, “Did you happen to see a tall, fair lady in a blue costume ... with a strapped jacket?”
									span.deadline 2 weeks
								div.assignment-action
									a.contribute-btn(href="#") View assignment
									span.current-contributions 12 contributions 
								div.accepted-media-wrapper
									ul.accepted-media
										li.no
											i.fa.fa-video-camera(title="Video")
										li
											i.fa.fa-camera(title="Picture")
										li.no
											i.fa.fa-volume-up(title="Audio")
										li
											i.fa.fa-file-text-o(title="Text")
							li
								h2.t1 
									a(href="#") If you please, where is the lecture on Egyptology?
								figure
									a(href="#")
										img(src="http://lorempixel.com/400/200")
								p “Thank you,” acknowledged Mme. Chambannes, regretfully, adding, after a pause, “Did you happen to see a tall, fair lady in a blue costume ... with a strapped jacket?”
									span.deadline 2 weeks
								div.assignment-action
									a.contribute-btn(href="#") View assignment
									span.current-contributions 12 contributions 
								div.accepted-media-wrapper
									ul.accepted-media
										li.no
											i.fa.fa-video-camera(title="Video")
										li
											i.fa.fa-camera(title="Picture")
										li.no
											i.fa.fa-volume-up(title="Audio")
										li
											i.fa.fa-file-text-o(title="Text")




			//-div.module-wrapper
				div.module-info
					h2 Assignment View
					p For viewing a single assignment
					//- view contribution
						comment title, comment question (the one we're answering), 
						= if just text, full comment
						= if text & image, show both
						= show geolocation of submission
						= show user, date when posted (cannot view a user's profile)
						= report inappropriate content

				div.module
					div.wrapper
						section#assignment-view
							h2.t1#assignment-question Are you on Team Viper or Team Mountain?
							figure
								img(src="http://lorempixel.com/800/400")
							p.assignment-details The carriage stopped at the gate of the Collège de France; Mme. Chambannes alighted briskly. She did not take the trouble to close the door and, swinging her muff, hurried through the somber courtyard, where three pigeons wandered in the security that silence and solitude ensured them.
							div.assignment-actions
								div.flex-3
									span.deadline.no-margin-left June 12, 2014
									div.accepted-media-wrapper
										span
											em Accepted Media:
										ul.accepted-media
											li
												i.fa.fa-video-camera
											li
												i.fa.fa-camera
											li
												i.fa.fa-volume-up
											li
												i.fa.fa-file-text-o
								div.flex-2
									a(href="#").contribute-btn.no-margin-right Contribute
						aside
							h3.t2 Latest Contributions
							ul.contributions-list.list-style-none
								//- text only
								li
									a(href="#") 
										span.contributor DanDan109
										p Through the panes of the glass door M. Pageot, first usher of the Collège, watched her approach, his thick mustache slightly lifted in a smile of sympathy.
								//- text + picture - 1 (image first)
								li 
									a(href="#") 
										span.contributor Steve-O
										figure
											img(src="http://lorempixel.com/400/200")
										p “Another one!” he thought, remembering all the fashionable ladies whom he had seen come in during the last hour. 
								//- text + picture - 2 (text first)
								li
									a(href="#")
										span.contributor Afroman
										p This one, moreover, was very dainty. Her small, fine, although bold, face, her astrakhan jacket and purple ve...
										figure
											img(src="http://lorempixel.com/400/200")
								//- longg text
								li
									a(href="#")
										span.contributor Clint Eastwood
										p “See her? See her?... Why, surely I saw her; but, madame, there are so many of them! Upon my word, I do not remember having seen so many people at an ope...
												span.more View full report





			//-div.module-wrapper
				div.module-info
					h2 Reporting
					p Contributing to yellr
				div.module
					div.wrapper
						section#submit-report
							h2.t1 Submit a report
							form.form
								ul.list-style-none
									li.phone-action-li.report-bar
										div#capture-audio
											i.fa.fa-microphone
											span Audio
										div#capture-picture
											i.fa.fa-camera
											span Picture
										div#capture-video
											i.fa.fa-video-camera
											span Video
									li.title-li
										label
											p.t3 Title
											input(type="text")
									li.add-media-li
										div.flex.flex-end
											p.t3.flex-3 Add media
											span.add-more-media.flex-1#add-more-media-btn Add more +										
										div#media-input-wrapper
											input(type="file")
										p
											em Media uploads can be rearranged in Preview mode. Add your files first.
									li.textfield-li
										label
											p.t3.optional Text field
											textarea(rows="10", columns="10")
									li.location-li
										p
											i.fa.fa-location-arrow &nbsp;
											span Location
										p#location 43.1567975, -77.6167498										
										p.anonymous-announcement Your location is submitted to ensure that you are from the area.
									li.privacy-li
										p.anonymous-announcement All posts are anonymous.

									li.report-li.report-bar
										a(href="#")#save-draft Save draft
										a(href="#")#preview-report Preview
										a(href="#")#submit-report Submit






			//-div.module-wrapper
				div.module-info
					h2 Account Creation
					p Creating a new account for yellr
				div.module
					div.wrapper
						h2.t1 Create Account
						form.form
							ul.list-style-none
								li
									label
										p.t3 Name (first &amp; last)
										input(type="text")
								li
									label
										p.t3 Username 
											em This will the name used publicly
										input(type="text")



				//- <click to setup account>
						- show terms and conditions (agree, cancel)
						- after account creation, takes you back to the assignment you were viewing



			//-div.module-wrapper
				div.module-info
					h2 Question prompt
					p Questions pushed from WXXI will look like this
				div.module
					div#notification-msg
						.wrapper
							form
								p#question &nbsp;
								div#response-wrapper
									ul#question-answers
									ul#extra-fields
								span#more-details Add more details
								input#submit-question-answer(type="submit", value="Submit")
								span#msg-close Cancel 
									i.fa.fa-times






			//-div.module-wrapper
				div.module-info
					h2 Latest stories
					p List of the latest reports to be submitted
				div.module
					div.wrapper
						ul#latest-stories.list-style-none
							li
								h2.t1
									a(href="#") Title of story
								p Species of plants and animals are becoming extinct at least 1,000 times faster than they did before humans arrived on the scene, and the world is on the brink of a sixth great extinction, a new study says.
								figure
									img(src="http://lorempixel.com/400/200")
									figcaption This is a caption about the image and story
							li
								h2.t1
									a(href="#") Title of story
								p Species of plants and animals are becoming extinct at least 1,000 times faster than they did before humans arrived on the scene, and the world is on the brink of a sixth great extinction, a new study says.
								figure
									img(src="http://lorempixel.com/400/200")
									figcaption This is a caption about the image and story
							li
								h2.t1
									a(href="#") Title of story
								p Species of plants and animals are becoming extinct at least 1,000 times faster than they did before humans arrived on the scene, and the world is on the brink of a sixth great extinction, a new study says.
								figure
									img(src="http://lorempixel.com/400/200")
									figcaption This is a caption about the image and story







	script(src="cordova.js")
	script(src="js/libs/jquery.js")
	script(src="js/libs/handlebars.js")
	script(src="js/libs/fastclick.js")
	script(src="js/yellr.js")
	script(src="js/init.js")
	//-<script type="text/javascript"> app.initialize(); </script>

</html>
