ul#messages-list.messages-list
//- ul.messages-list
  li.message-li
    h2.message-overview WXXI
      span.message-subject Hello from WXXI!
    p.message-preview We like the work you're doing and were
    //- wondering if you're be intereseted in joining us.
    p.message-meta 5:23 pm

  li.message-li.unread
    h2.message-overview WDKX
      span.message-subject We like your work
    p.message-preview Hello from WDKX. We dig the work you've
    //- been submitting and we're wondering if you'd wanna cover Wall Therapy for us this year. We offer payment as well after a first-run project
    p.message-meta 12:23 pm

  li.message-li.unread
    h2.message-overview enjoi_the_silence
      span.message-subject
    p.message-preview Dope picture bro
    p.message-meta 12:23 pm
