//- div.container.pt-page.pt-page-2#news-feedh2 news-feed
ul#latest-stories.latest-stories-list.list-style-none
//- ul#latest-stories.list-style-none
  li
    h2.t1
      a(href="#view-news/01231") Title of story
    p Species of plants and animals are becoming extinct at least 1,000 times faster than they did before humans arrived on the scene, and the world is on the brink of a sixth great extinction, a new study says.
    figure
      img(src="http://lorempixel.com/400/200")
      figcaption This is a caption about the image and story
  li
    h2.t1
      a(href="#view-news/01231") Title of story
    p Species of plants and animals are becoming extinct at least 1,000 times faster than they did before humans arrived on the scene, and the world is on the brink of a sixth great extinction, a new study says.
    figure
      img(src="http://lorempixel.com/400/200")
      figcaption This is a caption about the image and story
  li
    h2.t1
      a(href="#view-news/01231") Title of story
    p Species of plants and animals are becoming extinct at least 1,000 times faster than they did before humans arrived on the scene, and the world is on the brink of a sixth great extinction, a new study says.
    figure
      img(src="http://lorempixel.com/400/200")
      figcaption This is a caption about the image and story
