//- div.container.pt-page.pt-page-4#notifications
h2.wrapper Recent
ul#recent-notifications.notifications-list
//- ul#recent-notifications.notifications-list
  li
    strong WDKX
    | viewed your post
  li Your post has been submitted! <br/>
    small Post ID: 1

h2.wrapper Older
ul#older-notifications.notifications-list
