//- div.container.pt-page.pt-page-4#notifications
//-h2 notifications
h2 Recent
ul.notifications-list
	li Viewed by 
		strong WDKX
	li Viewed by 
		strong WXXI
	li Your post has been approved!
	li Your post has been submitted!

h2 Older
ul.notifications-list
	li Your post has been approved!
	li Your post has been submitted!
	li Viewed by 
		strong WDKX
	li Viewed by 
		strong WXXI
	li Your post has been approved!
	li Your post has been submitted!
