//- div.container.pt-page.pt-page-3#profile
h2 profile
section(data-title="Profile")
	div.profile-overview
		figure.profile-picture
			img(src="http://lorempixel.com/200/200")
		div.profile-meta
			h2 Username
			p Generate new UUID
			div.profile-stats
				dl.profile-stats-list
					dt Posts
					dd#posts-total 32
					dt Followers
					dd#followers-total 58
					dt Following
					dd#following-total 240
	nav.profile-nav-bar
		div
			a(href="#") Posts
		div
			a(href="#") Badges
		div
			a(href="#") Followers
	div.pt-perspective
		div.profile-content
			ul.profile-posts-list
				li title of text post
				li title of image post
				li video post
				li audio post
		div.profile-badges
			div.grid
				div.gi
					img(src="http://lorempixel.com/150/150")
					h3 Badge name
				div.gi
					img(src="http://lorempixel.com/150/150")
					h3 Badge name
				div.gi
					img(src="http://lorempixel.com/150/150")
					h3 Badge name
				div.gi
					img(src="http://lorempixel.com/150/150")
					h3 Badge name
		div.profile-followers
			ul.followers-list
				li
					figure.follower-thumbnail
						img(src="http://lorempixel.com/200/200")
					h3.follower-username follower_sn
					div.follow-back
						i.fa.fa-check