//- div.container.pt-page.pt-page-3#profile
section

  div.profile-overview
    figure.profile-picture
      i.fa.fa-user#anon-icon
      img(src="img/freedom.jpg")#profile-picture
    div.profile-meta
      h2.username Anonymous
      p#unique-id --

  div.language-settings.wrapper
    h2.t4 Language
    ul.settings-list.language-settings-list
      li
        label
          input(type="radio", name="language", value="english", checked=true)
          span English
      li
        label
          input(type="radio", name="language", value="espanol")
          span Espanol
      li
        label
          input(type="radio", name="language", value="nepali")
          span Nepali

  div.account-settings.wrapper
    h2.t4 Account
    ul.settings-list.account-settings-list
      li#sign-in-btn Sign In
      li#create-account-btn Create Account
      li#generate-new-uuid Generate new UUID

  div.about-yellr.flex
    div.client-version.flex-1 --
    div.server-version.flex-1 --


    //- div#user-settings.profile-settings
      ul
        li#language-btn
          a(href="#language-setting")
            p.nav-title Language
            span English
        li#feedback-btn
          a(href="#feedback")
            p.nav-title  Send App Feedback
        li#privacy-policy-btn
          a(href="#privacy-policy")
            p.nav-title  Privacy Policy
