//-div.container.pt-page.pt-page-6#submit-form
div#form-wrapper.form.wrapper.submit-preview


  //- form#reply-survey-form.submit-form(method="post", accept-charset="utf-8", enctype="multipart/form-data")
    ul.list-style-none.radio-list
      li
        label
          input(type="radio", name="survey_answer", value="one")
          span Answer one
      li
        label
          input(type="radio", name="survey_answer", value="two")
          span Answer two
      li
        label
          input(type="radio", name="survey_answer", value="three")
          span Answer three
      li
        label
          input(type="radio", name="survey_answer", value="four")
          span Answer four


  //- form#reply-text-form.submit-form(method="post", accept-charset="utf-8", enctype="multipart/form-data")
    //- input(type="hidden", name="media_type", value="text")
    textarea(name="media_text", rows="2", columns="10", placeholder="Tell us the story...")



  //- text
  //- form#text-form.submit-form(method="post", accept-charset="utf-8", enctype="multipart/form-data")
    input(type="hidden", name="media_type", value="text")
    input(type="text", name="media_caption", placeholder="Title (optional)")
    textarea(name="media_text", rows="2", columns="10", placeholder="Add description")



  //- image form
  //- form#image-form.submit-form(method="post", accept-charset="utf-8", enctype="multipart/form-data")
    input(type="hidden", name="media_type", value="image")
    textarea(name="media_text", rows="2", columns="10", placeholder="Add description")
    input(type="file", name="media_payload", multiple)
    div.media-submission-wrapper
      div.media-preview
        i.fa.fa-close
        img(src="")#img-preview



  //- video form
  //- form#video-form.submit-form(method="post", accept-charset="utf-8", enctype="multipart/form-data")
    input(type="hidden", name="media_type", value="video")
    textarea(name="media_text", rows="2", columns="10", placeholder="Add description")
    input(type="file", name="media_payload", multiple)


  //- audio
  //- form#audio-form.submit-form(method="post", accept-charset="utf-8", enctype="multipart/form-data")
    input(type="hidden", name="media_type", value="audio")
    textarea(name="media_text", rows="2", columns="10", placeholder="Add description")
    input(type="file", name="media_payload", multiple)


div#extra-media-wrapper

//- div#add-extra-media.add-extra-media
  p.wrapper Add extra media:
  div.flex
    div.add-photo.flex-1
      i.fa.fa-plus
      i.fa.fa-camera
    div.add-video.flex-1
      i.fa.fa-plus
      i.fa.fa-video-camera
    div.add-autio.flex-1
      i.fa.fa-plus
      i.fa.fa-microphone


