//-div.container.pt-page.pt-page-6#submit-form
//- test
//-<form id="test_form" action="http://yellr.mycodespace.net/uploadtest.json" method="post" accept-charset="utf-8" enctype="multipart/form-data"> <input id="sometext" name="sometext" type="text" value="This is a test!"> <input type="submit" value="submit" /> </form>

//- the real form
form#submit-form.form.wrapper.submit-preview(data-type="submit-text", method="post", action="http://yellr.mycodespace.net/uploadtest.json", accept-charset="utf-8", enctype="multipart/form-data")
	//- text, photo, video, audio
	//- ===================================
	//- text
	//- ----------------------------
	//- body text (description)
	//- title
	div.submit-text
		input(type="text", placeholder="Title (optional)")
		textarea(rows="2", columns="10", placeholder="Add description")

	//- photo
	//- ----------------------------
	//- image
	//- description
	div.submit-photo
		div.media-submission-wrapper
			div.media-preview
				i.fa.fa-close
				img(src="http://lorempixel.com/400/200")#img-preview
			div.media-options
				span.add-more-media.flex-1#add-more-media-btn
					i.fa.fa-plus
				//-div#media-input-wrapper
						input(type="file")

	
	//- video
	//- ----------------------------
	//- thumbnail preview
	//- description
	div.submit-video
		div.media-submission-wrapper
			div.media-preview
				i.fa.fa-close
				i.fa.fa-video-camera


	//- audio
	//- ----------------------------
	//- audio timeline preview?..
	//- description / title
	div.submit-audio
		div.media-submission-wrapper
			div.media-preview
				i.fa.fa-close
				i.fa.fa-microphone
