//- div.container.pt-page.pt-page-8#view-story
section#story-container.news-story-view
//- section#story-container.news-story-view
  h2.news-title Title of story
  figure
    img(src="http://lorempixel.com/400/200")
    figcaption Etiam faucibus cursus urna.
  div.story-content
    <p>Vestibulum ac est lacinia nisi venenatis tristique. In eleifend quam a odio. Aenean fermentum.</p><p>Praesent blandit lacinia erat. Praesent id massa id nisl venenatis lacinia. In hac habitasse platea dictumst.</p><p>Donec semper sapien a libero. Aliquam quis turpis eget elit sodales scelerisque. Nunc purus.</p>
