body {
  -webkit-font-smoothing: antialiased;
  font: 100% "Helvetica Neue", Verdana, Arial, sans-serif;
  color: #333;
}
ul {
  padding-left: 0;
  margin: 0;
}
input {margin-bottom: 1em; }
p {
  margin-top: 0;
}
img {
	max-width: 100%;
	height: 50%;
}