include common/html/jade-helpers.jade
!!! 5
head
	include common/html/_head/meta.jade
	
	title Yellr
	meta(name="description", content="Yellr - Citizen engagement and journalism app")

	include common/html/_head/favicon.jade
	include common/html/_head/head-scripts.jade
	link(rel="stylesheet", href="style/common.css")



body#index
	a(href="#main", class="assistive-text") Skip to main content
	div.container
		ul.list-style-none
			li
				a(href="app/") App
			li
				a(href="moderator/mod_login.html") Moderator Backend
			li
				a(href="storefront/storefront.html") Public Storefront
			li
				a(href="one-pager/") One-pager promo site

</html>