include html/jade-helpers.jade
!!! 5
head
	title Yellr
	meta(name="description", content="Yellr - Citizen engagement and journalism app")
	include html/head.jade

body#index
	a(href="#main", class="assistive-text") Skip to main content
	div.container


		header#header
			.wrapper
				h1#h1 yellr
				p report for your community


		nav#user-bar-wrapper
			div#grey-bkgd
				.wrapper
					ul#user-bar
						li#browse-li
							a(href="#") Browse
						li#report-li
							a(href="#") Report
						li#profile-li
							a(href="#") Profile
						li#notification-li
							a(href="#") &nbsp;
			div#dark-blue-bkgd
				.wrapper
					ul#secondary-bar
						li
							a(href="#") Assignments
						li
							a(href="#") Latest Reports


		div#main

			div.module-wrapper
				div.module-info
					h2 Latest assignments
					p A list of the latest assignments on yellr
				div.module
					.wrapper
						ul#latest-assignments.list-style-none
							li
								h2.t1 
									a(href="#") Who makes the best cup-of-soup?
								figure
									a(href="#")
										img(src="http://lorempixel.com/400/200")
								p It seems like it’s becoming obvious that to continue the activities I have planned for the rest of my year as a musician.
									span.deadline 6 days
								div.assignment-action
									a.contribute-btn(href="#") View assignment
									span.current-contributions 24 contributions 
								div.accepted-media-wrapper
									ul.accepted-media
										li
											i.fa.fa-video-camera(title="Video")
										li
											i.fa.fa-camera(title="Picture")
										li
											i.fa.fa-volume-up(title="Audio")
										li
											i.fa.fa-file-text-o(title="Text")
							li
								h2.t1 
									a(href="#") What is it you wish, madame?
								figure
									a(href="#")
										img(src="http://lorempixel.com/400/200")
								p She was rushing forward when M. Pageot held her back with a calm gesture. “It is useless, madame! The hall is full, overcrowded.... Moreover, you will not miss much, for it will be over in five minutes....”
									span.deadline 10 days
								div.assignment-action
									a.contribute-btn(href="#") View assignment
									span.current-contributions 32 contributions 
								div.accepted-media-wrapper
									ul.accepted-media
										li.no
											i.fa.fa-video-camera(title="Video")
										li.no
											i.fa.fa-camera(title="Picture")
										li.no
											i.fa.fa-volume-up(title="Audio")
										li
											i.fa.fa-file-text-o(title="Text")
							li
								h2.t1 
									a(href="#") If you please, where is the lecture on Egyptology?
								figure
									a(href="#")
										img(src="http://lorempixel.com/400/200")
								p “Thank you,” acknowledged Mme. Chambannes, regretfully, adding, after a pause, “Did you happen to see a tall, fair lady in a blue costume ... with a strapped jacket?”
									span.deadline 2 weeks
								div.assignment-action
									a.contribute-btn(href="#") View assignment
									span.current-contributions 12 contributions 
								div.accepted-media-wrapper
									ul.accepted-media
										li.no
											i.fa.fa-video-camera(title="Video")
										li
											i.fa.fa-camera(title="Picture")
										li.no
											i.fa.fa-volume-up(title="Audio")
										li
											i.fa.fa-file-text-o(title="Text")


			div.module-wrapper
				div.module-info
					h2 Assignment View
					p For viewing a single assignment
				div.module
					div.wrapper
						section#assignment-view
							h2.t1#assignment-question Are you on Team Viper or Team Mountain?
							figure
								img(src="http://lorempixel.com/400/200")
							p.assignment-details The carriage stopped at the gate of the Collège de France; Mme. Chambannes alighted briskly. She did not take the trouble to close the door and, swinging her muff, hurried through the somber courtyard, where three pigeons wandered in the security that silence and solitude ensured them.
							div.assignment-actions
								div.flex-3
									span.deadline.no-margin-left June 12, 2014
									div.accepted-media-wrapper
										span
											em Accepted Media:
										ul.accepted-media
											li
												i.fa.fa-video-camera
											li
												i.fa.fa-camera
											li
												i.fa.fa-volume-up
											li
												i.fa.fa-file-text-o
								div.flex-2
									a(href="#").contribute-btn.no-margin-right Contribute
						aside
							h3.t2 Latest Contributions
							ul.contributions-list.list-style-none
								//- text only
								li
									a(href="#") 
										span.contributor DanDan109
										p Through the panes of the glass door M. Pageot, first usher of the Collège, watched her approach, his thick mustache slightly lifted in a smile of sympathy.
								//- text + picture - 1 (image first)
								li 
									a(href="#") 
										span.contributor Steve-O
										figure
											img(src="http://lorempixel.com/400/200")
										p “Another one!” he thought, remembering all the fashionable ladies whom he had seen come in during the last hour. 
								//- text + picture - 2 (text first)
								li
									a(href="#")
										span.contributor Afroman
										p This one, moreover, was very dainty. Her small, fine, although bold, face, her astrakhan jacket and purple ve...
										figure
											img(src="http://lorempixel.com/400/200")
								//- longg text
								li
									a(href="#")
										span.contributor Clint Eastwood
										p “See her? See her?... Why, surely I saw her; but, madame, there are so many of them! Upon my word, I do not remember having seen so many people at an ope...
												span.more View full report





			div.module-wrapper
				div.module-info
					h2 Latest stories
					p List of the latest reports to be submitted
				div.module
					div.wrapper
						ul#latest-stories.list-style-none
							li
								h2.t1
									a(href="#") Title of story
								p Species of plants and animals are becoming extinct at least 1,000 times faster than they did before humans arrived on the scene, and the world is on the brink of a sixth great extinction, a new study says.
								figure
									img(src="http://lorempixel.com/400/200")
									figcaption This is a caption about the image and story
							li
								h2.t1
									a(href="#") Title of story
								p Species of plants and animals are becoming extinct at least 1,000 times faster than they did before humans arrived on the scene, and the world is on the brink of a sixth great extinction, a new study says.
								figure
									img(src="http://lorempixel.com/400/200")
									figcaption This is a caption about the image and story
							li
								h2.t1
									a(href="#") Title of story
								p Species of plants and animals are becoming extinct at least 1,000 times faster than they did before humans arrived on the scene, and the world is on the brink of a sixth great extinction, a new study says.
								figure
									img(src="http://lorempixel.com/400/200")
									figcaption This is a caption about the image and story



			div.module-wrapper
				div.module-info
					h2 Submission Form
					p For submiting a report..?
				div.module
					section#report-section
						form#question-answer-form(action="media_upload.json")
							label
								span Unique App ID (hidden)
								input(type="text", name="unique_app_id")
							label
								span Media Type
								input(type="text", name="media_type")
							label
								span File Upload
								input(type="file", name="media_payload")
							input(type="submit", value="Submit")



				//- view contribution
					comment title, comment question (the one we're answering), 
					= if just text, full comment
					= if text & image, show both
					= show geolocation of submission
					= show user, date when posted (cannot view a user's profile)
					= report inappropriate content

			div.module-wrapper
				div.module-info
					h2 Question prompt
					p Questions pushed from WXXI will look like this
				div.module
					div#notification-msg
						.wrapper
							form
								span#msg-close X
								p#question &nbsp;
								div#response-wrapper
									ul#question-answers
									ul#extra-fields
								span#more-details Add more details
								input#submit-question-answer(type="submit", value="Submit")




		footer#footer
			.wrapper
				p Privacy policy
				ul#footer-links.list-style-none
					li
						a(href="#") link
					li
						a(href="#") link
					li
						a(href="#") link
					li
						a(href="#") link
					li
						a(href="#") link

	include html/foot.jade
</html>
