include html/jade-helpers.jade
!!! 5
head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	
	title Yellr - Moderator backend
	meta(name="description", content="Yellr backend moderation - Citizen engagement and journalism app")
	
	link(rel="shortcut icon", href="img/favicon.ico")
	link(rel="apple-touch-icon", href="img/apple-touch-icon-57x57.png")
	link(rel="apple-touch-icon", sizes="72x72", href="img/apple-touch-icon-72x72.png")
	link(rel="apple-touch-icon", sizes="114x114", href="img/apple-touch-icon-114x114.png")

	script(src="js/libs/modernizr.js")
	link(rel="stylesheet", href="style/moderator.css")

body#moderator
	a(href="#main", class="assistive-text") Skip to main content
	div.container


		header#header.header-footer
			.wrapper
				h1#h1 WXXI - yellr moderator-backend


		div#main
			div.flex
				nav#tabs.flex-1
					ul.tabs-list
						li#current-tab
							a(href="#", data-tab="1") Latest Submissions
						li
							a(href="#", data-tab="2") Approved Submissions
						li
							a(href="#", data-tab="3") Pending more info
						li
							a(href="#", data-tab="4") Denied
						li
							a(href="#", data-tab="5") Contributors

				div#tab-content.flex-5
					section#current-content.content.latest(data-tab="1")
						div.filter-div
							input#latest-filter(type="text", placeholder="Filter by keyword, tag, or user")
						ul.grid

					section.content.approved(data-tab="2")
						div.filter-div
							input#approved-filter(type="text", placeholder="Filter by keyword, tag, or user")
						ul.grid

					section.content.pending(data-tab="3")
						div.filter-div
							input#pending-filter(type="text", placeholder="Filter by keyword, tag, or user")
						ul.grid

					section.content.denied(data-tab="4")
						div.filter-div
							input#denied-filter(type="text", placeholder="Filter by keyword, tag, or user")
						ul.grid

					section.content.denied(data-tab="5")
						//-div.filter-div
							input#denied-filter(type="text", placeholder="Filter by keyword, tag, or user")
						ul.grid
							li herro


		//-footer#footer.header-footer
			.wrapper
				p footer
	script(src="js/libs/jquery.js")
	script(src="js/moderator.js")
</html>
