include html/jade-helpers.jade
!!! 5
head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	
	title Yellr
	meta(name="description", content="Yellr - Citizen engagement and journalism app")	
	link(rel="shortcut icon", href="img/favicon.ico")
	script(src="js/libs/modernizr.js")
	link(rel="stylesheet", href="style/one-pager.css")

body#one-pager
	a(href="#main", class="assistive-text") Skip to main content
	div.container


		header#header.header-footer
			.wrapper
				h1#h1 yellr
				p report for your community


		div#main
			div.wrapper

				section#about
					h2.op1 About Yellr
					p#about-p WXXI hopes to use this app’s success to expand its availability to other upstate and public media partners, deploy it in other key reporting areas, examine ways that this outreach could bring additional sustainability opportunities, and provide documentation of the way the aggregated content changes or changed diversity representation and audiences.
					<iframe width="480" height="360" src="//www.youtube.com/embed/7vyANa71gvU?rel=0" frameborder="0" allowfullscreen></iframe>

				div#divider1

				div#details

					//- citizen engagement
					section#engagement.flex-netbook
						div.flex-2
							h3.op2 Citizen engagement
							p The goal is to broaden audience engagement, primarily with younger, mobile and under-represented community members. The initial phase will focus on adolescents. Working with Action for a Better Community, a local Rochester nonprofit assisting low-income families, the project will help partners provide informational events to: neighborhood meetings in low-income areas; inner city neighborhood centers and YMCAs; refugee community groups and support agencies; agencies that comprise the Center for Community Health; and the Al Sigl Community of Agencies which promotes inclusion for the disabled.
						figure.flex-3
							img(src="img/_MG_2589.JPG")
				
					//- mobile app
					section#mobile-app.flex-netbook
						div.flex-1
							h3.op2 Mobile Application
							p The app will be available in English and Spanish, and its design will emphasize visual and intuitive prompts, accessibility and whole platform will bridge smartphone, SMS and web platforms. A consortium of community media and educational partners will collaborate to promote the technology, encourage participation and exchange and collaborate on the resulting content. These partners include the legacy African-American community station in Rochester, Hacks and Hackers, a local college’s department of adolescent education, and the journalism school at Rochester Institute of Technology.
						figure.flex-2
							img(src="img/screenshots/screenshot-1.png")
							figcaption Both Android and iOS versions are currently in development

					//- new aggregation
					section#aggregation
						h3.op2 News Aggregation
						p A pool of shared content would be available to support broadcast content including news coverage, informing community discussions within under-represented audiences, and in existing WXXI outreach programming, including a voter empowerment and information initiative, a media literacy program for ages 12-24, and a community engagement project around accessibility issues. A media campaign to build awareness will be rolled out online and via broadcast and social media around a working theme of “Share Your Story.” 


				section#get-involved
					h2 Get Involved
					a(href="https://github.com/hhroc/yellr") View the repo




		footer#footer.header-footer
			.wrapper
				h2 Partners
				p The Knight Foundation, in partnership with the Investigative News Network, launched the INNovation Fund in January 2014 to explore new innovations and revenue sources, while developing audience engagement techniques and stronger business models. This $1 million fund is part of a $5 million Knight Local Media Initiative focused on helping nonprofit news organizations establish long-term sustainability.
				ul#partners-list.list-style-none
					li
						a(href="#")
							img(src="img/partners/knight-logo-300.jpg", alt="Knight Foundation", width="300")
					li
						a(href="#")
							img(src="img/partners/Wxxi_logo.png", alt="WXXI")
					li
						a(href="#")
							img(src="img/partners/wdkx-logo.gif", alt="WDKX")
					li
						a(href="#")
							img(src="img/partners/inn-logo.png", alt="Investigative News Network")
					li
						a(href="#")
							img(src="img/partners/rit-logo.jpg", alt="Rochester Institute of Technology")
					li
						a(href="#")
							img(src="img/partners/nazareth-logo.png", alt="Nazareth College")
					li
						a(href="#")
							img(src="img/partners/hacks_hackers-logo.jpeg", alt="Hacks and Hackers")

	//-script(src="js/main.js")

</html>
