.tac {
  text-align: center;
}
.title {
  font-size: 1.75rem;
  margin: 1rem 0 2.5rem;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.created {
  &:before {
    display: block;
    content: "Created: ";
    color: $blue;
  }
  font-size: 0.875rem;
  margin-bottom: 0;
}


.deadline {
  &:before {
    display: block;
    content: "Deadline: ";
    color: $red;
  }
  font-size: 0.875rem;
  margin-bottom: 0;
}


.faded {
  color: #999;
}

.right-wrapper {padding: 2rem; }
.meta-div {display: none; }


.btn {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  margin: 0 1rem;
  transition: background 0.3s ease-out;
  @include hover();
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}


.form {
  .t2 {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
  }
  li {
    margin-bottom: 1.5rem;
    &:last-child {margin-bottom: 0; }
    input {margin-bottom: 0;}
  }
  label span {
    font-size: 0.875rem;
  }
  textarea {
    margin-bottom: 0.5rem;
  }
  .text-field,
  input[type="text"], input[type="password"], textarea {
    font-size: 1rem;
    padding: 0.25rem;
    width: 100%;
    // max-width: 20rem;
  }
  input[type="file"] {
    margin-bottom: 0.5rem;
  }
  em {
    display: inline-block;
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
    color: $dark-blue;
  }
  p {
    margin-bottom: 0.25rem;
  }
  .submit-btn {
    background: $blue;
    padding: 0.5rem 1.25rem;
    color: #eee;
    margin-bottom: 0;
    @include transition(background, 0.3s);
    &:hover {
      cursor: pointer;
      background: lighten($blue, 10%);
    }
  }
}
