.h1 {
  font-size: 3rem;
  font-weight: normal;
  margin: 0;
  // margin: 3rem 0 2rem;
}
.h2 {
  font-weight: bold;
  font-size: 1.125rem;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid;
  margin: 0;
}

.h3 {
  font-weight: bold;
  font-size: 1.125rem;
}
.h4 {
  font-size: 1.25rem;
  color: #666;
}



.header-with-controls {
  display: flex;
  align-items: baseline;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #aaa;
  margin: 3rem 0 2rem;
  h2, h3, h4, h5 {flex: 2; }
  nav {
    flex: 1;
    text-align: right;
    span {
      font-size: 0.875rem;
      margin-right: 0.5rem;
      padding: 0.25rem 0.5rem;
      letter-spacing: 1px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}





.overlay-container {
  max-width: 30rem;
  padding: 1rem 1rem 1.75rem;
  margin: 0 auto;
  background: #ebebeb;
  .t2 {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
  }
}

.tac {
  text-align: center;
}
.title {
  font-size: 1.75rem;
  margin: 1rem 0 2.5rem;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.created {
  &:before {
    display: block;
    content: "Created: ";
    color: $blue;
  }
  font-size: 0.875rem;
  margin-bottom: 0;
}


.deadline {
  &:before {
    display: block;
    content: "Deadline: ";
    color: $red;
  }
  font-size: 0.875rem;
  margin-bottom: 0;
}


.faded {
  color: #999;
}

.right-wrapper {padding: 2rem; }
.meta-div {display: none; }


.btn {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  margin: 0 1rem;
  transition: background 0.3s ease-out;
  @include hover();
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}
.primary-btn {
  display: block;
  font-size: 0.875rem;
  text-align: center;
  background: #ebebeb;
  color: $black;
  width: 80%;
  max-width: 10rem;
  padding: 0.5rem;
  border-radius: 4px;
  margin: 0 auto;
  transition: background 0.3s ease-out;
  &:hover {
    background: $yellow;
    cursor: pointer;
  }
}


.form {
  .t2 {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
  }
  li {
    margin-bottom: 1.5rem;
    &:last-child {margin-bottom: 0; }
    input {margin-bottom: 0;}
  }
  label span {
    font-size: 0.875rem;
  }
  textarea {
    margin-bottom: 0.5rem;
  }
  .text-field,
  input[type="text"], input[type="password"], textarea {
    font-size: 1rem;
    padding: 0.25rem;
    width: 100%;
    // max-width: 20rem;
  }
  input[type="file"] {
    margin-bottom: 0.5rem;
  }
  em {
    display: inline-block;
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
    color: $dark-blue;
  }
  p {
    margin-bottom: 0.25rem;
  }
  .submit-btn {
    background: $blue;
    padding: 0.5rem 1.25rem;
    color: #eee;
    margin-bottom: 0;
    @include transition(background, 0.3s);
    &:hover {
      cursor: pointer;
      background: lighten($blue, 10%);
    }
  }
}
