.collections-grid {
  @include cf();
}
.collections-gi {
  display: inline-block;
  vertical-align: top;
  min-width: 20rem;
  width: 30%;
  float: left;
  background: #eee;
  padding: 1rem;
  margin: 0 1rem 1rem 0;
}



#assignment-collection-list {
  background: #eee;
  li {
    padding: 1rem 0.875rem;
    border-bottom: 1px solid #ccc;
  }
 .media-text {
  font-size: 1.25rem;
  margin-bottom: 0;
 }
}

.assignment-collection-actions {
  text-align: right;
}

.remove-btn {
  color: #aaa;
  transition: color 0.3s ease-out;
  &:hover {
    cursor: pointer;
    color: #333;
  }
}




.overlay-container {
  max-width: 30rem;
  padding: 1rem 1rem 1.75rem;
  margin: 0 auto;
  background: #ebebeb;
  .t2 {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
  }
}

.page-controls {
  margin-bottom: 3rem;
}

.submit-label {
  display: block;
  text-align: right;
}

#new-collection-btn {
  background: $yellow;
  &:hover {
    background: $light-yellow;
  }
}

#delete-collection-btn {
  background: #ccc;
  &:hover {
    background: $red;
  }
}


.collections-list {
  list-style: none;
}


.no-collections-li {
  color: #888;
  h3 {margin: 0; }
}
