#image-upload.btn {
  background: $blue;
  color: #fff;
  margin-left: 0;
}

#survey-answers-list {
  li {
    list-style-type: disc;
    margin: 1rem 0 1rem 2rem;
  }
}

#deadline-container {
  .inline-block {
    vertical-align: top;
  }
}

#deadline {
  &:before {
    content: "Deadline: ";
  }
}

#choices-container {
  .h4 {
    margin-bottom: 2rem;
    display: block;
  }
  input {
    font-size: 1.25rem;
    padding: 0.25rem;
    margin: 0.75rem 0 2rem;
  }
}


#assignment-question-type {
  margin-bottom: 2.5rem;
  .h3 {
    display: inline-block;
  }
  input[type="radio"] {
    margin: 0 0.5rem;
  }
}

#tabs-content {
  padding-right: 3rem;
}




.question-container {
  form {
    padding-top: 1.5rem;
    border-top: 1px solid #aaa;
    margin-bottom: 3rem;
    &:first-child {
      padding-top: 0;
      border: none;
    }
  }
  textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 2rem;
    border: none;
    background: #ececec;
    transition: background 0.3s ease-out;
    &:focus {
      background: #fff;
    }
  }
}

.question_text {
  font-size: 2.25rem;
}

.question_description {
  font-size: 1.5rem;
}

#add-language {
  display: inline-block;
  padding: 0.75rem 0.5rem;
  margin-bottom: 1.25rem;
  transition: color 1.3s ease-out;
  &:hover {
    cursor: pointer;
    color: #111;
  }
}

.tab-input {
  display: none;
}

#assignment-tabs {
  .tab {
    display: block;
    @extend #add-language;
    border: 1px solid #fff;
  }
  // .tab-input:checked {
  //   border-color: #aaa;
  //   // border: 1px solid #aaa;
  //   border-left: 2px solid #fff;
  //   position: relative;
  //   left: -1px;
  // }
}
