// these are styles that apply to the entire dashboard
// where they simply can't be categorized as belonging to a single page

.h1 {
  font-size: 3rem;
  font-weight: normal;
}
.h2 {
  font-weight: bold;
  font-size: 1.125rem;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid;
}
.raw-feed-header {
  margin-bottom: 2rem;
  .h1 {
    display: inline-block;
    margin-right: 1.75rem;
    margin: 0 1.75rem 0 0;
  }
}

#auto-update {
  display: inline-block;
  span {
    font-size: 0.875rem;
    font-weight: bold;
  }
  input {
    margin: 0 0.75em 0 0;
  }
}


.feed-filter-div {
  display: inline-block;
  background: #eee;
  padding: 1.5rem 2rem 1rem;
  margin-bottom: 1.5rem;
  .h2 {
    color: #555;
    max-width: none;
    border-color: #aaa;
    margin-bottom: 1.75rem;
  }
}

.filter-control {
  display: inline-block;
  vertical-align: bottom;
  padding-right: 3rem;
  &:last-child{padding-right: 0;}
  label {padding-right: 0.75rem; }
  input {margin-right: 0.35rem; }
}

.filter-type {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}


.feed-sizer {
  width: 10%;
}
.feed-gutter {
  width: 1.5%;
}



#left {
  max-width: 12.25rem; // 196px
  min-width: 11.5rem; // 184px
  position: relative;
  background: $black;
}


#right {position: relative; }





#overlay-div-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  z-index: 1000;
  overflow: hidden;
  padding-top: 25%;
  @include transition(background, 0.3s);
  &.active {
    width: 100%;
    background: rgba($black, 0.9);
  }
  @include mq(netbook) {
    padding-top: 10%;
  }
  form {
    max-width: 30rem;
    margin: 0 auto;
  }
}
