#editor-collections-list {
  .media-text {
    font-size: 1.25rem;
  }
}

#preview-btn {
  background: rgba($blue, 0.6);
}

.editor-container {
  position: relative;
  .t3 {
    text-decoration: underline;
  }
}
#editor-controls {
  text-align: right;
  padding: 0.5rem 0;
}
.editor-tab {
  padding-right: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  &.active {
    z-index: 15;
  }
  &.inactive {
    z-index: -10;
  }
}

#editor-preview-container {
  // bottom: 0;
  padding-bottom: 4rem;
}
