

.latest-feed-list {
  li {
    @include flexbox();
    max-width: 30rem;
    border: 1px solid #ccc;
    margin-bottom: 1.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.media-preview {
  @include flex(3);
  img {
    display: block;
    margin: 0 auto;
  }
}
.user-preview {
  @include flex(1);
  border-left: 1px solid #ccc;
}


.media-file-image {
  background: #222;
  img {
    display: block;
  }
  figcaption {
    background: #fff;
    padding: 0.5rem 0;
  }
}

.media-text {
  font-size: 2.5rem;
  line-height: 1.2;
}

.feed-filter {
  margin-bottom: 2rem;
  label {
    input[type="radio"], input[type="checkbox"] {
      margin-right: 0.5rem;
    }
  }
}

.feed-controls-wrapper {
  background: #d2d2d2;
  padding: 1rem 1rem 2rem;
}

// .filter-wrapper {
//   margin-bottom: 2rem;
// }
// .filter-form {
//   label {margin-right: 1rem; }
//   input[type="text"] {font-size: 1rem; }
//   input[type="checkbox"], input[type="radio"] {
//     margin-right: 0.5rem;
//   }
// }

// .filter-toggle {
//   display: inline-block;
//   text-transform: uppercase;
//   padding: 0.75rem 1rem 0.5rem;
//   &:hover {cursor: pointer; }
// }
// .filter-list {
//   padding: 1.25rem 0.75rem 1.25rem;
//   @include flexbox();
//   li {@include flex(1); }
// }
// .filter-toggle, .filter-list {
//   background: #ddd;
// }
// .filtered-out {
//   opacity: 0.3;
//   // display: none;
// }


.grid-sizer {
  width: 32%;
}
.gutter-sizer {
  width: 1.5%;
}
.gi {
  margin: 0 3rem 3rem 0;
}
// Story item
.story-item {
  position: relative;
  padding: 2rem 1rem 0.75rem;
  border: 1px solid #ddd;
}

.media-preview {
  margin-bottom:0.5rem;
  img {display: block; }
  &:hover {cursor: pointer; }
}

.description {
  font-size: 0.875rem;
}




.story-meta {
  background: #eee;
  border: 1px solid #ddd;
}

.source {
  &:before {content: "Source: "; }
  font-size: 0.75rem;
  color: #444;
  margin-bottom: 0;
  line-height: 2.5;
  padding-left: 1rem;
  @include transition(color, 0.3s);
  &:hover {color: #777; }
  a {
    text-decoration: none;
    color: inherit;
    &:hover {text-decoration: underline; }
  }
}

.options-list {
  text-align: right;
  font-size: 0.875rem;
  list-style: none;
  @include flexbox();
  li {
    @include flex(1);
    text-align: center;
    color: #aaa;
    border-left: 1px solid #ddd;
    &:hover {
      background: #bbb;
      color: #fff;
      cursor: pointer;
    }
  }
  i {
    padding: 0.5rem 1rem;
    @include transition(background, 0.3s);
    &.fa-folder:hover {
      background: $blue;
    }
    &.fa-comment:hover {
      background: $green;
    }
    &.fa-flag:hover {
      background: $red;
    }
  }
}
