#new-assignment-section {
  padding: 1rem 1rem 1.75rem;
  background: #ebebeb;
  max-width: 30rem;
  margin: 0 auto;
  .t2 {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
  }
}



#question-text-preview {
  font-size: 2rem;
  line-height: 1.2;
  margin: 1.25rem 0 2rem;
  color: #aaa;
  transition: color 0.3s ease-out;
  &.active {
    color: #333;
  }
}


.form-actions {
  margin-top: 1.25rem;
  .action {
    font-size: 0.875rem;
    text-decoration: underline;
    margin-right: 0.5rem;
    &:hover {
      cursor: pointer;
      text-decoration: none;
    }
  }
  .flex-3 {
    text-align: right;
  }
}


#cancel-assignment-btn {
  color: $red;
}

#save-assignment-btn {
  color: $blue;
}

#post-assignment-btn {
  background: $blue;
  color: #eee;
  display: inline-block;
  font-size: 0.875rem;
  padding: 0.5rem 1.75rem;
  transition: background 0.3s ease-out;
  &:hover {
    cursor: pointer;
    background: lighten($blue, 10%);
  }
}


#extra-assignment-fields {
  .flex-2 {
    padding-left: 1rem;
    p {
      vertical-align: bottom;
    }
  }
}

#lifetime {
  max-width: 2.25rem;
  + span {
    font-size: 0.875rem;
    background: tomato;
  }
}
#unit-of-time-list {
  list-style: none;
  li {
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
  }
}


#supported-languages {
  border-right: 1px solid #aaa;
  padding-right: 1rem;

  li {
    margin-bottom: 0.5rem;
    padding: 0.25rem 0.75rem;
    font-size: 0.875rem;
    &:hover {
      cursor: pointer;
    }
    &.default {
      border: 1px solid $green;
      background: rgba($green, 0.2);
    }
  }
}




#add-language-btn {
  text-decoration: underline;
  font-size: 0.75rem !important;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}



.question-answer-input {
  max-width: 18rem;
}

.form-fields-list {
  list-style-type: none;
  margin: 1.5rem 0 1rem;
  li {
    margin-bottom: 0.75rem;
    &:last-child {margin-bottom: 0;}
  }
}

#post-question-form {
  textarea {
    width: 100%;
    max-width: none;
  }
}

#post-question-btn {
  display: block;
  font-size: 0.875rem;
  text-align: center;
  background: #ebebeb;
  color: $black;
  width: 80%;
  max-width: 10rem;
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: 4px;
  @include transition(background, 0.3s);
  &:hover {
    background: $yellow;
    cursor: pointer;
  }
}






.add-photo-wrapper {
  border-left: 1px solid #ccc;
  padding-left: 1rem;
}

.extra-fields {
  margin-bottom: 0 !important;
  label {
    margin-right: 0.8rem;
  }
}
