.mod-h1 {
  margin: 0;
  line-height: 1;
  font-size: 1rem;
  background: darken($yellow, 6%);
  padding: 0.25rem 1rem;
  text-align: center;
}


.profile-overview {
  background: $yellow;
  padding: 1rem;
}
.profile-picture-wrapper {
  max-width: 6rem;
  max-height: 6rem;
  border-radius: 6rem;
  overflow: hidden;
  margin: 0 auto 1rem;
}
.profile-deets {
  text-align: center;
  letter-spacing: 0.5px;
}
.moderator-name {
  margin: 0 0 0.25rem;
  font-size: 1rem;
}
.moderator-organization {
  margin: 0;
  font-size: 0.875rem;
  font-weight: normal;
}


#dash-nav {
  background: $black;
  padding: 1rem 0 0.5rem;
  a {
    text-decoration: none;
    color: inherit;
    display: block;
    font-size: 0.875rem;
    padding: 0.35rem 0.25rem 0.35rem 1rem;
    line-height: 1;
    @include transition(background, 0.2s);
    &:hover {background: lighten($black, 10%); }
  }
  .fa {
    margin-right: 0.35rem;
  }
  li {list-style: none; }
}
.nav-list {
  padding-bottom: 0.875rem;
  border-bottom: 1px solid lighten($black, 15%);
  margin-bottom: 0.875rem;
  font-weight: bold;
  color: #fff;
  &:last-child {
    border: none;
    margin-bottom: 0;
  }
}
.primary-list li {
  margin-bottom: 1rem;
  &:last-child {margin-bottom: 0;}
}

.inner-nav-list {
  font-weight: normal;
  padding-left: 1rem;
  color: $white;
}
