.add-to-collection:hover {
  background: $blue !important;
}


.leave-feedback:hover {
  background: $green !important;
}


.flag-as-inappropriate:hover {
  background: $red !important;
}


.remove-from-responses {}

.assignment-reply-gi {
  margin-bottom: 2rem;
}
