// base styles
@import "../../common/style/pieces/mixins";
@import "../../common/style/pieces/normalize";
@import "../../common/style/pieces/base";
@import "../../common/style/pieces/classes";

// libraries
@import "../../common/style/libs/font-awesome/font-awesome";

// yellr specific
@import "../../common/style/theme/vars";
@import "../../common/style/theme/classes";
@import "../../common/style/theme/typography";

#moderator {
  &.login {
    background: $yellow;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    .container {
      height: 100%;
    }
  }
}


@import "login";


// email styles

#inbox {
  margin: 2.5rem 0;
}

.mail-list {
  $border_color: #ddd;
  @include hover();
  font-size: 0.9rem;
  // border-right: 1px solid $border_color;
  // border-left: 1px solid $border_color;
  li {
    @include flexbox();
    font-weight: bold;
    padding: 0.65rem 1.25rem 0.6rem;
    border-top: 1px solid $border_color;
    &:last-child {
      border-bottom: 1px solid $border_color;
    }
  }
  .sender {
    font-size: 0.9rem;
    margin: 0;
    @include flex(2);
  }
  .subject  {@include flex(5); }
  .date     {@include flex(1); }
  .sender, .subject, .date {padding: 0 0.75rem; }
}

#read-mail-list {
  li {
    background: #ebebeb;
    color: #888;
    font-weight: normal;
  }

  .sender {
    font-weight: normal;
  }
  // .subject {
  // }
}

#view-message {
  max-width: 30rem;
  margin: 0 auto;
  padding: 1rem;
  background: #ebebeb;
}






























.form {
  li {
    margin-bottom: 1.5rem;
    &:last-child {margin-bottom: 0; }
    input {margin-bottom: 0;}
  }
  label span {
    font-size: 0.875rem;
  }
  .text-field,
  input[type="text"], input[type="password"], textarea {
    font-size: 1rem;
    padding: 0.25rem;
    width: 100%;
    // max-width: 20rem;
  }
  input[type="file"] {
    margin-bottom: 0.5rem;
  }
  em {
    display: inline-block;
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
    color: $dark-blue;
  }
  p {
    margin-bottom: 0.25rem;
  }
  .submit-div {
    @include cf();
  }
  .submit-btn {
    background: $blue;
    padding: 0.5rem 1.25rem;
    color: #eee;
    float: right;
    margin-bottom: 0;
    @include transition(background, 0.3s);
    &:hover {
      cursor: pointer;
      background: lighten($blue, 10%);
    }
  }
}




#new-message-btn {
  background: $yellow;
  padding: 0.5rem 1.25rem;
  border-radius: 4px;
  @include transition(background, 0.3s);
  &:hover {
    cursor: pointer;
    background: $light-yellow;
  }
}


#send-message-form {
  padding: 1rem;
  background: #ebebeb;
  max-width: 25rem;
  .t2 {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
  }
  .block {
    margin-bottom: 0.5rem;
  }
  .submit-div {
    margin: 1rem 0 0;
  }
}






















#post-question-btn {
  display: block;
  font-size: 0.875rem;
  text-align: center;
  background: #ebebeb;
  color: $black;
  width: 80%;
  max-width: 10rem;
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: 4px;
  @include transition(background, 0.3s);
  &:hover {
    background: $yellow;
    cursor: pointer;
  }
}


#overlay-div-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  z-index: 1000;
  overflow: hidden;
  padding-top: 25%;
  @include transition(background, 0.3s);
  &.active {
    width: 100%;
    background: rgba($black, 0.9);
  }
  @include mq(netbook) {
    padding-top: 15%;
  }
  form {
    max-width: 30rem;
    margin: 0 auto;
  }
}


#post-question-form {
  // max-width: 30rem;
  // margin: 0 auto;
  padding: 1rem;
  background: #ebebeb;
  div {
    margin-bottom: 0.875rem;
    &:last-child {
      margin-bottom: 0;
      @include cf();
    }
  }
  textarea {
    width: 100%;
    max-width: none;
  }
  .icon {
    margin-right: 0.5rem;
    .fa {vertical-align: middle; }
    .fa-plus {margin-right: 0.25rem; }
    .fa-image {font-size: 3rem; }
  }
  .submit-btn {
    background: $blue;
    padding: 0.5rem 1.25rem;
    color: #eee;
    float: right;
    margin-bottom: 0;
    &:hover {
      cursor: pointer;
    }
  }
}










.latest-feed-list {
  li {
    @include flexbox();
    max-width: 30rem;
    border: 1px solid #ccc;
    margin-bottom: 1.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.media-preview {
  @include flex(3);
  img {
    display: block;
    margin: 0 auto;
  }
}
.user-preview {
  @include flex(1);
  border-left: 1px solid #ccc;
}



















.meta-div {
  display: none; // just to be safe
}

#left {
  max-width: 12.25rem; // 196px
  min-width: 11.5rem; // 184px
  position: relative;
  background: $black;
}


.mod-h1 {
  margin: 0;
  line-height: 1;
  font-size: 1rem;
  background: darken($yellow, 6%);
  padding: 0.25rem 1rem;
  text-align: center;
}


.profile-overview {
  background: $yellow;
  padding: 1rem;
}
.profile-picture-wrapper {
  max-width: 6rem;
  max-height: 6rem;
  border-radius: 6rem;
  overflow: hidden;
  margin: 0 auto 1rem;
}
.profile-deets {
  text-align: center;
  letter-spacing: 0.5px;
}
.moderator-name {
  margin: 0 0 0.25rem;
  font-size: 1rem;
}
.moderator-organization {
  margin: 0;
  font-size: 0.875rem;
  font-weight: normal;
}


#dash-nav {
  background: $black;
  padding: 1rem 0 0.5rem;
  a {
    text-decoration: none;
    color: inherit;
    display: block;
    font-size: 0.875rem;
    padding: 0.35rem 0.25rem 0.35rem 1rem;
    line-height: 1;
    @include transition(background, 0.2s);
    &:hover {background: lighten($black, 10%); }
  }
  .fa {
    margin-right: 0.35rem;
  }
  li {list-style: none; }
}
.nav-list {
  padding-bottom: 0.875rem;
  border-bottom: 1px solid lighten($black, 15%);
  margin-bottom: 0.875rem;
  font-weight: bold;
  color: #fff;
  &:last-child {
    border: none;
    margin-bottom: 0;
  }
}
.inner-nav-list {
  font-weight: normal;
  padding-left: 1rem;
  color: $white;
}




#right {
  position: relative;
  // section.right-wrapper {
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  width: 100%;
  //  opacity: 0;
  //  @include transition(opacity, 0.3s);
  //  &.current-content {
  //    opacity: 1;
  //  }
  // }
}
.right-wrapper {
  padding: 2rem;
}

.filter-wrapper {
  margin-bottom: 2rem;
}
.filter-form {
  label {margin-right: 1rem; }
  input[type="text"] {font-size: 1rem; }
  input[type="checkbox"], input[type="radio"] {
    margin-right: 0.5rem;
  }
}

.filter-toggle {
  display: inline-block;
  text-transform: uppercase;
  padding: 0.75rem 1rem 0.5rem;
  &:hover {cursor: pointer; }
}
.filter-list {
  padding: 1.25rem 0.75rem 1.25rem;
  @include flexbox();
  li {@include flex(1); }
}
.filter-toggle, .filter-list {
  background: #ddd;
}
.filtered-out {
  opacity: 0.3;
  // display: none;
}


.grid-sizer, .gi {
  width: 32%;
}
.gutter-sizer {
  width: 1.5%;
}
.gi {
  @include transition(background, 0.3s);
  &:hover {
    background: lighten($yellow, 15%);
  }
}
// Story item
.story-item {
  position: relative;
  padding: 0.75rem;
  border: 1px solid #eee;
}

.source {
  &:before {content: "Source: "; }
  font-size: 0.75rem;
  text-align: right;
  color: #bbb;
  margin-bottom: 0;
  @include transition(color, 0.3s);
  &:hover {color: #777; }
  a {
    text-decoration: none;
    color: inherit;
    &:hover {text-decoration: underline; }
  }
}

.media-preview {
  margin-bottom:0.5rem;
  img {display: block; }
  &:hover {cursor: pointer; }
}

.description {
  font-size: 0.875rem;
}

.tags-list {
  list-style: none;
  font-size: 0.875rem;
  margin-bottom:0.75rem;
  li {
    @include transition(color, 0.3s);
    color: #aaa;
    display: inline-block;
    vertical-align: top;
    margin-right: 0.25rem;
    &:hover {color: #555; }
    &:before {content: "#"; }
  }
}

.options-wrapper {
  background: #eee;
  border: 1px solid #ddd;
  @include cf();
}
.options-list {
  font-size: 0.875rem;
  list-style: none;
  float: right;
  @include flexbox();
  li {
    @include flex(1);
    text-align: center;
    color: #aaa;
    border-left: 1px solid #ddd;
    &:hover {
      background: #bbb;
      color: #fff;
      cursor: pointer;
    }
  }
  i {
    padding: 0.5rem 0.75rem;
    @include transition(background, 0.3s);
    &.fa-folder:hover {
      background: $blue;
    }
    &.fa-comment:hover {
      background: $green;
    }
    &.fa-flag:hover {
      background: $red;
    }
  }

}
