// base styles
@import "../../common/style/pieces/mixins";
@import "../../common/style/pieces/normalize";
@import "../../common/style/pieces/base";
@import "../../common/style/pieces/classes";

body {
  font-family: "Arial", sans-serif;
}

// libraries
@import "../../common/style/libs/font-awesome/font-awesome";

// yellr specific
@import "../../common/style/theme/vars";


@import "classes";
@import "login";
@import "messages";
@import "sidebar";
@import "feed";
@import "assignments";
@import "create-assignment";
@import "dashboard";
@import "collections";
@import "write-article";
