// base styles
@import "../../common/style/pieces/mixins";
@import "../../common/style/pieces/normalize";
@import "../../common/style/pieces/base";
@import "../../common/style/pieces/classes";

// libraries
@import "../../common/style/libs/font-awesome/font-awesome";

// yellr specific
@import "../../common/style/theme/vars";
@import "../../common/style/theme/classes";
@import "../../common/style/theme/typography";


@import "classes";
@import "login";
@import "messages";
@import "sidebar";
@import "latest-submissions";
@import "dashboard";


.cancel-question-btn-wrapper {
  text-align: right;
}

#cancel-question-btn {
  background: $red;
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  opacity: 0.6;
}


.question-answer-input {
  max-width: 18rem;
}
.form-fields-list {
  list-style-type: none;
  li {
    margin-bottom: 0.75rem;
  }
}

#post-question-form {
  // max-width: 30rem;
  // margin: 0 auto;
  padding: 1rem;
  background: #ebebeb;
  // div {
  //   margin-bottom: 0.875rem;
  //   &:last-child {
  //     margin-bottom: 0;
  //     @include cf();
  //   }
  // }
  textarea {
    width: 100%;
    max-width: none;
  }
  .icon {
    margin-right: 0.5rem;
    .fa {vertical-align: middle; }
    .fa-plus {margin-right: 0.25rem; }
    .fa-image {font-size: 3rem; }
  }
  .submit-btn {
    background: $blue;
    padding: 0.5rem 1.25rem;
    color: #eee;
    // float: right;
    margin-bottom: 0;
    &:hover {
      cursor: pointer;
    }
  }
}
